---
layout: default
title: Director - Dr. Carol A. Berry, Ed.D. | Biographies
path: ../../..
body_class:
social: {
    title: "Director, Dr. Carol A. Berry, Ed.D",
    description: "Dr. Carol A. Berry is the Director of the Defense Activity for Non-Traditional Education Support (DANTES) and has over 34 years of public service in the field of voluntary education."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='contact.jpg' slide_title='Biographies' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine flush-top">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/contact/index.html">Contact DANTES</a></li>
                                <li><a href="{{ page.path }}/contact/bios/director/index.html">Dr. Berry Bio</a></li>
                            </ul>
                            {% include social.html %}

                            <br />
                            <br />
                            
                            <h1><strong>DANTES Leadership</strong></h1>
                            <h2>Director</h2>
                            
                            <br />
                            <br />
                            
                            <p>
                            	<img src="{{ page.path }}/_images/elements/bio-carol-a-berry.jpg" class="left inline" />
                                <strong>Dr. Carol A. Berry, Ed.D.</strong>
                                
                                <br /><br />

                                Dr. Carol A. Berry is the Director of the Defense Activity for Non-Traditional Education Support (DANTES) and has over 34 years of public service in the field of voluntary education. From 1979-2003, Dr. Berry served as an Education Services Specialist with the Navy's Voluntary Education Program, where she was in charge of education programs in Keflavik Iceland, Norfolk and Virginia Beach VA. An innovator, Dr. Berry is responsible for a number of process improvement projects that have become standard throughout the Navy's Voluntary Education Program. Of significant note was the development of an INTERNET needs assessment survey and analysis program that became the standard for all Needs Assessments in the Navy.
                            </p>
                            <p>As the Southeast Regional Director, Navy College Programs, she oversaw the management and execution operations in Navy College Offices throughout the southeast quadrant of the US, including those in Virginia, Tennessee, South Carolina, Georgia, Florida, Guantanamo Bay Cuba, Mississippi, Maryland, Washington D.C. and Louisiana.</p>
                            <p>Dr. Berry has received several notable awards, the Department of the Navy Award for Meritorious Civilian Service for her contributions to Navy Voluntary Education Services, the Kenn Smith Award for Navy Campus Excellence – Educator of the Year, and numerous awards and letters of commendation for outstanding performance and innovative projects. She is also the recipient of the President's Award from the Virginia Advisory Council on Military Education (VA ACME) and was named as the Most Notable Alumna by the School of Education, Regent University.</p>
                            <p>Her professional affiliations include Past President, Virginia Advisory Council on Military Education; member of Council of College and Military Educators (CCME), Hampton Roads Voluntary Education Advisory Group, the American Counseling Association, Military Educators and Counseling Association, National Career Development Association, and National Employment Counselors Association.</p>
                            <p>She has served on a number of Task Force projects at various levels of the DoD and Navy, including the Academic Credit Task Force, DOD Principles of Distance Learning, DANTES Education Services Advisory Panel, MIVER Program Task Force, Navy Voluntary Education - Navy College Team 2000, Navy College Program (NCP) Advisory Board, Hampton Roads Voluntary Education Advisory Group – serving as Chairperson and as chair for the Strategic Planning and Library & Technology Sub-Committees, and the Electronics Curriculum Advisory Committee for Tidewater Community College.</p>
                            <p>A published author, she has written several articles in professional publications and has published her dissertation titled "The Assessment of Learner Autonomy and Persistence in Adults Enrolled in Online Courses". She has authored numerous articles for national and local publications concerning various education related topics, programs and services provided through the voluntary education programs.</p> 
                            <p>Dr. Berry is a sought after speaker, having presented at DoD Worldwide Conferences, CCME, VA ACME, COMESC, and other professional settings. She has been cited in "Remembering those who have made a difference in United States Military Voluntary Education"; by Dr. Clinton Anderson, published July 2006.</p>
                            <p>Dr. Berry holds a baccalaureate degree in Biological Sciences and Master of Science degree in Education from Hofstra University and earned her Doctor of Education degree from Regent University.</p> 
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>