---
layout: default
title: U.S. Coast Guard &mdash; Financial Assistance &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "Tuition Assistance - Coast Guard",
    description: "The Tuition Assistance (TA) program provides financial assistance for voluntary off-duty education programs in support of a Soldier's professional and personal self-development goals."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-tuition_assistance-coast_guard.jpg' slide_title='U.S. Coast Guard Tuition Assistance' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/index.html">Financial Assistance</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/coast-guard/index.html">U.S. Coast Guard</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_coast_guard-large.png" alt="U.S. Coast Guard">
                                <br /><br />
                                <a href="http://www.uscg.mil/hq/capemay/Education/ta-a.asp#applying" target="_blank" class="button button-grey button-icon-arrow-right"><strong>Go to Website</strong></a>
                            </div>
                            <h1>TA is available to all uniformed personnel (regular and drilling Reservists), civilian Coast Guard employees.</h1>
                            <p>Tuition assistance (TA) is money the Coast Guard pays to colleges and universities for the tuition costs of courses you take from them. TA is available to all uniformed personnel (regular and drilling Reservists), civilian Coast Guard employees, and commissioned Public Health Service officers who are serving with the Coast Guard.</p>

                            <br />

                            <ul class="accordion accordion-flush-to-hr">
                                <li>
                                    <div class="title">
                                        <h5>Tuition Cost and Information</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p class="smallish"><strong>For those who meet the eligibility criteria, the Coast Guard currently pays tuition costs for academic courses as follows:</strong></p>

                                        <ul>
                                            <li>up to $250 per semester hour or</li>
                                            <li>up to $166.67 per quarter hour and</li>
                                            <li>up to a maximum of $4,500 per fiscal year</li>
                                        </ul>
                                        <br />

                                        <p class="smallish"><em>(Currently, the Coast Guard does not authorize TA for vocational or clock-hour courses.)</em></p>
                                        <p class="smallish">All courses for which you want to use TA must be taken from nationally or regionally accredited institutions.  Also, to qualify for TA, the credit you earn for a course must be required for your degree program.</p>
                                        <p class="smallish">Currently, TA is not authorized for courses for which you Continuing Education Units (CEUs), Professional Development Units (PDUs), non-accredited clock hours, or non-accredited contact hours.</p>

                                        <ul>
                                            <li>TA money goes directly to the institution you're taking courses from, not to you</li>
                                            <li>TA can only be used for tuition and tuition-related costs</li>
                                            <li>TA must be requested before you pay for a course; you will not be reimbursed by the Coast Guard for courses already taken</li>
                                        </ul>

                                        <br />
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>Eligibility &amp; Use Rules</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p class="smallish"><strong>The following conditions are now in effect, on top of those which previously existed (under the horizontal line below).</strong></p>

                                        <ul>
                                            <li>Only uniformed personnel who are on active duty (including Reservists on ADOS or EAD contracts) are eligible</li>
                                            <li>Only uniformed personnel in pay grades E-6 and below (as of the first day of the course) are eligible</li>
                                            <li>TA may only be used to pay for undergraduate courses</li>
                                            <li>TA may only be used to pay for up to 6 semester credits (or up to 9 quarter credits) per fiscal quarter</li>
                                        </ul>

                                        <br />

                                        <p class="smallish"><strong>In addition, applicants must:</strong></p>

                                        <ul>
                                            <li>be making satisfactory progress toward completion of qualifications for their billets</li>
                                            <li>be making satisfactory progress toward watch-standing qualifications</li>
                                            <li>demonstrate satisfactory proficiency in their craft</li>
                                            <li>have demonstrated satisfactory conduct during the last six months</li>
                                        </ul>

                                        <br />

                                        <p class="smallish">Before commands can approve a TA application, "COs, OICs, or the first O-6/GS-15 in the chain-of-command" must ensure that applicants meet the above eligibility criteria (see ALCOAST 175/13, paragraph 4).  Commands are free to use any means they want to record the fact that they've verified that the above criteria were met.</p>

                                        <ul>
                                            <li>If you're applying for TA to work toward an undergraduate degree (associate's or bachelor's level) and you're using TA for the first time, you must have requested an education assessment and received a transcript from the Coast Guard Institute within the previous four years
                                            <li>With one exception, TA may only be used for courses that are part of a degree program at a regionally- or nationally-accredited institution of higher learning
                                            <li>The exception to the rule above is that TA may be used for foreign language courses which support the Coast Guard's foreign language program.  These are courses which help you acquire the ability to speak and write in a "strategic language" as identified by the foreign language program.  Such courses must be offered by regionally- or nationally-accredited institutions of higher learning.  Non-academic language programs are not funded with TA
                                            <li>TA may only be used for courses you receive transferable college credit for.  This means you can't use TA if you receive CEUs (continuing education units), PDUs (professional development units), clock hours, or the like</li>
                                            <li>TA use may be limited or denied by individual commands based on factors such as your primary duties, staffing levels, etc</li>
                                            <li>If you're taking courses from a SOC (Service members Opportunity Colleges) institution, you must obtain a SOC Student Agreement after you complete 12 credits</li>
                                            <li>A passing grade for an undergraduate course is a "D"; for graduate courses, it's a "C"</li>
                                            <li>Coast Guard personnel (military or civilian) may not use TA and receive any GI Bill benefit for the same course(s)</li>
                                        </ul>

                                        <br />

                                        <p class="smallish">In addition to the rules above, TA is not authorized for any of the following:</p>

                                        <ul>
                                            <li>Courses you audit (i.e., don't get a grade for)</li>
                                            <li>Courses you previously took using TA funds</li>
                                            <li>Physical education or recreation courses not required by your college/university to complete your degree</li>
                                            <li>Courses being paid for by the Coast Guard as part of a higher education program (e.g., ACET, graduate school, etc.)</li>
                                            <li>Undergraduate students whose GPA is less than 2.0 for the previous 12 credits paid for with TA</li>
                                            <li>Graduate students whose GPA is less than 3.0 for the previous 12 credits paid for with TA</li>
                                            <li>A second degree at the same or lower educational level (if the first degree was paid for with TA)</li>
                                            <li>Contract or Non-Appropriated Fund (NAF) employees</li>
                                            <li>Personnel awaiting a punitive discharge, in confinement, on appellate leave, or awaiting an administrative separation with an other-than-honorable or general (under honorable conditions) discharge</li>
                                            <li>Personnel convicted by civil courts in the United States or abroad, serving sentences in civilian prisons in the United States or abroad, or both</li>
                                        </ul>

                                        <br />
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>Fees Covered by TA</h5>
                                    </div>
                                    <div class="content">
                                    	<br />

                                        <p class="smallish"><strong>Many people who are taking college courses using TA don't realize that certain fees are covered by TA.  These include:</strong></p>

                                        <ul>
                                            <li>Fees for the laboratory part of a certain courses (e.g., chemistry course, to cover chemicals and broken glassware)</li>
                                            <li>Studio fees (e.g., to pay for models or consumables like paints, clay, darkroom chemicals, etc.)</li>
                                            <li>Shop fees (e.g., for things like wood, broken tools, etc.)</li>
                                            <li>Library fees, and Internet or technology fees required for distance learning courses</li>
                                        </ul>

                                        <br />

                                        <p class="smallish">Fees and costs not directly related to the course you are taking (e.g., fees all students must pay regardless of the course they're taking) are not covered by TA.  These include things like:</p>

                                        <ul>
                                            <li>Application, entrance, registration, or enrollment fees, record maintenance fees, student activity fees, student ID fees, parking fees, general technology fees, equipment (e.g., PDAs), manuals, or books</li>
                                            <li>Non-consumable materials, assembled items available commercially (e.g., computers, tools, TVs, etc.)</li>
                                            <li>Flight time, flying lessons, or non-credit aviation courses</li>
                                            <li>Internet or technology fees all students must pay</li>
                                            <li>Personal/home Internet service fees</li>
                                            <li>The cost of books, supplies, tools or equipment required for specific courses but not included in a course-related fee</li>
                                        </ul>

                                        <br />

                                        <p class="smallish">If TA doesn't cover the whole cost of a course and if you're eligible for benefits under either the Montgomery GI Bill (Active Duty) or the Post-9/11 GI Bill you can use an option called Top-up. Top-up allows you to get reimbursed for any costs not covered by TA.</p>
                                        <p class="smallish">Tuition and certain fees not covered by TA will show up on your TA authorization under the heading STU SHARE (student share), which means you have to pay for them.  However, if you want to use Top-up to cover those costs, just print out a copy of your TA authorization, print TOP UP across the top of the form, and send it to the Department of Veterans' Affairs (DVA).</p>
                                        <p class="smallish">If you had to pay for fees you couldn't list on your TA request, you may receive Top-up reimbursement for them, as well. But you will need documentation showing that those fees were not included on your TA authorization and send it with the documentation described above to the DVA.</p>
                                        <p class="smallish">Your 36-month GI Bill entitlement will be reduced by a certain amount when you use Top-up. To calculate the amount of time which will be deducted from your entitlement, go here if you're eligible for new (Post-9/11) GI Bill benefits, or here if you're eligible for Montgomery GI Bill (Active Duty) benefits.</p>

                                        <br />
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>TA &amp; Service Obligation for Officers</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p class="smallish">Officers (regular and Reserve) incur service obligations when they use TA.  Specifically, regular officers incur a two-year service obligation for each course they use TA to pay for.  The obligation begins on the date the most recent course taken ends.  For Reserve officers, the obligation is for four years.  Read ALCOAST 012/09 for the complete policy.</p>

                                        <div class="clear right">
                                            <a href="http://www.uscg.mil/hq/capemay/Education/doc/ALCOAST012-09.pdf#zoom=100" class="button button-grey button-text-uppercase button-icon-arrow-right" target="_blank"><strong>ALCOAST 012/09</strong></a>
                                            <br /><br />
                                        </div>

                                        <p class="clear smallish">These obligations run concurrently, not consecutively.  That is, if you use TA to pay for another course that ends before a previous obligation ends, your obligation is extended to the date that's two or four years after the date you completed the most recent course paid for with TA.<br /><br /></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>