---
layout: default
title: Strategic Partners | Educational Institutions
path: ../..
body_class:
social: {
    title: "Strategic Partners",
    description: "DANTES has partnered with such organizations as the American Council on Education (ACE) to create additional opportunities for service members."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='educational_institutions-recommended_affiliations.jpg' slide_title='Strategic Partners' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/index.html">Educational Institutions</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/strategic-partners/index.html">Strategic Partners</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="row flush">
                                <div class="twelve">
                                    <table class="table-no-outer-border table-cells-border table-transparent" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr class="table-no-top-border table-no-bottom-border table-no-left-border">
                                                <td width="33%" class="table-halign-center table-valign-middle"><a href="http://www.acenet.edu/Pages/default.aspx" target="_blank" data-scout-event="top_page_CTA, ACE_affilliate, ACE-council"><img src="{{ page.path }}/_images/elements/feature-educational_institutions-recommended_affiliations-modal-ace_logo.png" alt="American Council on Education"></a></td>
                                                <td width="33%" class="table-halign-center table-valign-middle"><a href="http://www.nsa.gov/ia/academic_outreach/nat_cae/" target="_blank" data-scout-event="top_page_CTA, DHS_affilliate, DHS-center-edexcellence"><img src="{{ page.path }}/_images/elements/feature-educational_institutions-recommended_affiliations-modal-dhs_logo.png" alt="U.S. Department of Homeland Security"></a></td>
                                                <td width="33%" class="table-halign-center table-valign-middle"><a href="http://www.nsa.gov/ia/academic_outreach/nat_cae/" target="_blank" data-scout-event="top_page_CTA, NSA_affilliate, NSA-center-edexcellence"><img src="{{ page.path }}/_images/elements/feature-educational_institutions-recommended_affiliations-modal-nsa_logo.png" alt="National Security Agency"></a></td>
                                            </tr><tr class="table-no-top-border table-no-left-border">
                                                <td width="33%" class="table-halign-center table-valign-top">American Council on Education</td>
                                                <td width="33%" class="table-halign-center table-valign-top">DHS National Center of Academic Excellence</td>
                                                <td width="33%" class="table-halign-center table-valign-top">NSA National Center of Academic Excellence</td>
                                            </tr><tr class="table-no-bottom-border table-no-left-border">
                                                <td width="33%" class="table-halign-center table-valign-middle"><a href="http://www.md.ngb.army.mil/XHTML/GuardMembers/Joint/Education/ESO.html" target="_blank" data-scout-event="top_page_CTA, MNG_affilliate, MNG-edpartner"><img src="{{ page.path }}/_images/elements/feature-educational_institutions-recommended_affiliations-modal-maryland_aang_logo.png" alt="Maryland Army and Air National Guard"></a></td>
                                                <td width="33%" class="table-halign-center table-valign-middle"><a href="http://www.soc.aascu.org" target="_blank" data-scout-event="top_page_CTA, servicemember_affilliate, servicemember-oppcolleges"><img src="{{ page.path }}/_images/elements/feature-educational_institutions-recommended_affiliations-modal-soc_logo.png" alt="Service members Opportunity Colleges"></a></td>
                                            </tr><tr class="table-no-top-border table-no-left-border">
                                                <td width="33%" class="table-halign-center table-valign-top">Maryland National Guard Educational Partner</td>
                                                <td width="33%" class="table-halign-center table-valign-top">Servicemember Opportunity Colleges</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>