
                            <div class="spotlight twelve">
                                <div>
                                    <figure><img src="{{ page.path }}/_images/elements/spotlight-troops_to_teachers.jpg" width="988" height="337"></figure>
                                    <figcaption>
                                        <header>
                                            <span class="title"><strong>Former Army:</strong> Hummer Mechanic</span>
                                            <span class="position">Computer Science Teacher</span>
                                        </header>

                                        <section class="row">
                                            <h3 class="four columns">Troops to Teachers</h3>
                                            <p class="six columns">Troops to Teachers is a DANTES-managed program that helps eligible military personnel continue to serve through public school teaching.</p>
                                            <span class="two columns">
                                                <a href="{{ page.path }}/service-members/troops-to-teachers/index.html" class="button button-purple button-icon-arrow-right" data-scout-event="Banner_ad, visit_TTT, TTT-banner-ad"><strong>Go</strong></a>
                                            </span>
                                        </section>
                                    </figcaption>
                                </div>
                            </div>
