---
layout: default
title: DoD MOU | Educational Institutions
path: ../..
body_class:
social: {
    title: "DoD MOU",
    description: "The DoD Voluntary Education Partnership Memorandum Of Understanding (MOU) between DoD and educational institutions ensures that service members receive equitable treatment while pursuing educational goals."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-distance_learning-faq.jpg' slide_title='DoD MOU' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/index.html">Educational Institutions</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/dod-mou/index.html">DoD MOU</a></li>
                            </ul>
                            {% include social.html %}

                            {% include shared-content/dod-mou.html %}
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>