---
layout: default
title: Home
path: .
body_class: home
social: {
    title: "Home",
    description: "The Defense Activity for Non-Traditional Education Support (DANTES) helps service members and veterans pursue their educational goals and earn degrees or certifications both during and after their service."
}
footer_extra:
header_extra:
---
            {% capture slide_html %}
                                    <li>
                                        <figure><img src="{{ page.path }}/_images/slides/homepage-v2.jpg" alt="" width="948" height="420"></figure>
                                        <figcaption>
                                            <a href="http://www.youtube.com/watch?v=sQ8SiYeGrO4" class="hero-caption-icon-video fresco" data-scout-stop="true" data-scout-manual="Main_banner, view_vid, home-main-banner">
                                                <h2>Define Your Future</h2>
                                                <p>Click to watch a DANTES CROSSROADS short film</p>
                                            </a>
                                        </figcaption>
                                    </li>
                                    <li>
                                        <figure><img src="{{ page.path }}/_images/slides/homepage-1.jpg" alt="" width="948" height="420"></figure>
                                        <figcaption class="complex preset-troops-to-teachers">
                                            <span>
                                                <p>
                                                    <em>Thinking about what your next move is?</em>
                                                    <strong>Become a Teacher</strong>
                                                </p>

                                                <a href="{{ page.path }}/service-members/troops-to-teachers/index.html" class="button button-grey button-text-uppercase button-condensed button-icon-arrow-right"><strong>Learn More</strong></a>
                                            </span>
                                        </figcaption>
                                    </li>
                                    <li>
                                        <figure><img src="{{ page.path }}/_images/slides/homepage-drBerry.jpg" alt="" width="948" height="420"></figure>
                                        <figcaption class="complex blue">
                                            <span>
                                                <p>
                                                    <strong>Congratulations Dr. Carol Berry.</strong>
                                                    <em>on 36 years of service, leadership, and friendship. We will miss you.</em>
                                                </p>

                                                <a href="{{ page.path }}/service-members/prep-for-college/earn-college-credit/index.html" class="button button-grey button-text-uppercase button-condensed button-icon-arrow-right"><strong>Learn More</strong></a>
                                            </span>
                                    </li>
                                    <li>
                                        <figure><img src="{{ page.path }}/_images/slides/homepage-2.jpg" alt="" width="948" height="420"></figure>
                                        <figcaption class="complex orange">
                                            <span>
                                                <p>
                                                    <em>Department of Defense</em>
                                                    <strong>Joint Services Transcript</strong>
                                                </p>

                                                <a href="{{ page.path }}/service-members/prep-for-college/college-credit-alternatives/index.html" class="button button-grey button-text-uppercase button-condensed button-icon-arrow-right"><strong>Learn More</strong></a>
                                            </span>
                                        </figcaption>
                                    </li>
                                    <li>
                                        <figure><img src="{{ page.path }}/_images/slides/homepage-3.jpg" alt="" width="948" height="420"></figure>
                                        <figcaption class="complex yellow">
                                            <span>
                                                <p>
                                                    <strong>Education Benefits</strong>
                                                    <em>Tuition assistance made for you</em>
                                                </p>

                                                <a href="{{ page.path }}/service-members/education-benefits/index.html" class="button button-grey button-text-uppercase button-condensed button-icon-arrow-right"><strong>Learn More</strong></a>
                                            </span>
                                        </figcaption>
                                    </li>
                                    <li>
                                        <figure><img src="{{ page.path }}/_images/slides/homepage-4.jpg" alt="" width="948" height="420"></figure>
                                        <figcaption class="complex blue">
                                            <span>
                                                <p>
                                                    <strong>Earn College Credit</strong>
                                                    <em>Based on information you already know</em>
                                                </p>

                                                <a href="{{ page.path }}/service-members/prep-for-college/earn-college-credit/index.html" class="button button-grey button-text-uppercase button-condensed button-icon-arrow-right"><strong>Learn More</strong></a>
                                            </span>
                                        </figcaption>
                                    </li>
                                    <li>
                                        <figure><img src="{{ page.path }}/_images/slides/homepage-5.jpg" alt="" width="948" height="420"></figure>
                                        <figcaption class="complex orange">
                                            <span>
                                                <p>
                                                    <em>Looking for a published DANTES resource?</em>
                                                    <strong>Publications</strong>
                                                </p>

                                                <a href="http://dantespulse.dodlive.mil/catalog/" target="_blank" class="button button-grey button-text-uppercase button-condensed button-icon-arrow-right"><strong>Learn More</strong></a>
                                            </span>
                                        </figcaption>
                                    </li>
            {% endcapture %}
            {% include cta.multi.html slide=slide_html %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            {% include social.html %}

                            <img src="{{ page.path }}/_images/elements/home-intro-badge.png" alt="Define your Future!" class="right inline">
                            <h1>The Defense Activity for Non-Traditional Education Support (DANTES) helps service members and veterans pursue their educational goals</h1>
                            <p>and earn degrees or certifications both during and after their service. DANTES is a Department of Defense agency that provides leadership and support for this important effort through partnerships across the education community.</p>

                            <hr />

                            <h1>Who We Serve</h1>

                            <menu class="row">
                                <div class="six columns">
                                    <div class="row feature-box feature-box-ribbon-caption feature-box-preset home-service_members">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/index.html" class="feature-box-link-cap-yellow feature-box-link-icon-arrow-right" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-servicemembers">
                                                    <strong>Service Members</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="row feature-box feature-box-ribbon-caption feature-box-preset home-educational_institutions">
                                        <div class="eleven right">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/educational-institutions/index.html" class="feature-box-link-cap-yellow feature-box-link-icon-arrow-right" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-edinstitutions">
                                                    <strong>Educational Institutions</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="row feature-box feature-box-ribbon-caption feature-box-preset home-dantes_counselors">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/education-counselors/index.html" class="feature-box-link-cap-yellow feature-box-link-icon-arrow-right" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-educounselors">
                                                    <strong>Education Counselors</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="row feature-box feature-box-ribbon-caption feature-box-preset home-military_education_leadership">
                                        <div class="eleven right">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/military-education-leadership/index.html" class="feature-box-link-cap-yellow feature-box-link-icon-arrow-right" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-DoDleadership">
                                                    <strong>Military Education Leadership</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                            </menu>

                            <hr />

                            <div class="slim-cta-banner slim-cta-banner-flush slim-cta-banner-preset-tco">
                                <h2>
                                    <strong><img src="{{ page.path }}/_images/elements/logo-small.png" alt="DANTES Logo"> Online Test Control Officer (TCO) Academic Testing Course</strong>
                                    <a href="{{ page.path }}/education-counselors/training/testing-personnel/" class="trigger right button button-purple button-icon-arrow-right" data-scout-event="mid_page_visual_nav, learn_more_banner, visual-nav-OnlineTCOTestingCourse"><strong>Learn More</strong></a>
                                </h2>
                            </div>

                            <br />
                            <hr />

                            <div class="slim-cta-banner slim-cta-banner-flush slim-cta-banner-preset-armed_forces">
                                <h2>
                                    <strong>How We Support the Armed Forces</strong>
                                    <a href="javascript:;" class="trigger right button button-purple button-icon-arrow-right" data-text-expanded="Show Less" data-text-collapsed="Show More" data-scout-event="Accordion, show_more_how_we_Support_AF, accordion-how-we-support"><strong>Show More</strong></a>
                                </h2>
                                <div>
                                    <p>Welcome to the DANTES website – your resource for all of your educational needs. This website is designed to provide quick, easy access to the information, institutions, contacts and opportunities available in the pursuit of your educational goals.</p>
                                    <p>If you are just becoming familiar with DANTES, here is our formal introduction:</p>
                                    <p>In accordance with the Department of Defense Instruction 1322.25, March 2011, Enclosure 3, the DANTES mission is to support the off-duty voluntary education programs of the Department of Defense (DoD) and conduct special projects and developmental activities in support of education-related DoD functions.</p>
                                    <p>Towards carrying out this important mission, we offer many different programs and services that support all of the DoD components and the Coast Guard. For more information about any of the programs we offer, or for questions about your eligibility, contact the appropriate DANTES Program Manager. You can find contact information via the "Contact DANTES" link on the right hand side of this page.</p>
                                    <p>We invite you to explore the DANTES website and find the path that will allow you to best Define Your Future.</p>
                                    <p class="text-right"><a href="{{ page.path }}/contact/index.html" class="button button-purple button-icon-arrow-right button-text-normal"><strong>About Us</strong></a></p>
                                </div>
                            </div>

                            {% include shared-content/fragments/spotlight-ttt.html %}
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>
