---
layout: default
title: Student Enrollment Procedures &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "Student Enrollment Procedures",
    description: "DANTES wants to help you prepare for enrollment. Follow this link for more information."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-distance_learning-student_enrollment_procedures.jpg' slide_title='Student Enrollment Procedures' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep for College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/student-enrollment-procedures/index.html">Student Enrollment Procedures</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="four right inline" style="margin-top: -10px;">
                                <div class="feature-box">
                                    <div>
                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-find-education-center.jpg);"></figure>
                                        <figcaption>
                                            <a href="{{ page.path }}/service-members/contact-a-counselor/">
                                                <strong>Contact a Counselor</strong>
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                            <h1>Student Enrollment Procedures</h1>

                            <p>
                                Follow the student enrollment procedures listed below to help guide you on your journey towards education and training based on your goals.
                            </p>

                            <br />
                            <hr class="clearfix" />

                            <div class="row">
                                <br />

                                <ul class="indented indented-half">
                                    <li>Discuss your goals with an education counselor and determine a strategy to meet your long-term objectives.</li>
                                    <li>With the assistance of your counselor, or by reference materials provided by DANTES, select a properly accredited college or university offering a program that best meets your education objectives.</li>
                                    <li>Compare and investigate different colleges or universities before making your decision. Your Service education office can verify whether a school has an agreement with DoD that verifies tuition assistance availability.</li>
                                    <li>Work with your selected institution's academic advisor to develop a degree plan or program of study outlining your education path.</li>
                                    <li>Examine the course description. Verify the selected course or degree will meet your needs and can be transferred or accepted toward follow-on degrees.</li>
                                    <li>Complete your Service's Tuition Assistance Program funding request (if applicable).</li>
                                    <li>Follow your Service's instruction about enrollment procedures, payment, tuition assistance responsibilities, and any other Service-unique requirements to get started.</li>
                                </ul>
                            </div>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>