---
layout: default
title: Education Resources &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "Education Resources",
    description: "Check out Education Resources to explore KUDER Journey, an intuitive career planning system; and, the Online Academic Skills Course that offers free online study courses to help develop your basic skills."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-education_resources.jpg' slide_title='Education Resources' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep For College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/education-resources/index.html">Education Resources</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Successful education is aided by having the right tools at your fingertips.</h1>
                            <p>Check out Education Resources to explore resources like KUDER Journey, the Online Academic Skills Course, College Placement Skills Training, and Tutor.com.</p>

                            <br />
                            <hr />

                            <div class="row">
                                <br />

                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-prep_for_college-logo-kuder_journey.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.dantes.kuder.com/" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-kuder">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>

                                        <dl class="feature-box-jump-button" style="padding-top: 10px;">
                                            <dt>&nbsp;</dt>
                                            <dd><a href="http://www.dantes.kuder.com/" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-kuder"><strong>Go to Website</strong></a></dd>
                                        </dl>
                                    </div>

                                    <br class="clear" /><br />
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>Kuder&reg; Journey</strong><br />
                                        Kuder Journey is now available to Active Duty, Guard, Reserve personnel and Service members in transition, making it a valuable resource during the military-to-civilian transition process. Providing tailored career guidance to our military Service members is important to DANTES, which is why we are providing this intuitive career planning system designed to address each user’s individual situation. The career planning process starts with learning about oneself. Journey’s research-based interests, skills and work values assessments kick-start exploration and ultimately, encourage more career satisfaction.
                                    </p>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <br />
                                <br />
                                <br />

                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-prep_for_college-logo-oasc.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.nelnetsolutions.com/dantes/" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-oasc">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>

                                        <dl class="feature-box-jump-button" style="padding-top: 10px;">
                                            <dt>&nbsp;</dt>
                                            <dd><a href="http://www.nelnetsolutions.com/dantes/" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-oasc"><strong>Go to Website</strong></a></dd>
                                        </dl>
                                    </div>

                                    <br class="clear" /><br />
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>Online Academic Skills Course (OASC) and College Placement Skills Training (CPST)</strong><br />
                                        If you or your education counselor feels that it would be beneficial to review math and writing skills in order to improve your job skills, pass exams, advance in your career or continue your education, the Online Academic Skills Course (OASC) and College Placement Skills Training (CPST) course allow free access to an online study course designed to check skill levels.
                                    </p>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <br />
                                <br />
                                <br />

                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-prep_for-college-logo-tutor-com.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.tutor.com/military" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-tutor">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>

                                        <dl class="feature-box-jump-button" style="padding-top: 10px;">
                                            <dt>&nbsp;</dt>
                                            <dd><a href="http://www.tutor.com/military" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-tutor"><strong>Go to Website</strong></a></dd>
                                        </dl>
                                    </div>

                                    <br class="clear" /><br />
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>Tutor.com</strong><br />
                                        A free online tutor service is available for all Navy and Army military members and their family members for those requiring tutoring in specific subject areas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>