---
layout: default
title: Reserve Component Advisor - LTC Eurydice S. Stanley, U.S. Army | Biographies
path: ../../..
body_class:
social: {
    title: "Reserve Component Advisor, LTC Eurydice S. Stanley, U.S. Army",
    description: "LTC Eurydice Stanley serves as the Defense Activity for Non-Traditional Education Support (DANTES) Reserve Component Advisor where she serves as the voluntary education program spokesperson and assists DoD Reserve personnel and family members achieve personal and professional education goals. She travelled extensively as an Army dependent before being raised primarily in Paso Robles, CA. She received an Army ROTC scholarship to Florida A &amp; M University where she earned a degree in Public Management and was commissioned as a Distinguished Military Graduate in 1990. She was awarded a scholarship from the University of Minnesota, receiving a Master's in Industrial Relations in 1994 and studying International Business in Lyon, France. She graduated summa cum laude from Louisiana Baptist University in 2000 with a Ph.D. in Christian Counseling and Psychology."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='contact.jpg' slide_title='Biographies' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine flush-top">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/contact/index.html">Contact DANTES</a></li>
                                <li><a href="{{ page.path }}/contact/bios/reserve-component-advisor/index.html">LTC Stanley Bio</a></li>
                            </ul>
                            {% include social.html %}

                            <br />
                            <br />
                            
                            <h1><strong>DANTES Leadership</strong></h1>
                            <h2>Reserve Component Advisor</h2>
                            
                            <br />
                            <br />

                            <p>
                            	<img src="{{ page.path }}/_images/elements/bio-eurydice-s-stanley.jpg" class="left inline" />
                                <strong>LTC Eurydice S. Stanley, U.S. Army</strong>
                                <br /><br />
                                LTC Eurydice Stanley serves as the Defense Activity for Non-Traditional Education Support (DANTES) Reserve Component Advisor where she serves as the voluntary education program spokesperson and assists DoD Reserve personnel and family members achieve personal and professional education goals. She travelled extensively as an Army dependent before being raised primarily in Paso Robles, CA. She received an Army ROTC scholarship to Florida A &amp; M University where she earned a degree in Public Management and was commissioned as a Distinguished Military Graduate in 1990. She was awarded a scholarship from the University of Minnesota, receiving a Master's in Industrial Relations in 1994 and studying International Business in Lyon, France. She graduated summa cum laude from Louisiana Baptist University in 2000 with a Ph.D. in Christian Counseling and Psychology.
                            </p>
                            <p>LTC Stanley's professional education includes the Command and General Staff Officer Course (ILE), Defense Equal Opportunity Management Institute (Commandant's List), Human Resource Management Qualification Course, Public Affairs Officer Course, Combined Arms and Service Staff School, Sexual Assault Prevention Program Manager Certification, Adjutant General Officer Basic and Advanced Course and a myriad of equal opportunity, human relations, instructor, mediation and facilitation courses.</p>
                            <p>Her assignments include Executive Officer, 5th Replacement Detachment and Assistant S-1, Warrior Brigade, Fort Polk, LA; Senior Instructor, Defense Equal Opportunity Management Institute, Patrick Air Force Base, FL; Senior Instructor, Defense Equal Opportunity Management Institute, Patrick Air Force Base, FL, Equal Opportunity Administrative Officer, Army National Guard Directorate, Arlington, VA; Commander, 107th Mobile Public Affairs Detachment and Deputy Director, Joint Force Headquarters Public Affairs, Florida National Guard, St. Augustine, FL; Human Resource Officer and Adjutant, Professional Educational Center, Little Rock, AR; NGB Equal Opportunity Program Manager and ARNG Personnel Policy Integrator, HQDA G-1, Pentagon.</p>
                            <p>LTC Stanley's awards include the Defense Meritorious Service Medal, Meritorious Service Medal (2), Army Commendation Medal (7), Joint Service Achievement Medal (2), Army Achievement Medal, Army Reserve Components Achievement Medal (2), National Defense Service Medal, Global War on terrorism service Medal, Army Service Ribbon, Joint Meritorious Unit Award, Army Staff Identification Badge and the Florida Distinguished Service Medal.</p>
                            <p>LTC Stanley has published three books and written numerous articles that have been distributed internationally. She was the recipient of the Adjutant General's Corps Achievement Medal in 2011 and the Department of Defense Blacks in Government Meritorious Service Award in 2010.</p>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>