---
layout: default
title: Education Counselor's Toolbox | Educational Institutions
path: ../..
body_class:
social: {
    title: "Education Counselor's Toolbox",
    description: "The Education Counselor's Toolbox provides you with a variety of tools and resources to assist service members with their education goals. Learn about accreditation, financial aid, search for colleges, find online resources, and more."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='educational_counselors-education_counselors_toolbox.jpg' slide_title='Education Counselor\'s Toolbox' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/index.html">Educational Institutions</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/education-counselors-toolbox/index.html">Counselor's Toolbox</a></li>
                            </ul>
                            {% include social.html %}

                            {% include shared-content/education-counselors-toolbox.html %}
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>