---
layout: default
title: Education Benefits | Service Members
path: ../..
body_class:
social: {
    title: "Education Benefits",
    description: "What benefits are available to you based on your branch of service and status? Now is the time for you to take the next step and engage the opportunity to actively advance your career."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-education_benefits.jpg' slide_title='Education Benefits' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                            </ul>
                            {% include social.html %}

                        	<div class="four right inline" style="margin-top: -10px;">
                            	<div class="feature-box feature-box-ribbon-caption feature-box-short">
                                	<div>
                                    	<figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-benefits-inline.jpg);"></figure>
                                        <figcaption>
                                        	<a href="http://www.youtube.com/watch?v=H6SyXzEvTSU" class="feature-box-link-cap-purple feature-box-link-icon-video fresco" data-scout-stop="true" data-scout-manual="Top_page_CTA, video_decision, video-decision">
                                            	<strong>Decision</strong>
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                            <h1>Now is the time for you to take the next step and engage the opportunity to actively advance your career.</h1>
                            <p>Find the option below to help you on your way towards furthering your education goals.</p>

                            <hr class="clearfix" />

                            <menu class="row">
                                <br />
                                <br />

                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-benefits-financial_assistance">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/education-benefits/financial-assistance/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-financial-assist">
                                                    <strong>Financial Assistance</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    <p class="flush">
                                        The U.S. Armed Forces offers several programs to support the education goals of service members (Army, Navy, Air Force, Marine Corps and Coast Guard) – including up to 100 percent tuition assistance for college courses taken during off-duty hours.
                                    </p>
                                </div>
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-benefits-va">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-va-benefit">
                                                    <strong>VA Benefits</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    <p class="flush">
                                        The Department of Veterans Affairs offers a variety of benefits and services that provide financial and other forms of assistance to service members, veterans, as well as their dependents and survivors.
                                    </p>
                                </div>
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-benefits-transferable_credits">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/educational-institutions/college-credit-alternatives/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-transfer-credit">
                                                    <strong>College Credit Alternatives</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    <p class="flush">
                                        Learn more about the Joint Services Transcript (JST), certified by the American Council on Education (ACE), which replaces traditional transcripts.
                                    </p>
                                </div>
                            </menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>