---
layout: default
title: Military Education Leadership
path: ..
body_class:
social: {
    title: "Military Education Leadership",
    description: "Coming Soon!"
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='military_education_leadership.jpg' slide_title=page.title %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/military-education-leadership/index.html">Military Education Leadership</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Leadership</h1>

                            <br /><br />

                            <menu class="row">
                                <div class="six columns">
                                    <div class="row">
                                        <div class="eight">
                                            <div class="feature-box feature-box-no-margin">
                                                <div>
                                                    <figure style="background-image: url({{ page.path }}/_images/elements/feature-contact-staff_carol_berry.jpg);"></figure>
                                                    <figcaption>
                                                        <a href="{{ page.path }}/contact/bios/director/index.html">
                                                            <strong>&nbsp;</strong>
                                                        </a>
                                                    </figcaption>
                                                </div>
                                            </div>

                                            <p class="larger">
                                                <strong>Dr. Carol A. Berry, Ed.D.</strong><br />
                                                <strong><span class="color-grey">Director</span></strong>
                                            </p>
                                            <p>
                                                E-mail: <a href="mailto:dantes@navy.mil">dantes@navy.mil</a><br />
                                                Phone number: (850) 452-1111<br />
                                                ext. 3149
                                            </p>
                                            <p>
                                                <a href="{{ page.path }}/contact/bios/director/index.html" class="button button-grey button-text-uppercase button-icon-arrow-right"><strong>Read Bio</strong></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="row">
                                        <div class="eight">
                                            <div class="feature-box feature-box-no-margin">
                                                <div>
                                                    <figure style="background-image: url({{ page.path }}/_images/elements/feature-contact-staff_michael_stahl.jpg);"></figure>
                                                    <figcaption>
                                                        <a href="{{ page.path }}/contact/bios/deputy-director/index.html">
                                                            <strong>&nbsp;</strong>
                                                        </a>
                                                    </figcaption>
                                                </div>
                                            </div>

                                            <p class="larger">
                                                <strong>Michael J. Stahl</strong><br />
                                                <strong><span class="color-grey">Deputy Director</span></strong><br />
                                            </p>
                                            <p>
                                                E-mail: <a href="mailto:dantes@navy.mil">dantes@navy.mil</a><br />
                                                Phone number: (850) 452-1111<br />
                                                ext. 3151
                                            </p>
                                            <p>
                                                <a href="{{ page.path }}/contact/bios/deputy-director/index.html" class="button button-grey button-text-uppercase button-icon-arrow-right"><strong>Read Bio</strong></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </menu>

                            <hr />

                            <menu class="row">
                                <div class="twelve">
                                    <br /><br />

                                    <h1>DANTES Advisors</h1>

                                    <br /><br />

                                    <div class="row">
                                        <div class="four columns left">
                                            <div class="feature-box feature-box-no-margin">
                                                <div>
                                                    <figure style="background-image: url({{ page.path }}/_images/elements/feature-contact-staff-david-acuff.jpg);"></figure>
                                                    <figcaption>
                                                        <a href="{{ page.path }}/contact/bios/senior-enlisted-advisor/index.html">
                                                            <strong>&nbsp;</strong>
                                                        </a>
                                                    </figcaption>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eight columns advisor-quick-info">
                                        	<p>
                                            	<strong>HMCM(FMF/SW) David M. Acuff</strong><br />
                                                <strong><span class="color-grey"> Master Chief, U. S. Navy</span></strong><br />
                                                E-mail: <a href="mailto:ea@navy.mil">ea@navy.mil</a><br />
                                                Phone number: (850) 452-1111<br />
                                                ext. 3153
											</p>

                                            <br />

                                            <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/contact/bios/senior-enlisted-advisor/index.html"><strong>READ BIO</strong></a>
                                        </div>
                                    </div>

                                    <br /><br />

                                    <p>
                                    	<strong>Senior Enlisted Advisor</strong><br />
                                        The DANTES Senior Enlisted Advisor (SEA) advises the Director of DANTES on Voluntary Education issues, needs, and requirements affecting uniformed service members of all services. The SEA also develops and presents DANTES briefings, manages special projects and conducts courtesy visits to military installations DoD-wide, providing outreach to our service members and Voluntary Education Services communities on DANTES programs and services.
									</p>

                                    <br />
                            	</div>
							</menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>