---
layout: default
title: U.S. Air Force &mdash; Financial Assistance &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "Tuition Assistance - Air Force",
    description: "The Tuition Assistance (TA) program provides financial assistance for voluntary off-duty education programs in support of a Soldier's professional and personal self-development goals."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-tuition_assistance-air_force.jpg' slide_title='U.S. Air Force Tuition Assistance' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/index.html">Financial Assistance</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/air-force/index.html">U.S. Air Force</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_air_force-large.png" alt="U.S. Air Force">
                                <br /><br />
                                <a href="http://www.airforce.com/benefits/enlisted-education/" target="_blank" class="button button-grey button-icon-arrow-right"><strong>Go to Website</strong></a>
                            </div>
                            <h1>Air Force Tuition Assistance (TA) is an important quality of life</h1>
                            <p>program that provides 100% tuition and fees for courses taken by active duty personnel. The program is one of the most frequent reasons given for enlisting and re-enlisting in the Air Force.</p>
                            <br />

                            <ul class="accordion accordion-flush-to-hr">
                                <li>
                                    <div class="title">
                                        <h5>Payments</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <strong>Air Force – 100 percent of tuition and fees, not to exceed:</strong><br /><br />
                                        <ul>
                                            <li>$250 at semester credit hour</li>
                                            <li>$166 at quarter credit hour</li>
                                            <li>$4,500 at fiscal year</li>
                                            <li>
                                                75 percent of tuition and fees not to exceed:
                                                <ul>
                                                    <li>$187.50 at semester hour</li>
                                                    <li>$3,500 at fiscal year</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>Application Process</h5>
                                    </div>
                                    <div class="content">
                                        <menu class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-tuition_assistance-air_force-afportal.jpg);"></figure>
                                                        <figcaption>
                                                            <a href="https://www.my.af.mil/" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>

                                                    <dl class="feature-box-jump-button" style="padding-top: 0px;">
                                                        <dt>&nbsp;</dt>
                                                        <dd><a href="https://www.my.af.mil/" class="button button-grey button-text-uppercase button-icon-arrow-right" target="_blank"><strong>Go</strong></a></dd>
                                                    </dl>
                                                </div>

                                                <br class="clear" /><br />
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>AF Portal</strong><br />
                                                    You must apply for Tuition Assistance online using the Air Force Virtual Education Center. This must be done through the Air Force Portal. There are six steps to completing the AFVEC online TA process.
                                                </p>
                                            </div>

                                            <br class="clear" /><br />
                                        </menu>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>The Fine Print</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <strong>You will be unable to apply online for TA if the following applies to you:</strong><br /><br />
                                        <ul>
                                            <li>Missing grades over 60 days from course end date</li>
                                            <li>Suspense dates that have expired</li>
                                            <li>Missing personal data in the education record including: Phone, DOS, DOB, Unit, Office Symbol, Mailing Address, Email Address, base, and Education Level</li>
                                            <li>Requesting TA for courses that start more than 30 days into the future</li>
                                            <li>Requesting TA for courses that have already started</li>
                                            <li>Requesting TA for lower level courses which are less than highest education level awarded</li>
                                            <li>No degree plan in records</li>
                                        </ul>

                                        <br />

                                        <em>TA is not authorized for courses leading to a lateral or lower level degree than you already possess (i.e. Second Associate's or Bachelor's degree).</em>

                                        <br /><br />
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>Additional Information</h5>
                                    </div>
                                    <div class="content">
                                        <br />
                                        <p class="smallish">After you have completed your tuition assistance form and registered for class, you may still drop/change courses without penalty as long as you notify both the base education center and the school. If you drop a course after the drop/ add period, you must still notify the base ed center and the school but you are liable for the cost of tuition, unless you qualify for waiver of tuition assistance reimbursement.</p>
                                        <p class="smallish">If you receive a grade of incomplete from a school, you have as much time as the school allows you to clear the incomplete or 12 months from the end of the term, whichever comes first, to clear the incomplete. If you fail to provide a grade that clears the incomplete by that time, we are obligated to recover the tuition assistance.</p>
                                        <p class="smallish">No Tuition Assistance for post-masters degree course work or degree.<br /><br /></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>