---
layout: default
title: Examinations &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "Examinations",
    description: "What examinations should you take to reach your professional goal? DANTES sponsors a wide range of examination programs to assist service members like you in meeting their educational goals."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-examinations.jpg' slide_title='Examinations' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep for College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/examinations/index.html">Examinations</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>What examinations should you take to reach your professional goal?</h1>
                            <p>DANTES sponsors a wide range of examination programs to assist service members like you in meeting their educational goals.</p>
                            <a href="https://dantestcoportal.prometric.com/Login/Login.aspx" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Visit TCO Portal</strong></a>

							<ul class="accordion">
                                <li>
                                    <div class="title">
                                        <h5>Need to get into a 4-year college?<br />Here is a required test:</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-act.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.actstudent.org/" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>ACT Assessment Test (ACT)</strong><br />
                                                    The ACT Assessment test is an admissions requirement at some colleges. The instrument consists of a battery of four academic tests that measure academic development in English, Mathematics, Reading, and Science Reasoning. The Assessment provides scores on the four tests, a composite score, and seven sub scores which provide more detailed information concerning an individual's academic development.
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="http://www.actstudent.org/" target="_blank"><strong>More Information About ACT</strong></a>
                                                <br />
                                                <a class="button button-grey button-icon-arrow-right" href="http://www.actstudent.org/scores/scodes/" target="_blank"><strong>ACT College Codes</strong></a>
                                            </div>
                                        </div>

                                        <br /><br />

                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-sat.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.collegeboard.com/" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>SAT Reasoning Test (SAT)</strong><br />
                                                    The SAT scores are used as a college admission requirement and student placement instrument. SAT scores provide colleges with a way to compare academic preparation and abilities of students who apply for admission. SAT, when used in conjunction with high school grades and class rank, serves as a good predicator of academic success in the first year of college.
                                                </p>
                                                <p>
                                                    DANTES funds one administration at a DANTES Test Center, for eligible military service members, on either the SAT or the ACT Assessment. DANTES Test Centers do not schedule SAT administrations in July and August as the SAT Program shuts down their scoring system in late summer to prepare for national testing in October. We recommend that you use the ACT during this period. For additional information about testing at DANTES Test Centers see your education advisor.
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="http://www.collegeboard.com/" target="_blank"><strong>More Information on SAT</strong></a>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Is Graduate school in your future?<br />Here are the recommended tests for you:</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-gmat.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.gmac.com/gmac/thegmat" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>Graduate Management Admission Test (GMAT)</strong><br />
                                                    The GMAT exam is the most popular and widely used MBA admissions test. This test is broken up into Quantitative, Verbal, and Integrated Reasoning questions so that you can demonstrate your ability in several skills required to be successful in graduate school.
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="http://www.gmac.com/gmac/thegmat" target="_blank"><strong>More Information About GMAT</strong></a>
                                                <br />
                                                <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/GMAT_REIMBURSEMENT_REQUEST_July2012.pdf#zoom=100" data-document-warning="true" target="_blank"><strong>GMAT Reimbursement Request Form</strong></a>
                                            </div>
                                        </div>

                                        <br /><br />

                                        <div class="row">
                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-gre.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.ets.org/gre/revised_general/scores/get" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>Graduate Record Examinations (GRE)</strong><br />
                                                    No matter what you decide to do after graduation, taking the GRE&reg; revised General Test now is a good way to plan ahead. These Subject tests measure achievement in specific fields of study and mastery of the concepts, principles, and knowledge basic to success in specific graduate fields.
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="http://www.ets.org/gre/revised_general/scores/get" target="_blank"><strong>More Information About GRE</strong></a>
                                                <br />
                                                <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/GRE_GENERAL_REIMBURSEMENT_REQUEST_July_2012.pdf#zoom=100" data-document-warning="true" target="_blank"><strong>GRE General Reimbursement Request Form</strong></a>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Want to get into a teaching program at your college of choice?<br />Take the exam below to get started:</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-praxis.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.ets.org/praxis/scores" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>PRAXIS</strong><br />
                                                    PRAXIS tests measure basic skills in reading, writing, and mathematics and include multiple-choice questions and an essay question on the Writing test. The tests are designed to evaluate whether you have the academic skills needed to prepare for a career in education.
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="http://www.ets.org/praxis/scores" target="_blank"><strong>More Information About PRAXIS</strong></a>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Want to attend a 4-year college program without a High School Diploma?<br />Here is an option for you:</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-ged.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.gedtestingservice.com/testers/gedrequest-a-transcript" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>General Education Development (GED)</strong><br />
                                                    The GED, or General Educational Development, is a set of tests designed to determine whether the test-taker has a high-school graduate's level of knowledge.
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="http://www.gedtestingservice.com/testers/gedrequest-a-transcript" target="_blank"><strong>More Information About GED</strong></a>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Thinking about attending Law School?<br />Begin preparing now:</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-lsat.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.lsac.org/" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>Law School Admission Test (LSAT)</strong><br />
                                                    The LSAT is designed to assist law schools in assessing the academic promise of their applicants. The LSAT measures skills that are considered essential for success in law school: the ability to process this information to reach conclusions.
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="http://www.lsac.org/" target="_blank"><strong>More Information About LSAT</strong></a>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Credit-by-Exam</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-cbe.png);"></figure>
                                                        <figcaption>
                                                            <a href="#">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>Credit-by-Exam</strong><br />
                                                    Three national credit by examination opportunities are available: the College Level Examination Program (CLEP), the Defense Activity for Non-Traditional Education Support (DANTES), and the Excelsior College Exams...
                                                </p>

                                                <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/FY13_DSST_Pass_Rates.pdf#zoom=100" target="_blank"><strong>Download PDF FY13 DSST Pass Rates</strong></a>
                                                <br />
                                                <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/FY13_CLEP_Pass_Rates.pdf#zoom=100" target="_blank"><strong>Download PDF FY13 CLEP Pass Rates</strong></a>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>