---
layout: default
title: Contact DANTES
path: ..
body_class:
social: {
    title: "Contact DANTES",
    description: "Find our location, read leadership bios, and find other resources of importance."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='contact.jpg' slide_title=page.title %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine flush-top">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/contact/index.html">Contact DANTES</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="row">
                                <div class="four left">
                                    <br />

                                    <h1>Location</h1>

                                    <br />

                                    <div class="feature-box feature-box-no-margin">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-contact-location-map.jpg);"></figure>
                                            <figcaption>
                                                <a href="https://maps.google.com/maps?hl=en&q=6490+Saufley+Field+Road+Pensacola+FL&ie=UTF-8" target="_blank">
                                                    <strong>&nbsp;</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <br />

                                    <p>
                                        <strong>DANTES Location</strong><br />
                                        6490 Saufley Field Road<br />
                                        Pensacola, FL  32509-5243<br />
                                        <a href="mailto:dantes@navy.mil">dantes@navy.mil</a>
                                    </p>

                                    <p>DANTES is located at the west end of building 2435 on Saufley Field</p>
                                </div>

                                <a name="leadership"></a>
                                <div class="eight left border-left-pseudo">
                                    <br />

                                    <h1>Leadership</h1>

                                    <br />

                                    <div class="row">
                                        <div class="six columns">
                                            <div class="feature-box feature-box-no-margin">
                                                <div>
                                                    <figure style="background-image: url({{ page.path }}/_images/elements/feature-contact-staff_carol_berry.jpg);"></figure>
                                                    <figcaption>
                                                        <a href="{{ page.path }}/contact/bios/director/index.html">
                                                            <strong>&nbsp;</strong>
                                                        </a>
                                                    </figcaption>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five left">
                                            <p class="larger">
                                                <strong>Dr. Carol A. Berry, Ed.D.</strong><br />
                                                <strong><span class="color-grey">Director</span></strong>
                                            </p>
                                            <p>
                                                E-mail: <a href="mailto:dantes@navy.mil">dantes@navy.mil</a><br />
                                                Phone number: (850) 452-1111<br />
                                                ext. 3149
                                            </p>
                                            <p>
                                                <a href="{{ page.path }}/contact/bios/director/index.html" class="button button-grey button-text-uppercase button-icon-arrow-right"><strong>Read Bio</strong></a>
                                            </p>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="six columns">
                                            <div class="feature-box feature-box-no-margin">
                                                <div>
                                                    <figure style="background-image: url({{ page.path }}/_images/elements/feature-contact-staff_michael_stahl.jpg);"></figure>
                                                    <figcaption>
                                                        <a href="{{ page.path }}/contact/bios/deputy-director/index.html">
                                                            <strong>&nbsp;</strong>
                                                        </a>
                                                    </figcaption>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five left">
                                            <p class="larger">
                                                <strong>Michael J. Stahl</strong><br />
                                                <strong><span class="color-grey">Deputy Director</span></strong><br />
                                            </p>
                                            <p>
                                                E-mail: <a href="mailto:dantes@navy.mil">dantes@navy.mil</a><br />
                                                Phone number: (850) 452-1111<br />
                                                ext. 3151
                                            </p>
                                            <p>
                                                <a href="{{ page.path }}/contact/bios/deputy-director/index.html" class="button button-grey button-text-uppercase button-icon-arrow-right"><strong>Read Bio</strong></a>
                                            </p>
                                        </div>
                                    </div>

                                    <br /><br />
                                </div>
                            </div>

                            <hr class="hr-no-top-margin" />

                            <div class="row">
                                <div class="twelve">
                                    <h1>DANTES Advisors</h1>
                                    
                                    <br />
                                    
                                    <div class="row">
                                        <div class="four columns left">
                                            <div class="feature-box feature-box-no-margin">
                                                <div>
                                                    <figure style="background-image: url({{ page.path }}/_images/elements/feature-contact-staff-david-acuff.jpg);"></figure>
                                                    <figcaption>
                                                        <a href="{{ page.path }}/contact/bios/senior-enlisted-advisor/index.html">
                                                            <strong>&nbsp;</strong>
                                                        </a>
                                                    </figcaption>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eight columns advisor-quick-info">
                                        	<p>
                                            	<strong>HMCM(FMF/SW) David M. Acuff</strong><br />
                                                <strong><span class="color-grey"> Master Chief, U. S. Navy</span></strong><br />
                                                E-mail: <a href="mailto:ea@navy.mil">ea@navy.mil</a><br />
                                                Phone number: (850) 452-1111<br />
                                                ext. 3153
											</p>

                                            <br />

                                            <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/contact/bios/senior-enlisted-advisor/index.html"><strong>READ BIO</strong></a>
                                        </div>
                                    </div>
                                    
                                    <br /><br />
                                    
                                    <p>
                                    	<strong>Senior Enlisted Advisor</strong><br />
                                        The DANTES Senior Enlisted Advisor (SEA) advises the Director of DANTES on Voluntary Education issues, needs, and requirements affecting uniformed service members of all services. The SEA also develops and presents DANTES briefings, manages special projects and conducts courtesy visits to military installations DoD-wide, providing outreach to our service members and Voluntary Education Services communities on DANTES programs and services.
									</p>
                                    
                                    <br />
                            	</div>
							</div>

                            <div class="row">
                                <div class="twelve">
                                    <p>
                                    	<strong>Reserve Component Advisor (Currently Vacant)</strong><br />
                                        Established in 1989, the DANTES Reserve Component Advisor (RCA) is a LTC (05) Title 10 AGR service component non-specific billet. The RCA provides: direct field input on day-to-day operational status, needs, and requirements of Reserve Military personnel in the area of voluntary, off-duty education; technical support and assistance to the Reserve Component Education Policy Officer, Under Secretary of Defense-Reserve Affairs for the Reserve Component Education Panel (RCEP); and ongoing training updates and quality assistance visits to the Reserve Components. The RCA also gathers DANTES program information, serves as consultant to the DANTES staff, conducts command briefings and presentations on DANTES Reserve programs and services, and recommends, develops and/or implements non-traditional education programs and services to the Reserve Components.
									</p>
                                    
                                    <br />
                                </div>
                            </div>
                            <hr class="hr-no-top-margin" />
                            <a name="european-advisors-office"></a>
                            <div class="row">
                                <div class="twelve">
                                    <br /><br />

                                    <h1>DANTES European Advisor's Office</h1>
                                    <p>The purpose of this office is to act as the DANTES point-of-contact for USEUCOM, USCENTCOM and USAFRICOM education services professionals and to provide support to education personnel, to include:</p>
                                    <ul class="indented expanded">
                                        <li>Assist Test Control Officers (TCOs) with the smooth and efficient operation of their test site.</li>
                                        <li>Conduct training workshops and attend local education fairs.</li>
                                        <li>Encourage military components to stay updated on DANTES programs.</li>
                                        <li>Obtain feedback from education center staff about DANTES material and operations.</li>
                                        <li>Perform COR duties for the CENTCOM overseas schools contracts.</li>
                                    </ul>
                                    <p>E-mail: <a href="mailto:usarmy.badenwur.usareur.mbx.dantes-euro@mail.mil">usarmy.badenwur.usareur.mbx.dantes-euro@mail.mil</a></p>

                                    <br />
                                    
                                    <table class="table-no-outer-border table-no-cells-border">
                                        <tr>
                                            <td valign="top">
                                                <br />
                                                <strong>2014 USEUCOM Calendar</strong> &nbsp;&nbsp;
                                            </td>
                                            <td valign="top">
                                                <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/EuropeanCalendar_2014.pdf#zoom=100" target="_blank"><strong>DOWNLOAD PDF</strong></a>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <br />
                                    
                                    <table class="eight">
                                        <thead>
                                            <tr>
                                                <th width="35%" colspan="2">Phone Numbers:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>(CONUS Comm)</strong></td>
                                                <td>011-49-6302-67-5814</td>
                                            </tr>
                                            <tr>
                                                <td><strong>(CONUS Comm Fax)</strong></td>
                                                <td>011-49-6302-67-5887</td>
                                            </tr>
                                            <tr>
                                                <td><strong>(DSN)</strong></td>
                                                <td>(314) 496-5814</td>
                                            </tr>
                                            <tr>
                                                <td><strong>(DSN Fax)</strong> </td>
                                                <td>(314) 496-5887</td>
                                            </tr>
                                            <tr>
                                                <td><strong>(OCONUS Comm)</strong></td>
                                                <td>49-6302-67-5814</td>
                                            </tr>
                                            <tr>
                                                <td><strong>(OCONUS Comm Fax)</strong></td>
                                                <td>49-6302-67-5887</td>
                                            </tr>
                                            <tr>
                                                <td><strong>(Germany Comm)</strong></td>
                                                <td>06302-67-5814</td>
                                            </tr>
                                            <tr>
                                                <td><strong>(Germany Fax)</strong></td>
                                                <td>06302-67-5887</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="twelve">
                                    <div class="row">
                                        <div class="six columns">
                                        	<h1>Other Resources</h1>
                                        </div>
                                        <div class="four columns right">
                                            <p>
                                                <strong>DSN:&nbsp;459-1111 (plus extension)</strong>
                                                <br />
                                                <strong>CML:&nbsp;(850) 452-1111 (plus extension)</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <br />

                                    <table class="table-rounded" >
                                        <thead>
                                            <tr>
                                                <th width="40%">Office</th>
                                                <th width="12%" align="center">Extension</th>
                                                <th width="12%" align="center">Fax</th>
                                                <th width="36%">E-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Counselor Support Programs</td>
                                                <td align="center">3132</td>
                                                <td align="center">1161</td>
                                                <td><a href="mailto:counseling@navy.mil">counseling@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>DANTES Information Bulletin (DIB) Editor</td>
                                                <td align="center">3120</td>
                                                <td align="center">1162</td>
                                                <td><a href="mailto:pubs@navy.mil">pubs@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Director's Office</td>
                                                <td align="center">3150</td>
                                                <td align="center">1159</td>
                                                <td><a href="mailto:dantes@navy.mil">dantes@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Distance Learning Programs</td>
                                                <td align="center">3129</td>
                                                <td align="center">1161</td>
                                                <td><a href="mailto:DantesDL@navy.mil">DantesDL@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Distribution Center</td>
                                                <td align="center">452-1082</td>
                                                <td align="center">1140</td>
                                                <td><a href="mailto:dist@navy.mil">dist@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>DoD MOU Program Manager</td>
                                                <td align="center">3175</td>
                                                <td align="center">1161</td>
                                                <td><a href="mailto:VOLEDCONCERNS@navy.mil">VOLEDCONCERNS@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Education Outreach</td>
                                                <td align="center">3120</td>
                                                <td align="center">1162</td>
                                                <td><a href="mailto:dantes_outreach@navy.mil">dantes_outreach@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Examination Programs (DSST, CLEP, GED, SAT, ACT, GRE, GMAT, LSAT)</td>
                                                <td align="center">3118</td>
                                                <td align="center">1160</td>
                                                <td><a href="mailto:exams@navy.mil">exams@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Higher Education Programs (Military Evals)</td>
                                                <td align="center">3213</td>
                                                <td align="center">1005</td>
                                                <td><a href="mailto:DANTES_ace@navy.mil">DANTES_ace@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Higher Education Programs (SOC)</td>
                                                <td align="center">3121</td>
                                                <td align="center">1161</td>
                                                <td><a href="mailto:DANTES_SOC@navy.mil">DANTES_SOC@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Higher Education Programs (Third Party Contract)</td>
                                                <td align="center">3121</td>
                                                <td align="center">1161</td>
                                                <td><a href="mailto:DANTES_thirdparty@navy.mil">DANTES_thirdparty@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Reference Publications Program</td>
                                                <td align="center">3131</td>
                                                <td align="center">1588</td>
                                                <td><a href="mailto:refpubs@navy.mil">refpubs@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Reserve Component Advisor</td>
                                                <td align="center">3127</td>
                                                <td align="center">1159</td>
                                                <td><a href="mailto:rca@navy.mil">rca@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Senior Enlisted Advisor</td>
                                                <td align="center">3153</td>
                                                <td align="center">1159</td>
                                                <td><a href="mailto:ea@navy.mil">ea@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Training</td>
                                                <td align="center">3181</td>
                                                <td align="center">1161</td>
                                                <td><a href="mailto:DANTEStraining@navy.mil">DANTEStraining@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Troops to Teachers</td>
                                                <td align="center">452-1320</td>
                                                <td align="center">1096</td>
                                                <td><a href="mailto:ttt@navy.mil">ttt@navy.mil</a></td>
                                            </tr>
                                            <tr>
                                                <td>Webmaster</td>
                                                <td align="center">3120</td>
                                                <td align="center">1162</td>
                                                <td><a href="mailto:DANTES_Webmaster@navy.mil">DANTES_Webmaster@navy.mil</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="four columns">
                                    <br />
                                    <h2>Questions</h2>
                                    <p>DANTES is dedicated to helping you reach your educational goals. Let us know if you have any questions about any program or benefit. We will be glad to provide any additional information you need.</p>
                                </div>
                                <div class="eight columns">
                                    <form id="form312" name="form312" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://hooah.wufoo.com/forms/q1rlw1ll1yw05m8/#public">
                                        <ul>
                                            <li id="foli3" class="notranslate">
                                                <label class="desc" id="title3" for="Field3">Name <span id="req_3" class="req">*</span></label>
                                                <div>
                                                    <input id="Field3" name="Field3" type="text" class="field text large" value="" maxlength="255" tabindex="1" onkeyup="" required />
                                                </div>
                                            </li>
                                            <li id="foli4" class="notranslate">
                                                <label class="desc" id="title4" for="Field4">Email <span id="req_4" class="req">*</span></label>
                                                <div>
                                                    <input id="Field4" name="Field4" type="email" spellcheck="false" class="field text large" value="" maxlength="255" tabindex="2" required />
                                                </div>
                                            </li>
                                            <li id="foli8" class="phone notranslate">
                                                <label class="desc" id="title8" for="Field8">Phone Number</label>
                                                <span>
                                                    <input id="Field8" name="Field8" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="3" />
                                                    <label for="Field8">###</label>
                                                </span>
                                                <span class="symbol">-</span>
                                                <span>
                                                    <input id="Field8-1" name="Field8-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4" />
                                                    <label for="Field8-1">###</label>
                                                </span>
                                                <span class="symbol">-</span>
                                                <span>
                                                    <input id="Field8-2" name="Field8-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="5" />
                                                    <label for="Field8-2">####</label>
                                                </span>
                                            </li>
                                            <li id="foli10" class="notranslate       ">
                                                <label class="desc" id="title10" for="Field10">Military Status</label>
                                                <div>
                                                    <select id="Field10" name="Field10" class="field select medium" tabindex="6" >
                                                        <option value="Civilian" selected="selected">Civilian</option>
                                                        <option value="Active" >Active</option>
                                                        <option value="Reserves" >Reserves</option>
                                                        <option value="Retired" >Retired</option>
                                                        <option value="Guard" >Guard</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li id="foli6" class="notranslate">
                                                <label class="desc" id="title6" for="Field6">Message <span id="req_6" class="req">*</span></label>
                                                <div>
                                                    <textarea id="Field6"
                                                              name="Field6"
                                                              class="field textarea large"
                                                              spellcheck="true"
                                                              rows="10" cols="50"
                                                              tabindex="6"
                                                              onkeyup=""
                                                              required></textarea>
                                                </div>
                                            </li>
                                            <li class="buttons">
                                                <div>
                                                    <button type="submit" name="saveForm" id="saveForm" class="submit button button-purple button-icon-arrow-right"><strong>Submit</strong></button>
                                                </div>
                                            </li>
                                            <li class="hide">
                                                <label for="comment">Do Not Fill This Out</label>
                                                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                                                <input type="hidden" id="idstamp" name="idstamp" value="4Bmg1r6wfvUkXV9dI+/YThFV0F1znK1PNRVWh4gyfj8=" />
                                            </li>
                                        </ul>
                                    </form>
                                    <script src="{{ page.path }}/_js/vendor/wufoo.js"></script>
                                </div>
                            </div>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>
