---
layout: default
title: Acting Deputy Director - Michael J. Stahl | Biographies
path: ../../..
body_class:
social: {
    title: "Acting Deputy Director, Michael J. Stahl",
    description: "Michael J. Stahl was born in Evanston, Illinois and attended the U.S. Naval Academy, graduating in 1982 with a Bachelor of Science degree in Ocean Engineering.  Following graduation he reported to flight training in Pensacola, Florida and was designated a Naval Aviator in April 1985."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='contact.jpg' slide_title='Biographies' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine flush-top">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/contact/index.html">Contact DANTES</a></li>
                                <li><a href="{{ page.path }}/contact/bios/deputy-director/index.html">Michael J. Stahl  Bio</a></li>
                            </ul>
                            {% include social.html %}

                            <br />
                            <br />
                            
                            <h1><strong>DANTES Leadership</strong></h1>
                            <h2>Deputy Director</h2>
                            
                            <br />
                            <br />

                            <p>
                            	<img src="{{ page.path }}/_images/elements/bio-michael-j-stahl.jpg" class="left inline" />
                                <strong>Michael J. Stahl</strong>
                                
                                <br /><br />

                                Michael J. Stahl was born in Evanston, Illinois and attended the U.S. Naval Academy, graduating in 1982 with a Bachelor of Science degree in Ocean Engineering.  Following graduation he reported to flight training in Pensacola, Florida and was designated a Naval Aviator in April 1985.
                            </p>
                            <p>Military operational assignments included tours with the &ldquo;Patriots&rdquo; of VAQ-140 deploying aboard USS John F. Kennedy (CV 67) and USS Dwight D. Eisenhower (CVN 69); the &ldquo;Gauntlets&rdquo; of VAQ‑136, based in Atsugi, Japan, deploying aboard USS Independence (CV 62), and command of the &ldquo;Black Ravens&rdquo; of VAQ-135 deploying aboard USS Kitty Hawk (CV 63) and USS Carl Vinson (CVN 70) for Operations Desert Fox and Southern Watch.  He also served as Assistant Operations Officer for Carrier Air Wing 5 and Operations Officer for the Theodore Roosevelt Carrier Strike Group.  Captain Stahl accumulated over 3500 flight hours and 799 arrested landings.</p>
                            <p>Military shore duty assignments included tours as a Fleet Replacement Squadron (FRS) instructor with VAQ-129, Operational Test Director and Electronic Warfare Branch Head with VX-5, Assistant Chief Operational Test Director with VX-9, Joint Staff Action Officer for the Command, Control Communications, and Computer Systems Directorate, Air Warfare Division Director, Chief of Staff and Deputy Commander for Commander Operational Test and Evaluation Force and Development, Planning and Analysis Division Director and Chief of Staff for the Naval Education and Training Command.  He obtained a Master of Science Degree in National Resource Strategy from the Industrial College of the Armed Forces.</p>
                            <p>Following retirement he entered Federal Civil Service in May 2012 as an Education Program Analyst for the Naval Education and Training Command in Pensacola, Florida.  There he served as Executive Director of the Chief of Naval Personnel's Sexual Assault Prevention and Response Task Force, Sexual Assault Prevention and Response Program Manager, co-lead of the Navy Enlisted Supply Chain Planning and Execution Business Improvement Team Execution Cross Functional Team, lead action officer for Flag/Senior Executive Service Planning Board for Training, Officer Leadership Program Manager, and Language, Regional Expertise, and Cultural Expertise and Navy Credentials Program coordinator.</p>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>