
            <header>
                <section>
                    <nav class="row">
                        <ul class="twelve">
                            <li class="home">
                                <a href="{{ page.path }}/index.html">Home</a>
                            </li>
                            <li>
                                <a href="{{ page.path }}/service-members/index.html">Service Members</a>

                                <div class="subnav">
                                    <ul>
                                        <li>
                                            <a href="{{ page.path }}/service-members/prep-for-college/index.html"><strong>Prep for College</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/service-members/education-benefits/index.html"><strong>Education Benefits</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/service-members/education-benefits/financial-assistance/index.html"><strong>Financial Assistance</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/service-members/transferable-credits/index.html"><strong>Transferable Credits</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/service-members/contact-a-counselor/index.html"><strong>Contact a Counselor</strong></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{{ page.path }}/educational-institutions/index.html">Educational Institutions</a>

                                <div class="subnav">
                                    <ul>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/military-friendly-institution/index.html"><strong>Become a Military-Friendly Institution</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/transferable-credits/index.html"><strong>Transferable Credits</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/recommended-affiliations/index.html"><strong>Recommended Affiliations</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/dod-mou/index.html"><strong>DoD MOU</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/education-counselors-toolbox/index.html"><strong>Counselor's Toolbox</strong></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{{ page.path }}/education-counselors/index.html">Education Counselors</a>

                                <div class="subnav">
                                    <ul>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/education-counselors-toolbox/index.html"><strong>Counselor's Toolbox</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/counselor-support-programs/index.html"><strong>Counselor Support Programs</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/dod-mou/index.html"><strong>DoD MOU</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/training/index.html"><strong>Training</strong></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{{ page.path }}/dod-leadership/index.html">DoD Leadership</a>
                            </li>
                            <li class="search-inline">
                                <a href="{{ page.path }}/search/index-lunr.html"><strong>Search</strong></a>
                                <form action="{{ page.path }}/search/index-lunr.html" method="get">
                                    <div class="input">
                                        <input type="text" size="15" name="query" placeholder="Search" />
                                    </div>
                                    <div class="output"></div>
                                </form>
                            </li>
                        </ul>
                    </nav>
                </section>
            </header>