---
layout: default
title: Troops to Teachers FAQ | Service Members
path: ../..
body_class:
social: {
    title: "Troops to Teachers",
    description: "Troops to Teachers is a DANTES-managed program that helps eligible military personnel continue to serve through public school teaching."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-troops_to_teachers.jpg' slide_title='Troops to Teachers' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/troops-to-teachers-faq/index.html">Troops to Teachers</a></li>
                            </ul>
                            {% include social.html %}

                            <a href="http://www.proudtoserveagain.com/" target="_blank"><img src="{{ page.path }}/_images/elements/feature-service_members-distance_learning-troops_to_teachers-inline.png" alt="Troops to Teachers flag" class="inline right" /></a>
                            <h1>Troops to Teachers FAQ</h1>
                            <p>Troops to Teachers (TTT) is a DANTES-managed Department of Defense (DoD) program that can help you begin a new career as a public school teacher – giving you the opportunity to use your leadership skills, knowledge and experience to have a positive effect on our nation's youth.</p>
                            <p>&nbsp;</p>

                            <br />
                            <hr />

                            <ul class="accordion" style="margin-top: 26px;"> 
                                <li>
                                    <div class="title">
                                        <h5>Where will I teach?</h5>
                                    </div>
                                    <div class="content">
                                        <br /> 
                                        
                                        <p>
                                            TTT provides teachers for grades pre-k through 12 at in-need public schools, charter schools and Bureau of Indian Affairs schools.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5> What will I teach?</h5>
                                    </div>
                                    <div class="content">
                                    	<br />
                                        
                                        <p>
                                        	The program is geared toward placing teachers in such critical subjects as math, science, special education, foreign language and career-technical.
                                            <br /><br />
										</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>What does TTT provide? </h5>
                                    </div>
                                    <div class="content">
                                    	<br />
                                        <p>
                                        	TTT provides counseling and referral services, and helps you identify certification requirements and programs leading to certification and employment opportunities.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>How can I learn more about TTT? </h5>
                                    </div>
                                    <div class="content">
                                    	<br />
                                        <p>
                                            The TTT homepage, <a href="http://www.proudtoserveagain.com/" target="_blank">ProudToServeAgain.com</a>, is a portal that lists all state TTT offices that provide counseling and assistance regarding certification requirements, routes to state certification and employment leads. The TTT website also provides information and resource links, including links to state Departments of Education, state certification offices and other job listing sites in public education.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>
                            </ul>
                          
                            <div class="spotlight spotlight-green spotlight-compressed-caption twelve">
                                <div>
                                    <figure><img src="{{ page.path }}/_images/elements/spotlight-troops_to_teachers_alternate.jpg" width="988" height="337"></figure>
                                    <figcaption>
                                        <section class="row">
                                            <h3 class="four columns">Troops to Teachers</h3>
                                            <p class="five columns">Troops to Teachers is a DANTES-managed program that helps eligible military personnel continue to serve through public school teaching.</p>
                                            <span class="three columns">
                                                <a href="http://www.proudtoserveagain.com/" class="button button-grey button-text-uppercase button-icon-arrow-right" target="_blank"><strong>Visit TTT</strong></a>
                                            </span>
                                        </section>
                                    </figcaption>
                                </div>
                            </div>

                            <br />
                            <br />
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>