---
layout: default
title: Air National Guard &mdash; VA Benefits &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "Air National Guard",
    description: "In-state tuition is available to active service members and family - get all the information here."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-your_benefits-air_national_guard.jpg' slide_title='Air National Guard' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html">VA Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/air-national-guard/index.html">Air National Guard</a></li>
                            </ul>
                            {% include social.html %}

                        	<div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-service_members-benefits-air_national_guard-logo.png" />
                                <br /><br />
                                <a href="http://goang.com/Benefits/Benefits" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Go to Website</strong></a>
                            </div>
                            <h1>What you need to know about Air National Guard Tuition Assistance</h1>
                            <p>Air National Guard Tuition Assistance is a program that provides 100 percent tuition and fees for courses taken by activated Guard and Reserve members.</p>
                            
							<br />
                            
                            <ul class="accordion">
	                            <li>
                            		<div class="title">
                            			<h5>Am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p class="solo">If activated, you will become eligible for the Air Force Tuition Assistance for Active Duty and Activated Reserve/Guard.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Will I Receive?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p>100 percent of tuition and fees, not to exceed:</p>
                                        <ul>
                                            <li>Up to $250 at semester credit hour</li>
                                            <li>$166 at quarter credit hour</li>
                                            <li>$4,500 at fiscal year</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Kind of Programs are Available?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
										<p>Your Air National Guard Tuition Assistance can be use to pay for many different education programs, including:</p>
                                        <ul>
                                            <li>Academic or technical degree programs or courses taken from two-or four-year institutions</li>
                                            <li>May be taken on base, off base or by correspondence</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>