
                            <address>
                                6490 Saufley Field Road<br />
                                Pensacola, FL  32509-5243<br />
                                <a href="mailto:dantes@navy.mil">dantes@navy.mil</a><br />
                                850-452-1111<br />
                                DSN: 459-1111<br />
                                <a href="http://www.dantes.doded.mil/index.html">www.dantes.doded.mil</a><br />
                            </address>
