
                        <aside class="hero-aside-news-view three">
                            <h3><a href="http://dantespulse.com/" target="_blank">DANTES Digital Network</a></h3>

                            <ol>
                                <li class="intro">
                                    <p><em>Access the DANTES Digital Network</em> – to access the latest news and information in one convenient place.</p>
                                    <a href="http://dantespulse.com/" target="_blank" class="button button-grey button-text-uppercase button-icon-arrow-right button-icon-compartment" data-scout-event="Side_banner, visi_digi_network, home-side-banner"><strong>Find Out More</strong></a>

                                    <menu>
                                        <ul>
                                            <li><a href="http://dantespulse.com/" class="facebook" target="_blank">Facebook</a></li>
                                            <li><a href="http://dantespulse.com/" class="twitter" target="_blank">Twitter</a></li>
                                            <li><a href="http://dantespulse.com/" class="gplus" target="_blank">Google+</a></li>
                                            <li><a href="http://dantespulse.com/" class="youtube">YouTube</a></li>
                                            <li><a href="http://dantespulse.com/" class="pinterest">Pinterest</a></li>
                                        </ul>
                                    </menu>
                                </li>
                                <li class="videos">
                                    <div>
                                        <h4>Videos</h4>
                                        <p>See videos about programs and opportunities available to you.</p>
                                        <a href="http://dantespulse.com/category/videos/" target="_blank" class="button button-yellow button-yellow-flat button-text-uppercase button-icon-arrow-right button-icon-compartment"><strong>Watch Now</strong></a>
                                    </div>
                                </li>
                                <li class="blog">
                                    <div>
                                        <h4>Blog Articles</h4>
                                        <p>Keep up with information that will help you get the most of your educational options.</p>
                                        <a href="http://dantespulse.com/category/blog-articles/" target="_blank" class="button button-yellow button-yellow-flat button-text-uppercase button-icon-arrow-right button-icon-compartment"><strong>Read Now</strong></a>
                                    </div>
                                </li>
                                <!--
                                <li class="pr">
                                    <div>
                                        <h4>Press Releases</h4>
                                        <p>Informative news and developments for the news media.</p>
                                        <a href="http://dantespulse.com/category/press-releases/" target="_blank" class="button button-yellow button-yellow-flat button-text-uppercase button-icon-arrow-right button-icon-compartment"><strong>Read Now</strong></a>
                                    </div>
                                </li>
                                <li class="news">
                                    <div>
                                        <h4>Hot News</h4>
                                        <p>Read all about it – breaking news that impacts your educational opportunities.</p>
                                        <a href="http://dantespulse.com/category/hot-news/" target="_blank" class="button button-yellow button-yellow-flat button-text-uppercase button-icon-arrow-right button-icon-compartment"><strong>Read Now</strong></a>
                                    </div>
                                </li>
                                -->
                                <li class="dib">
                                    <div>
                                        <h4>DANTES Information Bulletin</h4>
                                        <p>Read DANTES Information Bulletin here for all the latest news about programs and resources.</p>
                                        <a href="http://dantespulse.com/category/dib/" target="_blank" class="button button-yellow button-yellow-flat button-text-uppercase button-icon-arrow-right button-icon-compartment"><strong>Read Now</strong></a>
                                    </div>
                                </li>
                            </ol>

                            <nav>
                                <ol>
                                </ol>
                            </nav>
                        </aside>