
            <article class="call-to-action">
                <section>
                    <div class="content row">
                        <div class="hero nine">
                            <ul>
                                <li>
                                    <figure><img src="{{ page.path }}/_images/slides/{{ include.slide_name }}" alt="" width="948" height="420"></figure>
                                	<figcaption>
                                        <div class="text-normal-case">
                                            <h2>{{ include.slide_title }}</h2>
                                        </div>
	                                </figcaption>
                                </li>
                            </ul>
                        </div>
                        {% include cta.aside.html %}
                    </div>
                </section>
            </article>

            <div class="clearfix"></div>