
                            <ul class="social{% if page.title == 'Home' %} standalone{% endif %}">
                                <li class="facebook">
                                    <div class="fb-like" data-colorscheme="dark" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none"></a>
                                </li>
                                <li class="gplus">
                                    <div class="g-plus" data-action="share" data-annotation="none"></div>
                                </li>
                                <li class="print">
                                    <a href="javascript:window.print();">Print</a>
                                </li>
                            </ul>
