---
layout: default
title: Prep for College | Service Members
path: ../..
body_class:
social: {
    title: "Prep for College",
    description: "College prep courses can help identify your interests and strengths in choosing a course of study toward a fulfilling career path, improve your academic skills, or even earn college credit for what you already know. Distance learning makes the process convenient for your schedule."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-prep_for_college.jpg' slide_title='Prep for College' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep For College</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Be sure you're ready for the next phase of your education – DANTES provides the opportunities for achieving success.</h1>
                            <p>College prep courses can help identify your interests and strengths in choosing a course of study toward a fulfilling career path, improve your academic skills – or even earn college credit for what you already know. Distance learning makes the process convenient for your schedule.</p>

                            <menu class="row">
                                <div class="four left">
                                    <div class="eleven feature-box feature-box-preset service_members-prep_for_college-self_assessment">
                                        <div>
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/self-assessment/index.html" data-scout-event="Top_page_visual_nav, self_assessment, self-assess">
                                                    <strong>DANTES Self Assessment</strong>
                                                </a>
                                            </figcaption>
                                        </div>

                                        <br />
                                        <p class="flush">The DANTES Distance Learning Readiness Self-Assessment (DANTES DLRSA) was developed to help prospective distance learners self-assess their readiness for distance learning.</p>
                                    </div>
                                </div>
                                <div class="four left">
                                    <div class="eleven feature-box feature-box-preset service_members-prep_for_college-tips">
                                        <div>
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/tips/index.html" data-scout-event="Top_page_visual_nav, success_complete, tips-success-complete">
                                                    <strong>Tips for Successful Completion</strong>
                                                </a>
                                            </figcaption>
                                        </div>

                                        <br />
                                        <p class="flush">Distance learning comes with special challenges - especially for military personnel. We offer practical advice to help you achieve your educational goals.</p>
                                    </div>
                                </div>
                                <div class="four left">
                                    <div class="eleven feature-box feature-box-preset service_members-prep_for_college-student_enrollment">
                                        <div>
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/student-enrollment-procedures/index.html" data-scout-event="Top_page_visual_nav, student_enrollment, student-enroll">
                                                    <strong>Student Enrollment Procedures</strong>
                                                </a>
                                            </figcaption>
                                        </div>

                                        <br />
                                        <p class="flush">DANTES wants to help you prepare for enrollment. Follow this link for more information.</p>
                                    </div>
                                </div>
                                <div class="four left clear">
                                    <div class="eleven feature-box feature-box-preset service_members-prep_for_college-examinations">
                                        <div>
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/examinations/index.html" data-scout-event="Top_page_visual_nav, examinations, exams">
                                                    <strong>Examinations</strong>
                                                </a>
                                            </figcaption>
                                        </div>

                                        <br />
                                        <p class="flush">What examinations should you take to reach your professional goal? DANTES sponsors a wide range of examination programs to assist service members like you in meeting their educational goals.</p>
                                    </div>
                                </div>
                                <div class="four left">
                                    <div class="eleven feature-box feature-box-preset service_members-prep_for_college-earn_college_credit">
                                        <div>
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/earn-college-credit/index.html" data-scout-event="Top_page_visual_nav, earn_college_credit, earn-credit">
                                                    <strong>Earn College Credit</strong>
                                                </a>
                                            </figcaption>
                                        </div>

                                        <br />
                                        <p class="flush">Want additional college credit based on information you already know? Follow this link for more information.</p>
                                    </div>
                                </div>
                                <div class="four left">
                                    <div class="eleven feature-box feature-box-preset service_members-transferable_credits">
                                        <div>
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/college-credit-alternatives/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-transferable-credits">
                                                    <strong>College Credit Alternatives</strong>
                                                </a>
                                            </figcaption>
                                        </div>

                                        <br />
                                        <p class="flush">Learn more about the Joint Services Transcript (JST), certified by the American Council on Education (ACE), which replaces traditional transcripts.</p>
                                    </div>
                                </div>
                                <div class="four left clear">
                                    <div class="eleven feature-box feature-box-preset service_members-prep_for_college-high_school_diploma">
                                        <div>
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/high-school-diploma-programs/index.html" data-scout-event="Top_page_visual_nav, HSD_program, high-school-diploma-program">
                                                    <strong>High School Diploma Programs</strong>
                                                </a>
                                            </figcaption>
                                        </div>

                                        <br />
                                        <p class="flush">Need to get your high school diploma? Choose from among the nation's leading accredited schools to take online courses.</p>
                                    </div>
                                </div>
                            </menu>

                            <br />
                            <hr />

                            <ul class="accordion accordion-flush-to-hr">
                                <li>
                                    <div class="title" data-scout-event="Accordion, show_more_education_resources, accordion-education-resources">
                                        <h5>Education Resources</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-prep_for_college-logo-kuder_journey.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.dantes.kuder.com/" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-kuder">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>

                                                    <dl class="feature-box-jump-button" style="padding-top: 10px;">
                                                        <dt>&nbsp;</dt>
                                                        <dd><a href="http://www.dantes.kuder.com/" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-kuder"><strong>Go to Website</strong></a></dd>
                                                    </dl>
                                                </div>

                                                <br class="clear" /><br />
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>Kuder&reg; Journey</strong><br />
                                                    Kuder Journey is now available to Active Duty, Guard, Reserve personnel and service members in transition, making it a valuable resource during the military-to-civilian transition process. Providing tailored career guidance to our military service members is important to DANTES, which is why we are providing this intuitive career planning system designed to address each user's individual situation. The career planning process starts with learning about oneself. Journey''s research-based interests, skills and work values assessments kick-start exploration and ultimately, encourage more career satisfaction.
                                                </p>
                                            </div>
                                        </div>

                                        <br />

                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-prep_for_college-logo-oasc.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.nelnetsolutions.com/dantes/" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-oasc">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>

                                                    <dl class="feature-box-jump-button" style="padding-top: 10px;">
                                                        <dt>&nbsp;</dt>
                                                        <dd><a href="http://www.nelnetsolutions.com/dantes/" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-oasc"><strong>Go to Website</strong></a></dd>
                                                    </dl>
                                                </div>

                                                <br class="clear" /><br />
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>Online Academic Skills Course (OASC)</strong><br />
                                                    If you or your education counselor feels that it would be beneficial to review math and writing skills in order to improve your job skills, pass exams, advance in your career or continue your education, the Online Academic Skills Course (OASC) allows free access to an online study course designed to check skill levels.
                                                </p>
                                            </div>
                                        </div>

                                        <br />

                                        <div class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-prep_for-college-logo-tutor-com.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.tutor.com/military" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-tutor">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>

                                                    <dl class="feature-box-jump-button" style="padding-top: 10px;">
                                                        <dt>&nbsp;</dt>
                                                        <dd><a href="http://www.tutor.com/military" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_accordion_link, select_website_link, external-link-tutor"><strong>Go to Website</strong></a></dd>
                                                    </dl>
                                                </div>

                                                <br class="clear" /><br />
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>Tutor.com</strong><br />
                                                    A free online tutor service is available for all Navy and Army military members and their family members for those requiring tutoring in specific subject areas.
                                                </p>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>