---
layout: default
title: Testing Personnel | Training | Education Counselors
path: ../../..
body_class:
social: {
    title: "Testing Personnel",
    description: "The online TCO Academic Testing Course provides comprehensive examination information in a 24/7-delivery mode so that potential TCO candidates nominated by their headquarters/major commands can receive standardized TCO training in a self-paced program."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='educational_counselors-testing_personnel.jpg' slide_title='DANTES Testing Personnel' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/education-counselors/index.html">Education Counselors</a></li>
                                <li><a href="{{ page.path }}/education-counselors/training/index.html">Training</a></li>
                                <li><a href="{{ page.path }}/education-counselors/training/testing-personnel/index.html">DANTES Testing Personnel</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="four right inline" style="margin-top: -10px;">
                                <div class="feature-box feature-box-short">
                                    <div>
                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-educational_counselors-testing_personnel.jpg);"></figure>
                                        <figcaption>
                                            <a href="javascript:;">
                                                <strong>&nbsp;</strong>
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                            <div class="eight">
                                <h2>The online TCO Academic Testing Course provides comprehensive examination information in a 24/7 delivery mode</h2>
                                <p>so that potential TCO candidates nominated by their headquarters/major commands can receive standardized TCO training in a self-paced program. This has also reduced travel and per diem costs for the Military Services.</p>
                                <a href="https://dantestcoportal.prometric.com/Login/Login.aspx" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Visit TCO Portal</strong></a>
                            </div>

                            <hr /> 

                            <ul class="accordion accordion-flush-to-hr"> 
                                <li>
                                    <div class="title">
                                        <h5>How do you get TCO Training?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>To get TCO training you must be nominated by your headquarters/major command in order to be granted access to the online Test Control Officer (TCO) Academic Testing Course. Once you have access, the online course provides comprehensive, standardized TCO training in a self-paced, 24/7 delivery mode.</p>
                                        <p>A potential TCO/ATCO candidate must be nominated by their headquarters/major command before they will be allowed access to the online TCO Academic Testing Course. Once the TCO nomination package is received at DANTES, the DANTES administrator will establish an account to allow access to the system. The system automatically sends a "welcome" email to the new student, including login and password information.</p>
                                        <p>While the course is estimated to take 3 days, the student has 30 days to complete the course and final exam. The system notifies DANTES of successful completion, which is then documented in the nomination package. For DANTES Test Sites located in Europe and the Middle East, the headquarters/major command must contact <a href="mailto:dantes@eur.army.mil">dantes@eur.army.mil</a>.<br /><br /></p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>How can a Test Examiner (TE) access TCO Academic Testing Courses?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>In order for a Test Examiner (TE) to access the TCO Academic Testing Course, the headquarters/major command must contact DANTES at <a href="mailto:exams@navy.mil">exams@navy.mil</a> to request access for the TE and provide the Examiner's name, phone number, and email address. The DANTES administrator will then establish an account to allow access to the system. The system will send a notification to the student along with login and password information. The system will notify DANTES of the Examiner's successful completion of the course and final exam. For DANTES Test Sites located in Europe and the Middle East, the headquarters/major command must contact <a href="mailto:dantes@eur.army.mil">dantes@eur.army.mil</a>.<br /><br /></p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Who to contact?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>For TCOs, ATCOs, or TEs desiring to access the TCO Academic Testing Course for refresher training without the exam, the headquarters/major command must contact DANTES at <a href="mailto:exams@navy.mil">exams@navy.mil</a> to request access and provide a name, phone number, and email address. The DANTES administrator will then establish an account to allow access to the system. The system will send a notification to the student along with login and password information. For DANTES Test Sites located in Europe and the Middle East, the headquarters/major command must contact <a href="mailto:dantes@eur.army.mil">dantes@eur.army.mil</a>.</p>
                                        <p>For more information, contact <a href="mailto:exams@navy.mil">exams@navy.mil</a>.<br /><br /></p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>DANTES Examination Program Handbook (DEPH)</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>FY14 ABRIDGED VERSION (updated 1 October 2013)<br />(Note: Exhibits are in the Complete Version of the DEPH in the TCO Portal) </p>
                                        <a href="#" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Download DEPH</strong></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Base Sponsored NTC Establishment</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>Military Education Centers interested in establishing a base-sponsored National Test Center (NTC) coordinate with a local or on-base institution (college or university), the base Commanding Officer and DANTES. The advantages of having a NTC on or near base are many. Computer-based testing reduces administrative work associated with paper-based test administration; DANTES funds the test and examination fee, and students receive instant score results.</p>
                                        <p>At the base-sponsored NTC, the institution is responsible for providing staff, computers, technical support, and Internet connection. If the NTC can be located on station, the base provides the room/space for the computer lab. It is a win-win situation for the institution if they already have a computer lab, as it maximizes the use of their computers and generates funding to maintain and operate their facility. Service members’ pay nothing while testing on base and receive instant score results.</p>
                                        <p>Download more information on starting an NTC establishment.</p>
                                        <a href="#" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Download NTC Steps</strong></a>
                                    </div>
                                </li>
                            </ul>

                            <br />
                            <br />
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>