---
layout: default
title: Resources Links
path: ..
body_class:
social: {
    title: "Resources Links",
    description: "Resources and web links."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='resources-links.jpg' slide_title=page.title %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/resources/index.html">Resources Links</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Resources Links</h1>

                            <br />

                            <h2 class="headline-flush-block-bar">US Government Links</h2>
                            <ul class="accordion accordion-disabled accordion-smaller-title-font accordion-high-contrast-row-colors accordion-no-bottom-margin accordion-no-top-margin accordion-inline-button">
                                <li>
                                    <a href="http://nces.ed.gov/collegenavigator/" target="_blank" class="title">
                                        <h5>College Navigator <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.ed.gov/" target="_blank" class="title">
                                        <h5>U.S. Department of Education <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.dol.gov/" target="_blank" class="title">
                                        <h5>U.S. Department of Labor <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.va.gov/" target="_blank" class="title">
                                        <h5>U.S. Department of Veterans Affairs <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.ope.ed.gov/accreditation/" target="_blank" class="title">
                                        <h5>DoE Recognized Postsecondary Institutions and Accrediting Agencies <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.bls.gov/ooh/" target="_blank" class="title">
                                        <h5>Occupation Outlook Handbook <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.benefits.va.gov/gibill/" target="_blank" class="title">
                                        <h5>VA Education Programs <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                            </ul>

                            <h2 class="headline-flush-block-bar">Service Links</h2>
                            <ul class="accordion accordion-disabled accordion-smaller-title-font accordion-high-contrast-row-colors accordion-no-bottom-margin accordion-no-top-margin accordion-inline-button">
                                <li>
                                    <a href="https://www.my.af.mil/faf/FAF/fafHome.jsp" target="_blank" class="title">
                                        <h5>Air Force Voluntary Education <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hrc.army.mil/TAGD/Army%20Continuing%20Education%20System%20ACES" target="_blank" class="title">
                                        <h5>Army Continuing Education <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.goarmyed.com/login.aspx" target="_blank" class="title">
                                        <h5>Army University Access Online <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.uscg.mil/hq/cg1/cgi/" target="_blank" class="title">
                                        <h5>Coast Guard Institute <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.au.af.mil/au/ccaf/certifications.asp" target="_blank" class="title">
                                        <h5>Community College of the Air Force <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.cool.navy.mil/" target="_blank" class="title">
                                        <h5>Credentialing Opportunities Online (COOL) NAVY <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.cool.navy.mil/" target="_blank" class="title">
                                        <h5>Credentialing Opportunities Online (COOL) ARMY <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.defense.gov/" target="_blank" class="title">
                                        <h5>U.S. Department of Defense <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="title">
                                        <h5>DANTES Foreign Language Guide <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="title">
                                        <h5>Marine Corps Voluntary Education <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.navycollege.navy.mil/" target="_blank" class="title">
                                        <h5>Navy College Program <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="title">
                                        <h5>OUSD Voluntary Education <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.nelnetsolutions.com/dod/" target="_blank" class="title">
                                        <h5>Peterson’s DoD MWR Library Education Lifelong Learning Resource Center <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="title">
                                        <h5>Reserve Component Voluntary Education <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://usmap.cnet.navy.mil/usmapss/static/usmap.jsp" target="_blank" class="title">
                                        <h5>United Services Military Apprenticeship Program (USMAP) <span class="button button-grey button-icon-arrow-right button-text-uppercase button-condensed"><strong>Visit Site</strong></span></h5>
                                    </a>
                                </li>
                            </ul>

                            <br />
                            <br />
                            <br />
                            <br />

                            <h2 class="headline-flush-block-bar">Voluntary Education</h2>
                            <div class="row">
                                <div class="six columns">
                                    <br /><br />

                                    <h5 class="color-darkgrey">Fact Sheets</h5>

                                    <br />

                                    <form name="frmFactSheets" id="frmFactSheets" action="#" method="post">
                                        <select name="strFactSheet" id="strFactSheet" class="six">
                                            <option value="{{ page.path }}/_content/fact-sheets/FactSheetFY09.pdf">FY 2009</option>
                                            <option value="{{ page.path }}/_content/fact-sheets/FactSheetFY10.pdf">FY 2010</option>
                                            <option value="{{ page.path }}/_content/fact-sheets/FactSheetFY11.pdf">FY 2011</option>
                                            <option value="{{ page.path }}/_content/fact-sheets/FactSheetFY12.pdf">FY 2012</option>
                                            <option value="{{ page.path }}/_content/fact-sheets/FactSheetFY13.pdf">FY 2013</option>
                                            <option value="{{ page.path }}/_content/fact-sheets/FactSheetArchive.pdf">Archive</option>
                                        </select>

                                        <br /><br />

                                        <a href="#" id="btnFactSheet" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>View Document</strong></a>
                                    </form>
                                </div>
                                <div class="six columns">
                                    <br /><br />

                                    <h5 class="color-darkgrey">Education Levels</h5>

                                    <br />

                                    <form name="frmEdLevels" id="frmEdLevels" action="#" method="post">
                                        <select name="strEdLevel" id="strEdLevel" class="six">
                                            <option value="{{ page.path }}/_content/education-levels/edlevelsFY09.pdf">FY 2009</option>
                                            <option value="{{ page.path }}/_content/education-levels/edlevelsFY10.pdf">FY 2010</option>
                                            <option value="{{ page.path }}/_content/education-levels/edlevelsFY11.pdf">FY 2011</option>
                                            <option value="{{ page.path }}/_content/education-levels/edlevelsFY12.pdf">FY 2012</option>
                                            <option value="{{ page.path }}/_content/education-levels/edlevelsFY13.pdf">FY 2013</option>
                                        </select>

                                        <br /><br />

                                        <a href="#" id="btnEdLevel" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>View Document</strong></a>
                                    </form>
                                </div>
                            </div>

                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>

            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51393b9372b05326"></script>

