
<h1>Department of Defense (DoD) Voluntary Education Partnership Memorandum of Understanding (MOU)</h1>
<p>The Under Secretary of Defense for Personnel Readiness provides overall policy guidelines for voluntary education programs in the Department of Defense. These responsibilities are accomplished through the Deputy Assistant Secretary of Defense for Military Community and Family Policy, by the Chief, Continuing Education, in the Educational Opportunities Directorate.</p>
<p>The revision to the Department of Defense Instruction (DoDI) 1322.25, "Voluntary Education Programs," includes an appendix containing the DoD Voluntary Education Partnership Memorandum of Understanding (MOU) between DoD Office of the Under Secretary of Defense for Personnel and Readiness (USD (P&R)) and educational institutions.  DoD policy requires educational institutions that wish to participate in the DoD Tuition Assistance (TA) Program to sign an MOU conveying the commitments and agreements between the educational institution and DoD prior to an educational institution receiving funds from a service's TA program. The memorandum and a list of educational institutions that have signed can be found at <a target="_blank" href="http://www.dodmou.com">www.dodmou.com</a>.</p>
<hr />
<div class="content-highlight content-highlight-bright">
  <h2>Resources</h2>
  <div class="row"> <br />
    <br />
    <br />
    <div class="three columns">
      <h2 class="resources-icon-header resources-icon-header-preset video">Videos</h2>
    </div>
    <div class="three columns">
      <p> <strong>Executive Order 13607</strong><br />
        <a href="{{ page.path }}/_content/Executive_Order_13607.wmv" class="color-purple color-link link-underlined" target="_blank" data-scout-event="mid_page_document, exec_order_wma, exec-order13607-wma">DOWNLOAD</a> </p>
    </div>
    <div class="three columns">
      <h2 class="resources-icon-header resources-icon-header-preset faq">FAQs</h2>
    </div>
    <div class="three columns">
      <p> <strong>DoD MOU FAQs</strong><br />
        <a href="http://www.dodmou.com/Home/Faq" class="color-purple color-link link-underlined" target="_blank" data-scout-event="mid_page_document, DoDMOU_faqs, dod-mou-faq">VISIT PAGE</a> </p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="three columns">
      <h2 class="resources-icon-header resources-icon-header-preset powerpoint">PowerPoint Downloads</h2>
    </div>
    <div class="three columns">
      <p> <strong>Executive Order 13607</strong><br />
        <a href="{{ page.path }}/_content/06-06-12EOWebinar_with_disclaimer7Jun-1.ppt" class="color-purple color-link link-underlined" data-scout-event="mid_page_document, exec_order_ppt, exec-order13607-ppt">DOWNLOAD</a> </p>
    </div>
    <div class="three columns">
      <h2 class="resources-icon-header resources-icon-header-preset pdf">PDF/Acrobat Downloads</h2>
    </div>
    <div class="three columns">
      <p> <strong>Accrediting Agencies Recognized For Title IV Purposes</strong> <a href="http://www2.ed.gov/admins/finaid/accred/accreditation_pg9.html" class="color-purple color-link link-underlined" target="_blank" data-scout-event="mid_page_document, DoD_accred_agencies_title_IV_purposes, DoD-accred-agencies-title-IV">OPEN</a> </p>
      <p> <strong>Executive Order 13607</strong><br />
        <a href="http://www.whitehouse.gov/the-press-office/2012/04/27/executive-order-establishing-principles-excellence-educational-instituti" class="color-purple color-link link-underlined" target="_blank" data-scout-event="mid_page_document, exec_order, exec-order13607">OPEN</a> </p>
      <p> <strong>DoD MOU Sample</strong><br />
        <a href="http://www.dodmou.com/Documents/DODMOU%203%20SAMPLE%20July_7_2014.pdf#zoom=100" class="color-purple color-link link-underlined" target="_blank" data-scout-event="mid_page_document, DoDMOU_sample_pdf, dod-mou-sample-pdf">OPEN</a> </p>
      <p> <strong>DODI 1322.25 March 15 2011</strong><br />
        <a href="http://www.dodmou.com/Documents/DODI132225%20July%207,%202014.pdf#zoom=100" class="color-purple color-link link-underlined" target="_blank" data-scout-event="mid_page_document, DODI132225_pdf, dodi132225-31511-pdf">OPEN</a> </p>
    </div>
  </div>
  <br/>
  <br />
  <br />
</div>
<hr />
<h2>Who to Contact</h2>
<br />
<div class="row">
  <div class="six columns">
    <p> DoD MOU Program Manager<br />
      DANTES, Code N31<br />
      6490 Saufley Field Rd.<br />
      Pensacola, FL 32509-5243 </p>
  </div>
  <div class="six columns">
    <p> (850) 452-1111 ext. 3175<br />
      DSN: 459-1111 ext. 3175<br />
      Fax: (850) 452-1161<br />
      E-mail: <a href="mailto:voledconcerns@navy.mil">VOLEDCONCERNS@navy.mil</a><br />
      Hours of Operation: Mon-Fri: 7 a.m. – 3:30 p.m. CST </p>
  </div>
</div>
