
                            <h1>Education Counselor's Toolbox</h1>
                            <p>The Education Counselor's Tool Box is a list of links to a variety of helpful information, including:</p>

                            <ul class="indented">
                                <li>Academic accreditation</li>
                                <li>College financial aid (scholarships, grants and loans)</li>
                                <li>How to search for the right college</li>
                                <li>Virtual libraries and free online books</li>
                                <li>Education organizations</li>
                                <li>Specific academic/college information for military members</li>
                                <li>Information on hard copy books and booklets of the various education topics</li>
                            </ul>

                            <hr />

                            <h2 class="headline-flush-block-bar">View the entire Education Counselor's Toolbox, or view individually:</h2>

                            <div class="row">
                                <div class="five columns">
                                    <br />

                                	<h2 class="resources-icon-header resources-icon-header-preset wrench left">Downloads</h2>
                                    <p class="extra-side-padding left">
                                        <br /><br /><br />
                                        <strong>Complete XLS</strong><br />
                                        <a href="{{ page.path }}/_content/Education_Toolbox.xlsx" target="_blank" class="color-purple color-link link-underlined" data-scout-event="mid_page_document, ect_complete_xls, edcounselor-completetoolbox-xls">DOWNLOAD</a>
                                    </p>
                                </div>

                                <div class="seven columns">
                                    <ul class="accordion accordion-disabled accordion-less-side-padding accordion-smaller-title-font accordion-high-contrast-row-colors accordion-left-border accordion-no-bottom-margin accordion-no-top-margin accordion-custom-icon accordion-custom-icon-wrench">
                                        <li>
                                            <a href="{{ page.path }}/_content/Resources_By_Topic.pdf#zoom=100" target="_blank" class="title" data-scout-event="mid_page_document, ect_topic_resource, topic-resource-pdf">
                                                <h5>By Topic Resources PDF</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/_content/Resources_By_Organization.pdf#zoom=100" target="_blank" class="title" data-scout-event="mid_page_document, ect_edorganization_resource, ed-organization-resource-pdf">
                                                <h5>Education Organizations Resources PDF</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/_content/Resources_By_Military_Specific.pdf#zoom=100" target="_blank" class="title" data-scout-event="mid_page_document, ect_military_resources, military-resources-pdf">
                                                <h5>Military Specific Resources PDF</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/_content/Resources_By_Online_Electronic.pdf#zoom=100" target="_blank" class="title" data-scout-event="mid_page_document, ect_online_elect_resource, online-elect-resource-pdf">
                                                <h5>Online &amp; Electronic Resources PDF</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/_content/Resources_By_Paper_Format.pdf#zoom=100" target="_blank" class="title" data-scout-event="mid_page_document, ect_publishers_resource, paperformat-publisher-pdf">
                                                <h5>Paper Format Resources/Publishers PDF</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <hr class="hr-no-top-margin" />

                            <div class="row">
                            	<br /><br />

                                <div class="twelve columns">

                                    <p class="larger">
                                        <a href="{{ page.path }}/_content/Education_Toolbox_Overview.pdf" target="_blank" class="button button-grey button-icon-arrow-right right" style="margin-top: -9px;" data-scout-event="bottom_page_document, ect_market_promo, marketing-promo-PDF"><strong>Open Here</strong></a>
										To view a marketing / promotional brochure for the Education Counselor's Tool Box,
									</p>
                                </div>
                            </div>

                            <br /><br />

                            <p class="color-purple small">Warning: The documents you are about to view on the DANTES website contain links to external sites. DANTES is not responsible and does not endorse the information or links you will find at the external site.</p>
