
                            <div class="four right inline" style="margin-top: -10px;">
                                <div class="feature-box feature-box-preset educational_institutions-recommended_affiliations">
                                    <div>
                                        <figure></figure>
                                        <figcaption>
                                            <a href="https://jst.doded.mil/smart/dodMandatoryBanner.do" target="_blank" data-scout-event="Top_page_CTA, request_transcript, request-transcript">
                                                <strong>Request an Official Transcript</strong>
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>

                            <h1>DANTES has partnered with such organizations as the American Council on Education (ACE),</h1>
                            <p>which is the nation's most visible and influential higher education association. ACE represents the presidents of U.S. accredited, degree-granting institutions, which include two- and four-year colleges, private and public universities, and nonprofit and for-profit entities.</p>


