---
layout: default
title: Troops to Teachers | Service Members
path: ../..
body_class:
social: {
    title: "Troops to Teachers",
    description: "Troops to Teachers is a DANTES-managed program that helps eligible military personnel continue to serve through public school teaching."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-troops_to_teachers.jpg' slide_title='Troops to Teachers' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/troops-to-teachers/index.html">Troops to Teachers</a></li>
                            </ul>
                            {% include social.html %}

                            <a href="http://www.proudtoserveagain.com/" target="_blank"><img src="{{ page.path }}/_images/elements/feature-service_members-distance_learning-troops_to_teachers-inline.png" alt="Troops to Teachers flag" class="inline right" /></a>
                            <h1>Troops to Teachers</h1>
                            <p>Troops to Teachers (TTT) is a DANTES-managed Department of Defense (DoD) program that can help you begin a new career as a public school teacher – giving you the opportunity to use your leadership skills, knowledge and experience to have a positive effect on our nation's youth.</p>
                            <p>For an overview of the TTT program, <a href="{{ page.path }}/_content/TTT_Overview.pdf#zoom=100" data-document-warning="true" target="_blank">click here.</a></p>
                            <p>&nbsp;</p>

                            <br />
                            <hr />

                            <ul class="accordion" style="margin-top: 26px;">
                                <li>
                                    <div class="title">
                                        <h5>Eligibility</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            All current and former members of the U.S. Armed Forces whose last period of service is characterized as honorable may participate in the program for counseling and referral services. Those who meet certain education, military service and registration requirements may also be eligible to apply for TTT financial assistance to assist with their transition to the classroom.
                                        </p>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Getting Started</h5>
                                    </div>
                                    <div class="content">
                                        <br />
                                        <p>
                                            Now that you have decided that you want to teach as a second career, how do you get there from here? If you have a couple of years to go before you will actually retire/separate, now is the time to get started. Many certification programs can take as much as two years to complete. Plan ahead and start now!
                                        </p>
                                        <p>
                                            The <a href="{{ page.path }}/_content/TTT_GettingStarted.pdf#zoom=100" data-document-warning="true" target="_blank">Getting Started</a> PDF provides information you will need to become a teacher with TTT.
                                        </p>
                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Registration</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            The <a href="{{ page.path }}/_content/TTT_StepByStep.pdf#zoom=100" data-document-warning="true" target="_blank">Step By Step</a> PDF provides detailed steps to register for the TTT program.
                                        </p>

                                        <h5>Returning User</h5>
                                        <br />
                                        <p>If you started but did not complete your online registration, <a href="https://secure.doded.mil/TTTRegistration/login.asp" target="_blank">click here</a> to go to the TTT Online Registration Login page to complete and submit your registration. If you need assistance with or have forgotten your username or password, contact one of our counselors at <a href="mailto:ttt@navy.mil">ttt@navy.mil</a> or phone 1-800-231-6242 ext. 3224 or 3157.</p>
                                        <br />

                                        <h5>First-Time User</h5>
                                        <br />
                                        <p><strong>IMPORTANT</strong>: If you do not have an e-mail account, you cannot register online and will need to submit a paper registration. <a href="{{ page.path }}/_content/TTT_Registration_Packet.pdf#zoom=100" data-document-warning="true" target="_blank">Click here</a> to download the registration package containing instructions and registration form. The completed and signed registration can be submitted by:</p>

                                        <ul>
                                            <li>
                                                <strong>Mail:</strong> DANTES, Troops to Teachers, 6490 Saufley Field Rd, Pensacola, FL 32509-5243
                                            </li>
                                            <li>
                                                <strong>Fax:</strong> 850-452-1194
                                            </li>
                                            <li>
                                                <strong>Scan/E-mail:</strong> <a href="mailto:TTTRecord@navy.mil">TTTRecord@navy.mil</a>
                                            </li>
                                        </ul>

                                        <br />

                                        <p>Online registration for the program will include the following steps:</p>

                                        <ol>
                                            <li>Create a username and password.</li>
                                            <li>Login using your new username and password.</li>
                                            <li>
                                                <p>Complete the online registration which will require the following information:</p>

                                                <ul>
                                                    <li>vocational interests, certification program and/or licensure information, if applicable</li>
                                                    <li>personal and contact information</li>
                                                    <li>military service information</li>
                                                    <li>teaching and educational background information</li>
                                                    <li>Pre-K through 12 referral preferences</li>
                                                </ul>

                                                <br />

                                                <p><strong>NOTE</strong>: Fields marked with an asterisk (*) are required to submit your application. Your information will be saved as you complete each step; however, your information will not be submitted to TTT for review until completion of Step 4.</p>
                                            </li>
                                            <li>Review/validate the information you entered and authorize the release of personal information.</li>
                                        </ol>

                                        <br />

                                        <p><strong>NOTE</strong>: Your registration will not be submitted to TTT unless you accept the terms outlined in the "Registration Validation/Release of Information Agreement" section.</p>
                                        <p>If you have not previously registered with TTT, <a href="https://secure.doded.mil/TTTRegistration/RegistrationCreateUsernamePassword.aspx" target="_blank">click here</a> to register online.</p>

                                        <br />

                                        <h5>Additional Information</h5>

                                        <br />

                                        <ul>
                                            <li>Frequently Asked Questions <a href="{{ page.path }}/_content/TTT_FAQ.pdf#zoom=100" data-document-warning="true" target="_blank">Download PDF</a></li>
                                            <li>Employment search: List of State Vacancy Sites <a href="{{ page.path }}/_content/TTT_State_Vacancy_List.pdf#zoom=100" data-document-warning="true" target="_blank">Download PDF</a></li>
                                            <li>To learn more about Troops to Teachers in a particular state, visit <a href="http://www.troopstoteachers.net/Portals/1/National%20Home%20Page/stateoffices.pdf" target="_blank">http://www.troopstoteachers.net/Portals/1/National Home Page/stateoffices.pdf</a>.</li>
                                        </ul>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Where will I teach?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            TTT provides teachers for grades pre-k through 12 at in-need public schools, charter schools and Bureau of Indian Affairs schools.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>What will I teach?</h5>
                                    </div>
                                    <div class="content">
                                    	<br />

                                        <p>
                                        	The program is geared toward placing teachers in such critical subjects as math, science, special education, foreign language and career-technical.
                                            <br /><br />
										</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>What does TTT provide?</h5>
                                    </div>
                                    <div class="content">
                                    	<br />
                                        <p>
                                        	TTT provides counseling and referral services, and helps you identify certification requirements and programs leading to certification and employment opportunities.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>How can I learn more about TTT?</h5>
                                    </div>
                                    <div class="content">
                                    	<br />
                                        <p>
                                            The TTT homepage, <a href="http://www.proudtoserveagain.com/" target="_blank">ProudToServeAgain.com</a>, is a portal that lists all state TTT offices that provide counseling and assistance regarding certification requirements, routes to state certification and employment leads. The TTT website also provides information and resource links, including links to state Departments of Education, state certification offices and other job listing sites in public education.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            <div class="spotlight spotlight-green spotlight-compressed-caption twelve">
                                <div>
                                    <figure><img src="{{ page.path }}/_images/elements/spotlight-troops_to_teachers_alternate.jpg" width="988" height="337"></figure>
                                    <figcaption>
                                        <section class="row">
                                            <h3 class="four columns">Troops to Teachers</h3>
                                            <p class="five columns">Troops to Teachers is a DANTES-managed program that helps eligible military personnel continue to serve through public school teaching.</p>
                                            <span class="three columns">
                                                <a href="http://www.proudtoserveagain.com/" class="button button-grey button-text-uppercase button-icon-arrow-right" target="_blank"><strong>Visit TTT</strong></a>
                                            </span>
                                        </section>
                                    </figcaption>
                                </div>
                            </div>

                            <br />
                            <br />
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>