---
layout: default
title: Troops to Teachers | Service Members
path: ../..
body_class:
social: {
    title: "Troops to Teachers",
    description: "Troops to Teachers is a DANTES-managed program that helps eligible military personnel continue to serve through public school teaching."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-troops_to_teachers.jpg' slide_title='Troops to Teachers' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/troops-to-teachers/index.html">Troops to Teachers</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="four right">
                                <div class="row feature-box feature-box-preset feature-box-short service_members-troops_to_teachers">
                                    <div class="eleven">
                                        <figure></figure>
                                        <figcaption>
                                            <a href="{{ page.path }}/_content/TTT_Overview.pdf#zoom=100" data-document-warning="true" target="_blank">
                                                &nbsp;
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                            <div class="seven left">
                                <h1>Troops to Teachers</h1>
                                <p>Troops to Teachers (TTT) is a DANTES-managed Department of Defense (DoD) program that can help you begin a new career as a public school teacher – giving you the opportunity to use your leadership skills, knowledge and experience to have a positive effect on our nation's youth.</p>
                                <p>For an overview of the TTT program, download our program overview PDF.</p>
                                <p class="text-right">
                                    <a href="{{ page.path }}/_content/TTT_Overview.pdf#zoom=100" data-document-warning="true" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Download PDF</strong></a>
                                </p>
                            </div>

                            <br />
                            <hr />

                            <ul class="accordion" style="margin-top: 26px;">
                                <li>
                                    <div class="title">
                                        <h5>So you are thinking about teaching...</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            As a service member, you have trained both junior and senior personnel throughout your career.  Now is the time to take those transferrable skills to America's classrooms including:
                                        </p>

                                        <ul>
                                            <li>A desire to continue to serve</li>
                                            <li>Mentoring skills</li>
                                            <li>Dedication</li>
                                            <li>Collaborative spirit</li>
                                            <li>Management and leadership</li>
                                            <li>Self-discipline</li>
                                            <li>Reliability</li>
                                            <li>Worldliness</li>
                                        </ul>

                                        <br /><br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Eligibility</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            All current and formal members of the U.S. Armed Forces whose last period of service is characterized as honorable, may participate in the program for counseling and referral services. Those who meet certain education, military service and registration requirements may also be eligible to apply for TTT financial assistance to assist with their transition to the classroom.
                                        </p>
                                        <p>
                                            To be eligible for a bonus you must be registered before you begin teaching. Contact the National Office at 1-800-231-6242 for further details.
                                        </p>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>What does TTT provide?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            TTT provides counseling services which includes identifying state certification requirements, programs leading to certification and assistance in selecting the certification program that best fits your wants and needs. Additionally, we will assist you in finding employment by providing you with information on jobs and interview opportunities.
                                        </p>
                                        <p>
                                            To be eligible for a bonus you must be registered before you begin teaching. Contact the National Office at 1-800-231-6242 for further details.
                                        </p>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Where will I teach?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            TTT participants teach in grades pre-k through 12 at public, charter and Bureau of Indian Affairs Schools throughout the United States, Guam, Puerto Rico, American Samoa, and Virgin Islands.  TTT counselors will provide information on what the "hot jobs" are for a particular state or school and you choose what location and type of school fits your particular needs.
                                            <br /><br />
                                        </p>
                                        <p class="text-right">
                                            <a href="{{ page.path }}/_content/TTT_State_Vacancy_List.pdf#zoom=100" data-document-warning="true" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Download PDF</strong></a>
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>What will I teach?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Teaching a critical subject such as math, science, special education, foreign language and career-technical affords the highest opportunity for employment although TTT will provide counseling and referral services in respect to any desired grade and subject area.
                                        </p>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Registration</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Be prepared to provide information on the following areas:
                                        </p>

                                        <ul>
                                            <li>Vocational interests, certification program and/or licensure information, if applicable</li>
                                            <li>Personal and contact information</li>
                                            <li>Military service information</li>
                                            <li>Teaching and educational background information</li>
                                            <li>Pre-K through 12 referral preferences</li>
                                        </ul>

                                        <br /><br />

                                        <h5>To Register:</h5>
                                        <br />

                                        <div class="clear eight">
                                            <div class="six left">
                                                <a href="https://secure.doded.mil/TTTRegistration/RegistrationCreateUsernamePassword.aspx" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Online Registration</strong></a>
                                            </div>
                                            <div class="six left">
                                                <a href="{{ page.path }}/_content/TTT_Registration_Packet.pdf#zoom=100" data-document-warning="true" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Paper Registration</strong></a>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                        <br />

                                        <h5>Returning User:</h5>
                                        <br />

                                        <div class="clear">
                                            <div class="four left">
                                                <a href="https://secure.doded.mil/TTTRegistration/login.asp" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Resume Registration</strong></a>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>What do I do next?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Once you have completed your registration, contact the state office or offices where you are interested in teaching.  The state office will provide you with valuable information such as specifics on teacher certification and job vacancy potential. (Understand you can change your state preferences at any time.)
                                            <br /><br />
                                        </p>
                                        <p class="text-right">
                                            <a href="{{ page.path }}/_content/State_Contact_List.pdf#zoom=100" target="_blank" data-document-warning="true" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>State Office Contact List</strong></a>
                                            <br /><br />
                                        </p>
                                        <p>
                                            If you can learn more by attending a Teaching as a Second Career seminar, visit the Troops to Teachers website.
                                            <br /><br />
                                        </p>
                                        <p class="text-right">
                                            <a href="http://www.troopstoteachers.net/Events.aspx" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Go to Website</strong></a>
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>


                                <li>
                                    <div class="title">
                                        <h5>Additional Information</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Additional information can be found by visiting the Troops to Teachers website.
                                            <br /><br />
                                        </p>
                                        <p class="text-right">
                                            <a href="http://www.troopstoteachers.net/" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Go to Website</strong></a>
                                            <br /><br />
                                        </p>
                                        <p>
                                            FAQs can be found at the DANTES website.
                                            <br /><br />
                                        </p>
                                        <p class="text-right">
                                            <a href="{{ page.path }}/_content/TTT_FAQ.pdf#zoom=100" target="_blank" data-document-warning="true" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Go to Website</strong></a>
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <h5>Troops to Teachers Research</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Troops to Teachers Grant Study 4: Technical Report<br />
                                            William A. Owings, Ed.D.
                                        </p>
                                        <p>
                                            Prior research on Troops to Teachers (TTT) from 2005 and 2009 using both principal surveys and measured student achievement affirms that Troops teachers are effective instructors, are likely to work in high-poverty, high-minority schools, teach critical subjects, use research-based instructional and classroom management practices, and plan to stay in the profession longer than traditionally prepared teachers with the same years of teaching experience. The Owings Study finds that the current TTT cohorts are meeting the same high benchmarks in these essential domains, identifies teacher preparation programs factors that helped them succeed in the classroom, and assesses these within the context of recent teacher effectiveness research.
                                            <br /><br />
                                        </p>
                                        <p class="text-right">
                                            <a href="{{ page.path }}/_content/Owens_Study.pdf#zoom=100" data-document-warning="true" target="_blank" class="button button-grey button-icon-arrow-right button-text-uppercase"><strong>Download PDF</strong></a>
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            <br />
                            <br />
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>