---
layout: default
title: 3rd Party Assessments | Educational Institutions
path: ../..
body_class:
social: {
    title: "3rd Party Assessments",
    description: "The purpose of the 3rd Party Assessment is to assess the quality of off-duty post-secondary educational programs and services used by service members."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-distance_learning-faq.jpg' slide_title='3rd Party Assessments' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/index.html">Educational Institutions</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/3rd-party-assessments/index.html">3rd Party Assessments</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>3rd Party Assessment Program</h1>
                            <p>The purpose of the 3rd Party Assessment is to assess the quality of off-duty post-secondary educational programs and services used by service members regardless of location or duty assignment and to assist in the improvement of these education programs and services. This periodic assessment will ensure the education programs provided to service members funded by a tuition assistance program are of the same high quality and meet the same academic criteria of quality higher education.</p>
                            <p>For information regarding the 3rd Party Assessment process:</p>
                            
                            <br />
                            
                            <img src="{{ page.path }}/_images/elements/feature-service_members-transcripts-third_party_assessments-logo-mtci.png" class="left inline">
                            <a href="http://www.mtci.us" class="button button-grey button-icon-arrow-right left" style="margin-top: 25px" target="_blank"><strong>Go to Website</strong></a>
                            
                            <br />
                            <hr />

                            <div class="row">
                            	<br />
                                
                                <h1>Contact Information</h1>
                                
                                <div class="row">
                                	<br />
                                    
                                    <div class="six columns">
                                        <p>
                                            3rd Party Assessment Program Manager <br />
                                            DANTES, Code 20G<br />
                                            6490 Saufley Field Rd.<br />
                                            Pensacola, FL 32509-5243 
                                        </p>
                                    </div>
                                    <div class="six columns">
                                        <p>
                                            (850) 452-1111 ext. 3121<br />
                                            DSN: 459-1111 ext. 3121<br />
                                            Fax: (850) 452-1161<br />
                                            E-mail: <a href="mailto:DANTES_thirdparty@navy.mil">DANTES_thirdparty@navy.mil</a>
                                        </p>
                                    </div>
								</div>
                            </div>
                            
                            <br />
                            <hr />
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>