---
layout: default
title: Contact a Counselor | Service Members
path: ../..
body_class:
social: {
    title: "Contact a Counselor",
    description: "Have further questions about your education goals? Use our Contact a Counselor lookup tool and begin to define your future."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-test_site.jpg' slide_title='Contact a Counselor' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/contact-a-counselor/index.html">Contact a Counselor</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Contact a Counselor</h1>
                            <p>To find Education Centers by Service, download the below PDFs.</p>
                            <p>For changes to any information listed, contact <a href="mailto:edcenters@navy.mil">edcenters@navy.mil</a> or 850-452-1111 ext. 3133.</p>

                            <br />

                            <h2 class="headline-flush-block-bar">Air National Guard</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>Air National Guard (ANG)</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_ANG.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-ang"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>

                            <br />

                            <h2 class="headline-flush-block-bar">Army National Guard</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>Army National Guard (ARNG)</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_ARNG.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-arng"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>

                            <br />

                            <h2 class="headline-flush-block-bar">US Army</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Army CONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USA_CONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usa_conus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Army OCONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USA_OCONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usa_oconus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>

                            <br />

                            <h2 class="headline-flush-block-bar">US Air Force</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Air Force CONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USAF_CONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usaf_conus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Air Force OCONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USAF_OCONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usaf_oconus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Air Force Reserve</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USAFR.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usafr"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>

                            <br />

                            <h2 class="headline-flush-block-bar">US Coast Guard</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Coast Guard</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USCG.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-uscg"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>

                            <br />

                            <h2 class="headline-flush-block-bar">US Marines</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Marine Corps CONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USMC_CONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usmc_conus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Marine Corps OCONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USMC_OCONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usmc_oconus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Marine Corps Reserve</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USMCR.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usmcr"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>

                            <br />

                            <h2 class="headline-flush-block-bar">US Navy</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Navy CONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USN_CONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usn_conus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Navy OCONUS</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USN_OCONUS.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usn_oconus"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br /><br />

                                <div class="row">
                                    <div class="twelve columns">
                                        <h5>US Navy Reserve</h5>
                                        <br />
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_USNR.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-usnr"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>

                            <br />

                            <h2 class="headline-flush-block-bar">Downrange Education</h2>

                            <br /><br />

                            <menu>
                                <div class="row">
                                    <div class="twelve columns">
                                        <p>To find Downrange Education Sites and Services, download the following PDF.</p>
                                        <a href="{{ page.path }}/_content/counselor/EdCenters_AOR.pdf#zoom=100" class="button button-grey button-icon-arrow-right" data-document-warning="true" data-scout-event="mid_page_link, contact_counselor_pdf, contact_counselor_pdf-aor"><strong>Download PDF</strong></a>
                                    </div>
                                </div>

                                <br />
                            </menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>