@import "compass/_css3";
@import "compass/_utilities";
@import "components/mixins";

html {
    background-color: #fff;
}

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    background-image: url(../_images/bg-tile-light.jpg);
    background-repeat: repeat;
    background-position: 0px 0px;
    font-family: "Open Sans", sans-serif;

    #container {
        position: relative;
        height: 100%;

        & > header {
            position: absolute;
            top: -145px;
            left: 0px;
            height: 7px;
            width: 100%;
            background-color: #939393;
            transition: all 0.25s ease-out 0.3s;
            -webkit-transition: all 0.25s ease-out 0.3s;
            -moz-transition: all 0.25s ease-out 0.3s;

            & > section {
                position: absolute;
                left: -50%;
                width: 100%;
                height: 7px;
                background-color: #272793;

                &:after {
                    display: block;
                    position: absolute;
                    top: 144px;
                    left: 50%;
                    width: 100%;
                    height: 1px;
                    background-color: #cacaca;
                    content: "";
                    @include no-text;
                }
                & > nav {
                    position: relative;
                    left: 50%;
                    top: 7px;
                    height: 143px;
                    z-index: 20;

                    & > a.home {
                        display: block;
                        float: left;
                        margin-top: 11px;
                        width: 228px;
                        height: 53px;
                        background-image: url(../_images/sprites.png);
                        background-repeat: no-repeat;
                        background-position: -198px 0px;
                        @include no-text;
                    }

                    & > ul {
                        display: block;
                        clear: both;
                        position: relative;
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        text-align: right;

                        & > li {
                            display: inline-block;
                            margin: 0px;
                            padding: 0px;
                            list-style: none;

                            &.search {
                                float: right;
                                
                                & > a {
                                    display: block;
                                    text-decoration: none;

                                    & > strong {
                                        display: block;
                                        position: relative;
                                        top: 25px;
                                        width: 29px;
                                        height: 25px;
                                        background-image: url(../_images/sprites.png);
                                        background-repeat: no-repeat;
                                        background-position: -249px -223px;
                                        @include no-text;
                                        cursor: pointer;
                                    }

                                    &:hover {
                                        & > strong {
                                            background-position: -329px -223px;
                                        }
                                    }
                                }
                            }

                            &.search-inline {
                                position: relative;
                                z-index: 1000;

                                & > a:link,
                                & > a:active,
                                & > a:visited {
                                    display: block;
                                    position: relative;
                                    padding: 10px;
                                    margin-left: 26px;
                                    top: -18px;
                                    @include border-top-radius(4px);
                                    line-height: 0px;
                                    font-size: 0;

                                    & > strong {
                                        display: block;
                                        width: 29px;
                                        height: 25px;
                                        background-image: url(../_images/sprites.png);
                                        background-repeat: no-repeat;
                                        background-position: -249px -223px;
                                        @include no-text;
                                        cursor: pointer;
                                    }
                                }
                                &:hover > a {
                                    background-color: #272793;

                                    & > strong {
                                        background-position: -288px -223px;
                                    }
                                }

                                & > form {
                                    display: none;
                                    position: absolute;
                                    top: 27px;
                                    right: 0px;
                                    width: 300px;

                                    & > .input {
                                        padding: 10px;
                                        background-color: #272793;

                                        & > input {
                                            margin-bottom: 0px;
                                        }
                                    }
                                }

                                &:hover > form {
                                    display: block;
                                }
                            }
                            &.current {
                                & > a {
                                    font-weight: 800;
                                }
                            }

                            & > a:link,
                            & > a:active,
                            & > a:visited {
                                display: block;
                                padding-left: 35px;
                                font-size: 15px;
                                line-height: 75px;
                                color: #272727;
                                text-transform: uppercase;
                                font-family: "Open Sans", sans-serif;
                                font-weight: 700;
                                text-shadow: 1px 1px 0px #fff;
                            }
                            & > a:hover,
                            & > a.current {
                                color: #272793 !important;
                            }

                            & .subnav {
                                display: none;
                            }
                        }
                        & > li:hover {
                            & > a {
                                color: #272793 !important;
                            }
                        }
                    }
                }
            }

            & > aside {
                display: block;
                visibility: hidden;
                opacity: 0;
                position: relative;
                top: 145px;
                z-index: 100;
                height: 68px;
                background-color: #fff;
                border-bottom: 1px #cacaca solid;
                transition: all 0.3s ease-out;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;

                & > nav {
                    height: 67px;
                    background-color: #fff;

                    & > ul {
                        display: block;
                        margin: 0px;
                        padding: 0px;
                        list-style: none;

                        & > li {
                            display: block;
                            float: left;
                            width: 16.66666666666667%;
                            margin: 0px;
                            padding: 0px;
                            list-style: none;

                            & > a:link,
                            & > a:active,
                            & > a:visited {
                                display: block;
                                height: 67px;
                                padding: 0px 20px;
                                border-left: 1px #cacaca solid;
                                font-size: 12px;
                                line-height: 15px;
                                text-transform: uppercase;
                                text-decoration: none;
                                color: #545353;
                                font-weight: normal;
                                font-family: "Open Sans", sans-serif;
                                font-style: normal;
                                text-shadow: none;
                                text-align: left;

                                & > strong {
                                    display: block;
                                    padding-top: 20px;
                                    font-weight: normal;
                                }
                            }
                            & > a:hover {
                                background-color: #272793;
                                color: #fff;
                            }

                            &:first-child {
                                & > a {
                                    border-left: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        & > article {
            clear: both;

            &.call-to-action {
                transition: all 0.25s ease-out 0.3s;
                -webkit-transition: all 0.25s ease-out 0.3s;
                -moz-transition: all 0.25s ease-out 0.3s;
                margin-top: 145px;
            }

            & > section {
                & > .content {
                }
            }
        }

        & > footer {
            clear: both;
            position: relative;
            padding-bottom: 7px;

            & > section {
                background-color: #c6c6c6;

                & > .content {
                    & > div {
                        padding-top: 22px;
                        padding-bottom: 23px;

                        & > nav {
                            margin: 0px;
                            padding: 0px 0px 6px 0px;
                            text-align: center;

                            & > a:link,
                            & > a:active,
                            & > a:visited {
                                display: inline-block;
                                color: #333;
                                text-decoration: none;
                                font-family: "Open Sans", sans-serif;
                                text-transform: uppercase;
                                font-size: 14px;
                                line-height: 14px;
                                font-weight: bold;

                                &:before {
                                    display: inline-block;
                                    float: left;
                                    height: 14px;
                                    margin-left: 10px;
                                    padding-left: 14px;
                                    border-left: 2px #333 solid;
                                    content: "";
                                    @include no-text;
                                    width: 1px;
                                }

                                &:first-child {
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                            & > a:hover {
                                text-decoration: none;
                                color: #272793;
                            }

                            /* TODO: get rid of this and use a class on the <nav> tag or something for parity with IE */
                            &:last-of-type {
                                padding-bottom: 0px;
                            }
                        }
                        & > address {
                            display: none;
                            margin: 0px;
                            padding: 0px;
                            text-align: center;
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: bold;
                            font-family: "Open Sans", sans-serif;
                            font-style: normal;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            & > aside {
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 7px;
                width: 100%;
                background-color: #939393;

                & > div {
                    position: absolute;
                    left: -50%;
                    width: 100%;
                    height: 7px;
                    background-color: #272793;
                    @include no-text;
                }
            }
        }
    }

    &.nav-open {
        & #container {
            & > header {
                top: -213px;
                transition: all 0.30s ease-out;
                -webkit-transition: all 0.30s ease-out;
                -moz-transition: all 0.30s ease-out;

                & > aside {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.6s ease-out 0.30s;
                    -webkit-transition: all 0.6s ease-out 0.30s;
                    -moz-transition: all 0.6s ease-out 0.30s;
                }
            }

            & > article {
                &.call-to-action {
                    margin-top: 213px;
                    transition: all 0.30s ease-out;
                    -webkit-transition: all 0.30s ease-out;
                    -moz-transition: all 0.30s ease-out;
                }
            }
        }
    }
}
.clearfix {
    @include clearfix();
}
.clear {
    clear: both;
}

/* Re-usable components and element-locked styles */
@import "components/colors";
@import "components/content";
@import "components/breadcrumbs";
@import "components/block-grid";
@import "components/social";
@import "components/sidebar";
@import "components/call-to-action";
@import "components/call-to-action-slim";
@import "components/feature-box";
@import "components/feature-box-nvp";
@import "components/feature-box-jump-button";
@import "components/multimedia-features";
@import "components/headline-flush-block-bar";
@import "components/headline-with-big-icon";
@import "components/resources-icon-header";
@import "components/resources-icon-header-presets";
@import "components/sitemap";
@import "components/spotlight";
@import "components/newsgrid";
@import "components/buttons";
@import "components/accordion";
@import "components/modal";
@import "components/lists";
@import "components/tables";
@import "components/forms";
@import "components/search";
@import "components/wizard";

/* Vendor imports */
@import "vendor/fresco/fresco.css";
@import "vendor/chosen.css";
@import "vendor/wufoo/form";
@import "vendor/wufoo/theme";

/* Responsive overrides */
@import "responsive/pc";
@import "responsive/tablet";
@import "responsive/phone";
