
                        <aside class="three">
                            <menu class="quick-links">
                                <ul>
                                    <li class="examination-calendar">
                                        <a href="{{ page.path }}/_content/Exams_Calendar.pdf#zoom=100" target="_blank" data-document-warning="true">
                                            <h3>Examination Calendar</h3>
                                            <p>Search for upcoming examination dates.</p>
                                        </a>
                                    </li>
                                    <li class="resources">
                                        <a href="{{ page.path }}/resources/index.html" data-scout-event="mid_page_sidebar, explore_resources, resources">
                                            <h3>Resources Links</h3>
                                            <p>Access Education and Government Organization links that pertain to you.</p>
                                        </a>
                                    </li>
                                    <li class="multimedia">
                                        <a href="{{ page.path }}/multimedia/index.html" data-scout-event="mid_page_sidebar, multimedia, multimedia">
                                            <h3>Multimedia</h3>
                                            <p>Visit our Multimedia section for the latest videos, DANTES Information Bulletins, and links to other resources.</p>
                                        </a>
                                    </li>
                                    <li class="transcript-request">
                                        <a href="{{ page.path }}/service-members/transcripts/index.html" data-scout-event="mid_page_sidebar, request_transcript, transcript-request">
                                            <h3>Transcript Requests</h3>
                                            <p>Access forms to expedite your request.</p>
                                        </a>
                                    </li>
                                    <li class="faq">
                                        <a href="{{ page.path }}/service-members/faq/index.html" data-scout-event="mid_page_sidebar, find_answers, faqs">
                                            <h3>FAQ's</h3>
                                            <p>Have questions about distance learning? See if we've already answered it here.</p>
                                        </a>
                                    </li>
                                    <li class="support">
                                        <a href="{{ page.path }}/contact/index.html" data-scout-event="mid_page_sidebar, contact, contact">
                                            <h3>Contact DANTES</h3>
                                            <p>Let us know how we can help.</p>
                                        </a>
                                    </li>
                                </ul>
                            </menu>

                            {% include aside.social.html %}

                            {% include aside.address.html %}
                        </aside>