
                            <h3>Find us</h3>

                            <menu class="social-links">
                                <a href="https://twitter.com/DoD_DANTES" class="twitter" target="_blank" data-scout-event="mid_page_sidebar_social, connect_social, twitter">Twitter</a>
                                <a href="https://www.facebook.com/DANTES.DoD" class="facebook" target="_blank" data-scout-event="mid_page_sidebar_social, connect_social, facebook">Facebook</a>
                                <a href="https://plus.google.com/u/0/101391337185565693041/posts" class="gplus" target="_blank" data-scout-event="mid_page_sidebar_social, connect_social, Gplus">Google+</a>
                            </menu>
