
            <article class="call-to-action">
                <section>
                    <div class="content row">
                        <div class="hero nine">
                            <ul class="carousel">
                                {{ include.slide }}
                            </ul>
                        </div>
                        {% include cta.aside.html %}
                    </div>
                </section>
            </article>

            <div class="clearfix"></div>