
            <header>
                <section>
                    <nav class="row">
                        <ul class="twelve">
                            <li class="home">
                                <a href="{{ page.path }}/index.html">Home</a>
                            </li>
                            <li>
                                <a href="{{ page.path }}/service-members/index.html">Service Members</a>

                                <div class="subnav">
                                    <ul>
                                        <li>
                                            <a href="{{ page.path }}/service-members/prep-for-college/index.html"><strong>Prep for College</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/service-members/education-benefits/index.html"><strong>Education Benefits</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/service-members/contact-a-counselor/index.html"><strong>Contact a Counselor</strong></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{{ page.path }}/educational-institutions/index.html">Educational Institutions</a>

                                <div class="subnav">
                                    <ul>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/support-higher-education/index.html"><strong>Support Higher Education</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/college-credit-alternatives/index.html"><strong>College Credit Alternatives</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/strategic-partners/index.html"><strong>Strategic Partners</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/dod-mou/index.html"><strong>DoD MOU</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/educational-institutions/education-counselors-toolbox/index.html"><strong>Counselor's Toolbox</strong></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{{ page.path }}/education-counselors/index.html">Education Counselors</a>

                                <div class="subnav">
                                    <ul>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/education-counselors-toolbox/index.html"><strong>Counselor's Toolbox</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/counselor-support-programs/index.html"><strong>Counselor Support Programs</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/dod-mou/index.html"><strong>DoD MOU</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/training/index.html"><strong>Training</strong></a>
                                        </li>
                                        <li>
                                            <a href="{{ page.path }}/education-counselors/training/testing-personnel/index.html"><strong>DANTES Testing Personnel</strong></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{{ page.path }}/dod-leadership/index.html">DoD Leadership</a>
                            </li>
                            <li class="search">
                                <a href="{{ page.path }}/search/index.html" data-scout-event="Search, Search, search"><strong>Search</strong></a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </header>