---
layout: default
title: Support Higher Education for Service Members | Educational Institutions
path: ../..
body_class:
social: {
    title: "Support Higher Education for Service Members",
    description: "Follow these easy steps to help us support higher education for service members."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='educational_institutions-military_friendly.jpg' slide_title='Support Higher Education for Service Members' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/index.html">Educational Institutions</a></li>
                                <li><a href="{{ page.path }}/educational-institutions/support-higher-education/index.html">Support Higher Education</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Support Higher Education for Service Members</h1>

                            <br />

                            <ul class="indented expanded">
                                <li>Join the Post 9/11 GI Bill Yellow Ribbon and Montgomery GI Bill programs. List all online programs in the DANTES catalog, allowing students to get tuition reimbursement support under DANTES.</li>
                                <li>Recognize CLEP and DANTES exams. Extend scholarships and financial aid to service members.</li>
                                <li>Offer tuition discounts and flexible payment options to service members.</li>
                                <li>DANTES will provide support at every stage of the process as your institution establishes procedures to accommodate service members.</li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>