---
layout: default
title: Tuition Policies &mdash; Financial Assistance &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "State Tuition Policies",
    description: "Learn about in-state tuition for members of the armed forces (Army, Navy, Air Force, Marine Corps, and Coast Guard) who have been on active duty for a period of more than 30 days."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-tuition_assistance.jpg' slide_title='Tuition Policies' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/index.html">Financial Assistance</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/tuition-policies/index.html">Tuition Policies</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>State Tuition Policies</h1>
                            <p>For periods of enrollment after July 1, 2009, members of the armed forces (Army, Navy, Air Force, Marine Corps, and Coast Guard) on active duty for a period of more than 30 days and his or her spouse, or his or her dependent children will be eligible to receive in-state tuition at public colleges and universities in the state where they reside or are permanently stationed. Once a Service member or their family members are enrolled and paying in-state tuition, they will continue to pay the in-state tuition rate as long as they remain continuously enrolled at the institution even if the Service member is reassigned outside the state.</p>
                            <p>This change is included in section 114 of the Higher Education Opportunity Act (H. R. 4137) (HEOA) which was signed into law on August 14, 2008 and amends and extends the Higher Education Act of 1965 (HEA). This requirement applies to all public institutions that receive funds under a program authorized by the HEA.</p>
                            <p>The Department of Education has worked with the institutions of higher education and they are aware of the changes in the law and are fully implementing the policy. However, there is always the chance that an institution did not receive the information. If this happens, you should contact the financial aid or registrar's office at the institution. You can also contact the Veterans Affairs office at the institution. Even though you are active duty, these offices should be able to assist you. In the rare cases where these steps don't resolve the situation, please contact the Department of Education's Ombudsman's office (toll-free at 877 557-2575) or via the internet at <a href="http://studentaid.ed.gov/redirects/ombudsman-ed-gov" target="_blank">http://studentaid.ed.gov/redirects/ombudsman-ed-gov</a>.</a></p>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>