---
layout: default
title: Counselor Support Programs | Education Counselors
path: ../..
body_class:
social: {
    title: "Counselor Support Programs",
    description: "DANTES gives you the support you need to provide guidance and assistance to military personnel in their educational pursuits. Learn about what we offer here."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='educational_counselors-counselor-support-program.jpg' slide_title='Counselor Support Programs' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/education-counselors/index.html">Education Counselors</a></li>
                                <li><a href="{{ page.path }}/education-counselors/counselor-support-programs/index.html">Counselor Support Programs</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Programs to assist Service Members with their Education Goals. </h1>
                            <p>There are a number of counselor support programs to assist service members with their education goals. Take a look at our featured programs.</p>
                            
                            <hr />

                            <menu class="row">
                                <br />

                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-prep_for_college-logo-kuder_journey.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.dantes.kuder.com/" target="_blank" data-scout-event="mid_page_link, select_website_link, external-link-kuder">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <dl class="feature-box-jump-button" style="padding-top: 0px;">
                                        <dt>&nbsp;</dt>
                                        <dd><a href="http://www.dantes.kuder.com/" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_link, select_website_link, external-link-kuder"><strong>Go to Website</strong></a></dd>
                                    </dl>

                                    <br class="clear" /><br /><br />
                                </div>
                                <div class="eight columns">
                                    <p>
                                    	<strong>Kuder&reg; Journey</strong><br />
	                                    Kuder Journey is now available to Active Duty, Guard, and Reserve personnel and service members in transition, making it a valuable resource during the military to civilian transition process. Providing tailored career guidance to our military service members is important to DANTES, which is why we are providing this intuitive career planning system designed to address each user's individual situation. The career planning process starts with learning about oneself. Journey's research-based interests, skills, and work values assessments kick-start exploration and ultimately, encourage more career satisfaction.
									</p>

                                    <br />

                                    <p>
                                        <strong>Who to Contact</strong>
                                    </p>

                                    <div class="five left">
                                        <p>
                                            KuderJourney Program Manager<br />
                                            Code 20D<br />
                                            6490 Saufley Field Rd.<br />
                                            Pensacola, FL 32509-5243 Rm# 3221
                                        </p>
                                    </div>
                                    <div class="two left">&nbsp;</div>
                                    <div class="four left">
                                        <p>
                                            (850) 452-1111 ext. 3132<br />
                                            Fax: (850) 452-1161
                                        </p>
                                    </div>
                                </div>
                            </menu>
                            
                            <hr />
                            
                            <menu class="row">
                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-educational_counselors-counselor_support_program-logo-soc.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.soc.aascu.org/socconsortium/Default.html" target="_blank" data-scout-event="mid_page_link, select_website_link, external-link-soc">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <dl class="feature-box-jump-button" style="padding-top: 0px;">
                                        <dt>&nbsp;</dt>
                                        <dd><a href="http://www.soc.aascu.org/socconsortium/Default.html" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_link, select_website_link, external-link-soc"><strong>Go to Website</strong></a></dd>
                                    </dl>

                                    <br class="clear" /><br /><br />
                                </div>
                                <div class="eight columns">
                                    <p>
                                    	<strong>SOC</strong><br />
                                        Due to the nature of mobility faced by service members, service members Opportunity College (SOC) criteria stipulates that institutional policies and practices be fair, equitable, and effective in recognizing the special and often limiting conditions faced by military students.
                                    </p>

                                    <br />

                                    <p>
                                        <strong>Who to Contact</strong>
                                    </p>

                                    <div class="five left">
                                        <p>
                                            SOC Program Manager<br />
                                            Code 20G<br />
                                            6490 Saufley Field Rd.<br />
                                            Pensacola, FL 32509-5243 Rm# 3233
                                        </p>
                                    </div>
                                    <div class="two left">&nbsp;</div>
                                    <div class="four left">
                                        <p>
                                            (850) 452-1111 ext. 3121<br />
                                            Fax: (850) 452-1161
                                        </p>
                                    </div>
                                </div>
                            </menu>
                            
                            <hr />

                            <menu class="row">
                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-educational_counselors-counselor_support_program-logo-ace.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.acenet.edu/Pages/default.aspx" target="_blank" data-scout-event="mid_page_link, select_website_link, external-link-ace">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <dl class="feature-box-jump-button" style="padding-top: 0px;">
                                        <dt>&nbsp;</dt>
                                        <dd><a href="http://www.acenet.edu/Pages/default.aspx" class="button button-grey button-icon-arrow-right" target="_blank" data-scout-event="mid_page_link, select_website_link, external-link-ace"><strong>Go to Website</strong></a></dd>
                                    </dl>

                                    <br class="clear" /><br /><br />
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>ACE</strong><br />
                                        American Council on Education (ACE) is the nation's most visible and influential higher education association and represents the presidents of U.S. accredited, degree-granting institutions, which include two- and four-year colleges, private and public universities, and nonprofit and for-profit entities.
                                    </p>
                                    <p>
                                        ACE provides quality assurance and policy guidance to the Army, Navy, and Marine Corps for military transcripts.  More than 2,300 colleges and universities recognize these transcripts as official documentation of military training and experiences and applicable ACE credit recommendations.
                                    </p>

                                    <br />

                                    <p>
                                        <strong>Who to Contact</strong>
                                    </p>

                                    <div class="five left">
                                        <p>
                                            ACE Program Manager<br />
                                            Code 20G<br />
                                            6490 Saufley Field Rd.<br />
                                            Pensacola, FL 32509-5243 Rm# 3191
                                        </p>
                                    </div>
                                    <div class="two left">&nbsp;</div>
                                    <div class="four left">
                                        <p>
                                            (850) 452-1111 ext. 3213<br />
                                            Fax: (850) 452-1161
                                        </p>
                                    </div>
                                </div>
                            </menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>