---
layout: default
title: Education Counselors
path: ..
body_class:
social: {
    title: "Education Counselors",
    description: "As a DANTES counselor, you have the distinct privilege of assisting service members with their education and career path goals. Visit the DANTES website regularly for access to updated training materials, active lists of education centers, and information on programs available to you."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='educational_counselors.jpg' slide_title=page.title %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/education-counselors/index.html">Education Counselors</a></li>
                            </ul>
                            {% include social.html %}

                        	<div class="four right inline" style="margin-top: -10px;">
                            	<div class="feature-box feature-box-ribbon-caption feature-box-short">
                                	<div>
                                    	<figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-inline.jpg);"></figure>
                                        <figcaption>
                                        	<a href="http://www.youtube.com/watch?v=9K1MKFB9cak" class="feature-box-link-cap-purple feature-box-link-icon-video fresco" data-scout-stop="true" data-scout-manual="top_page_CTA, video_confidence, vids-confidence-CTA">
                                            	<strong>Confidence</strong>
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                            <h1>As an education counselor, you have the distinct privilege of assisting service members with their education and career path goals.</h1>
                            <p>Visit the DANTES website regularly for access to updated training materials, active lists of education centers, and information on programs available to you.</p>
                            
							<br />
                            <hr class="clearfix" />
                            
                            <menu class="row">
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-training">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/education-counselors/training/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-training">
                                                    <strong>Training</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <p class="flush">Information about TCO testing, voluntary education conferences and other events can be found here.</p>
                                </div>
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset educational_counselors-testing_personnel">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/education-counselors/training/testing-personnel/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-training">
                                                    <strong>DANTES Testing Personnel</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <p class="flush">Access the online TCO Academic Testing Course here and receive comprehensive examination information in a 24/7 delivery module.</p>
                                </div>
                            	<div class="four columns">
                                	<div class="row feature-box feature-box-preset educational_counselors-education_counselors_toolbox">
                                    	<div class="eleven">
                                        	<figure></figure>
                                        	<figcaption>
                                            	<a href="{{ page.path }}/education-counselors/education-counselors-toolbox/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-edcounselor-toolbox">
                                                	<strong>Education Counselor's Toolbox</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    
                                    <p class="flush">The Education Counselor's Toolbox provides you with a variety of tools and resources to assist service members with their education goals. Learn about accreditation, financial aid, search for colleges, find online resources, and more.</p>
                                </div>
                                <div class="four columns clear">
                                	<div class="row feature-box feature-box-preset educational_counselors-counselor_support_program">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/education-counselors/counselor-support-programs/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-counselor-support">
                                                    <strong>Counselor Support Programs</strong>
                                                </a>
                                            </figcaption>
                                        </div>
									</div>
                                    
                                    <p class="flush">DANTES gives you the support you need to provide guidance and assistance to military personnel in their educational pursuits. Learn about what we offer here.</p>
                                </div>
                                <div class="four columns">
                                	<div class="row feature-box feature-box-preset educational_counselors-dod_mou">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/education-counselors/dod-mou/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-DoD-MOU">
                                                	<strong>DoD MOU</strong>
												</a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    
                                    <p class="flush">The DoD Voluntary Education Partnership Memorandum Of Understanding (MOU) between DoD and educational institutions  ensures that service members receive equitable treatment while pursuing educational goals.</p>
                                </div>
                            </menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>