---
layout: default
title: High School Diploma Programs &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "High School Diploma Programs",
    description: "Earning a high school diploma is the first step in pursuing any educational or career goal. These online programs provide the opportunity for you or your family members to conveniently attend an accredited institution, regardless of your duty location."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-distance_learning-hs_diploma.jpg' slide_title='High School Diploma Programs' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep for College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/high-school-diploma-programs/index.html">High School Diploma Programs</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Earning a high school diploma is the first step in pursuing any educational or career goal.</h1>
                            <p>These online programs provide the opportunity for you or your family members to conveniently attend an accredited institution, regardless of your duty location.</p>
                            
                            <br />
                            <hr />
                            
                            <div class="row">
                            	<div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-distance_learning-hs_diploma-logo-allied.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.alliedhighschool.com/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <div class="feature-box-button feature-box-button-centered">
                                        <a href="http://www.alliedhighschool.com/" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Go to Website</strong></a>
                                    </div>

                                    <div class="row feature-box-nvp">
                                    	<div class="twelve columns">
                                        	<dl>
                                            	<dt>Web</dt>
                                                <dd><a href="http://www.alliedhighschool.com/" target="_blank">AlliedHighSchool.com</a></dd>
                                                
                                                <dt>Phone</dt>
                                                <dd>800-968-4034</dd>
                                                
                                                <dt>Mail</dt>
                                                <dd>
                                                	Allied National High School<br />
                                                    22981 Alcalde Drive<br />
                                                    Laguna Hills, CA 92653
												</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                	<p>
                                    	<strong>Allied National High School</strong><br />
                                        ANHS is an accredited online high school based in Laguna Hills, Calif. ANHS offers a comprehensive high school curriculum designed to meet the needs of students who are college-bound or interested in pursuing vocational post-secondary education. Students work at their own pace, and are supported by highly qualified instructors and staff in an online environment. Open enrollment throughout the year allows for scheduling flexibility. 
									</p>
                                    <p>ANHS is accredited regionally by the Western Association of Schools and Colleges (WASC), trans-regionally by the Commission on International and Trans-regional Accreditation, (CITA), and nationally by the Accrediting Commission of the Distance Education and Training Council, (DETC). Core courses are National Collegiate Athletic Association (NCAA)-approved.</p>
                                </div>
                            </div>
                            
                            <hr />

                            <div class="row">
                            	<div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-distance_learning-hs_diploma-logo-nebraska.png);"></figure>
                                            <figcaption>
                                                <a href="http://highschool.unl.edu/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <div class="feature-box-button feature-box-button-centered">
                                        <a href="http://highschool.unl.edu/" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Go to Website</strong></a>
                                    </div>

                                    <div class="row feature-box-nvp">
                                    	<div class="twelve columns">
                                        	<dl>
                                            	<dt>Web</dt>
                                                <dd><a href="http://highschool.unl.edu/" target="_blank">HighSchool.unl.edu</a></dd>
                                                
                                                <dt>E-mail</dt>
                                                <dd><a href="mailto:extservice@unl.edu">extservice@unl.edu</a></dd>

                                                <dt>Phone</dt>
                                                <dd>866-700-4747</dd>
                                                
                                                <dt>Mail</dt>
                                                <dd>
                                                    900 N 22nd Street<br />
                                                    P.O. Box 888400<br />
                                                    Lincoln, NE 68588-8400
												</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>University of Nebraska-Lincoln Independent Study High School</strong><br />
                                        The University of Nebraska-Lincoln Independent Study High School (ISHS) offers a full high school curriculum of more than 100 courses: core, elective and Advanced Placement&reg;. Courses are available online and in print. Its WayCool online course management system gives students instant grading and feedback on assignments, and allows online submission of assignments and exams. Courses from the ISHS are designed so students may start courses at any time and control the pace at which they learn.
                                    </p>
                                    <p>The ISHS is fully accredited by the Nebraska Department of Education and the North Central Association Commission on Accreditation and School Improvement (NCA-CASI). This accreditation means a diploma from the ISHS is recognized by colleges and universities, and that individual courses are transferable to other high schools nationwide.</p>
                                </div>
                            </div>
                            
                            <hr />

                            <div class="row">
                            	<div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-distance_learning-hs_diploma-logo-bloomington.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.mindquest.org/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <div class="feature-box-button feature-box-button-centered">
                                        <a href="http://www.mindquest.org/" class="button button-grey button-icon-arrow-right button-condensed" target="_blank"><strong>Go to Website</strong></a>
                                    </div>

                                    <div class="row feature-box-nvp">
                                    	<div class="twelve columns">
                                        	<dl>
                                            	<dt>Web</dt>
                                                <dd><a href="http://www.mindquest.org/" target="_blank">MindQuest.org</a></dd>
                                                
                                                <dt>E-mail</dt>
                                                <dd><a href="mailto:shape4@primenet.com">shape4@primenet.com</a></dd>

                                                <dt>Phone</dt>
                                                <dd>612-729-6044</dd>
                                                
                                                <dt>Mail</dt>
                                                <dd>
                                                    Coordinator, Mindquest<br />
                                                    Bloomington Public Schools<br />
                                                    8900 Portland Ave.<br />
                                                    Bloomington, MN 55420
												</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>Bloomington Public Schools</strong><br />
                                        Based in Bloomington, Minn., Bloomington Public Schools offers courses leading to a high school diploma through its Mindquest program. Mindquest counselors develop individualized learning plans for each student. Previous high school credits and other prior learning experiences can be applied toward graduation. Students take courses online and communicate through the Mindquest Bulletin Board or private email with other students, advisors, counselors or teachers.
                                    </p>
                                </div>
                            </div>
                            
                            <hr />

                            <div class="row">
                            	<div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-distance_learning-hs_diploma-logo-compuhigh.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.compuhigh.com/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <div class="feature-box-button feature-box-button-centered">
                                        <a href="http://www.compuhigh.com/" class="button button-grey button-icon-arrow-right button-condensed" target="_blank"><strong>Go to Website</strong></a>
                                    </div>

                                    <div class="row feature-box-nvp">
                                        <div class="twelve columns">
                                        	<dl>
                                            	<dt>Web</dt>
                                                <dd><a href="http://www.compuhigh.com/" target="_blank">CompuHigh.com</a></dd>
                                                
                                                <dt>Phone</dt>
                                                <dd>866-859-0777 </dd>
                                                
                                                <dt>Mail</dt>
                                                <dd>
                                                    CompuHigh Accredited Online High School<br />
                                                    515 Wilson Ave.<br />
                                                    Morgantown, WV 26501
												</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>CompuHigh World's First Online High School</strong><br />
                                        CompuHigh offers two high school diploma programs under the name Whitmore School to prepare students for either a two-year or a four-year college program after high school. It also offers individual credit recovery for students needing individual credits. Students work online, at their own pace, and receive one-to-one support from teachers. Achieving mastery of course subjects is emphasized. 
                                    </p>
                                    <p>CompuHigh/Whitmore School is accredited by the Commission on International and Trans-regional Accreditation (CITA), North Central Association Commission on Accreditation and School Improvement (NCA-CASI), and Southern Association of Colleges and Schools (SACS).</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                            	<div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-distance_learning-hs_diploma-logo-forest_trail.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.foresttrailacademy.com/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <div class="feature-box-button feature-box-button-centered">
                                        <a href="http://www.foresttrailacademy.com/" class="button button-grey button-icon-arrow-right button-condensed" target="_blank"><strong>Go to Website</strong></a>
                                    </div>

                                    <div class="row feature-box-nvp">
                                    	<div class="twelve columns">
                                        	<dl>
                                            	<dt>Web</dt>
                                                <dd><a href="http://www.foresttrailacademy.com/" target="_blank">ForestTrailAcademy.com</a></dd>
                                                
                                                <dt>E-mail</dt>
                                                <dd><a href="mailto:virtualschooladmin@gmail.com">virtualschooladmin@gmail.com</a></dd>

                                                <dt>Phone</dt>
                                                <dd>800-890-6269</dd>
                                                
                                                <dt>Mail</dt>
                                                <dd>
                                                    Forest Trail Academy<br />
                                                    3111 Fortune Way, Suite B-16<br />
                                                    Wellington, FL 33414
												</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>Forest Trail Academy K-12</strong>
                                        Forest Trail Academy is committed to providing quality education to online students at any time, at their own pace and in any location, for grades K-12. School curriculum is aligned with the national standards, as well as with the Sunshine State Standards. Upon graduation, students receive a nationally and regionally accredited high school diploma.
                                    </p>
                                    <p>Forest Trail Academy is registered with the Florida Department of Education and is fully accredited by the National Association of Private &amp;Home Schools (NAPHS) and the Southern Association of Colleges and Schools Commission on Accreditation and School Improvement (SACS CASI). Forest Trail Academy's diploma is recognized by colleges and universities. Courses in grades K-12 are transferable to other schools nationwide. Courses are NCAA-approved.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                            	<div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-distance_learning-hs_diploma-logo-national_high.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.nationalhighschool.com/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <div class="feature-box-button feature-box-button-centered">
                                        <a href="http://www.nationalhighschool.com/" class="button button-grey button-icon-arrow-right button-condensed" target="_blank"><strong>Go to Website</strong></a>
                                    </div>

                                    <div class="row feature-box-nvp">
                                    	<div class="twelve columns">
                                        	<dl>
                                            	<dt>Web</dt>
                                                <dd><a href="http://www.nationalhighschool.com/" target="_blank">NationalHighSchool.com</a></dd>
                                                
                                                <dt>E-mail</dt>
                                                <dd><a href="mailto:info@nationalhighschool.com">info@nationalhighschool.com</a></dd>

                                                <dt>Phone</dt>
                                                <dd>866-550-0210</dd>
                                                
                                                <dt>Mail</dt>
                                                <dd>
                                                    National High School<br />
                                                    6685 Peachtree Industrial Blvd.<br />
                                                    Atlanta. GA 30360
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>National High School</strong><br />
                                        National High School offers a comprehensive set of high school classes online that cover core subjects, as well as additional areas of study. E-teachers and the Virtual School guidance counselors are available to provide advice on course selection. The school also offers a Course Suggestion List of recommended classes and the school curriculum is aligned with national standards. 
                                    </p>
                                    <p>National High School is accredited by the Southern Association of Colleges and Schools (SACS) and The Commission on International Trans-Regional Accreditation (CITA). Courses are NCAA-approved.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                            	<div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-distance_learning-hs_diploma-logo-vsoe.png);"></figure>
                                            <figcaption>
                                                <a href="http://www.virtualhse.com/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <div class="feature-box-button feature-box-button-centered">
                                        <a href="http://www.virtualhse.com/" class="button button-grey button-icon-arrow-right button-condensed" target="_blank"><strong>Go to Website</strong></a>
                                    </div>

                                    <div class="row feature-box-nvp">
                                    	<div class="twelve columns">
                                        	<dl>
                                            	<dt>Web</dt>
                                                <dd><a href="http://www.virtualhse.com/" target="_blank">VirtualHSE.com</a></dd>
                                                
                                                <dt>E-mail</dt>
                                                <dd><a href="mailto:virtualschooladmin@gmail.com">virtualschooladmin@gmail.com</a></dd>

                                                <dt>Phone</dt>
                                                <dd>800-890-6269</dd>
                                                
                                                <dt>Mail</dt>
                                                <dd>
                                                    Virtual Schools of Excellence<br />
                                                    3111 Fortune Way, Suite B-16<br />
                                                    Wellington, FL 33414
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>Virtual High School of Excellence</strong><br />
                                        Virtual High School of Excellence is online at all times throughout the year, with licensed/certified faculty, staff and administrators providing student support whenever needed. The school uses video, PowerPoint, Flash movies and other digital technology to deliver lessons. The curriculum is aligned with the national standards, which helps to ensure academic readiness for college acceptance. 
                                    </p>
                                    <p>Virtual High School of Excellence is registered with the Florida Department of Education, and is fully accredited by the National Association of Private &amp;Home Schools (NAPHS) and the Southern Association of Colleges and Schools Commission on Accreditation and School Improvement (SACS CASI). These alliances allow for recognition by colleges and universities that Virtual High School of Excellence courses are transferable to other high schools nationwide. Courses are NCAA-approved.</p>
                                </div>
                            </div>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>