---
layout: default
title: Service Members
path: ..
body_class:
social: {
    title: "Service Members",
    description: "Getting the education you want should be a straightforward process. DANTES provides information, resources and programs that allow you to pursue your goal - all with the flexibility to accommodate your needs."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members.jpg' slide_title=page.title %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="four right inline">
                                <div class="row feature-box feature-box-preset feature-box-short service_members-find_an_education_center">
                                    <div class="eleven">
                                        <figure></figure>
                                        <figcaption>
                                            <a href="{{ page.path }}/service-members/contact-a-counselor/index.html" data-scout-event="Top_page_CTA, contact_counselor, cont-counselor">
                                                <strong>Contact a Counselor</strong>
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>

                            <h1>Getting the education you want should be a straightforward process.</h1>
                            <p>DANTES provides information, resources and programs that allow you to pursue your goal – all with the flexibility to accommodate your needs. Learn about the benefits and options available to help you Define Your Future.</p>

                            <br />
                            <hr />

                            <menu class="row">
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-prep_for_college">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/prep-for-college/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-prep-for-college">
                                                    <strong>Prep for College</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>

                                    <p class="flush">College prep courses help you identify your interests and strengths and improve your academic skills. You can even earn college credit for what you already know.</p>
                                </div>
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-your_benefits">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/education-benefits/index.html" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-education-benefits">
                                                    <strong>Education Benefits</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    
                                    <p class="flush">What benefits are available to you based on your branch of service and status? Now is the time for you to take the next step and engage the opportunity to actively advance your career.</p>
                                </div>
                            </menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>