---
layout: default
title: Veterans' Educational Assistance Program &mdash; VA Benefits &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "VEAP",
    description: "Learn about the benefits available under this matching contributions program."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-your_benefits-veap.jpg' slide_title='Veterans\' Educational Assistance Program'  %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html">VA Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/veterans-educational-assistance-program/index.html">VEAP</a></li>
                            </ul>
                            {% include social.html %}

                        	<div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-service_members-benefits-veap-logo.png" />
                                <br /><br />
                                <a href="http://www.gibill.va.gov/benefits/other_programs/veap.html" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Go to Website</strong></a>
                            </div>
                            <h1>What you need to know about the Veterans' Educational Assistance Program (VEAP)</h1>
                            <p>The Veterans' Educational Assistance Program (VEAP) is an educational assistance program that is available if you elect to make contributions from your military pay to participate. The government matches your contributions on a $2 for $1 basis. The maximum contribution is $2,700.</p>
                            
							<br />
                            
                            <ul class="accordion">
	                            <li>
                            		<div class="title">
                            			<h5>Am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p>To qualify, you must meet the following requirements:</p>
                                        <ul>
                                            <li>Entered service for the first time between January 1, 1977 and June 30, 1985</li>
                                            <li>Opened a contribution account before April 1, 1987</li>
                                            <li>Voluntarily contributed from $25 to $2,700</li>
                                            <li>Completed your first period of service</li>
                                            <li>Were discharged or released from service under conditions other than dishonorable</li>
                                        </ul>
                                        <p>If you are currently on active duty and wish to receive VEAP benefits, you must have at least three months of contributions available.</p>
                                        <p class="solo">Contributions may be withdrawn if you do not meet the basic eligibility requirements or if you formally request a refund of the contributions withheld.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>How Long Am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p class="solo">Benefit entitlement is one to 36 months, depending on the number of monthly contributions. You have 10 years from your release from active duty to use VEAP benefits. If there is entitlement not used after the 10-year period, your portion remaining in the fund will be automatically refunded.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Will I Receive?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                    	<p class="solo">Your payment amount will depend on the type and hours of training pursued. The maximum amount is $300 a month for full-time training. VEAP participants may receive the same training, work-study benefits and counseling as provided under the Montgomery GI Bill (MGIB), with the exception of preparatory courses.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Kind of Training Can I Take?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p>VEAP benefits can be used for many different programs, including:</p>
                                        <ul>
                                            <li>College, technical or vocational courses</li>
                                            <li>Vocational flight training</li>
                                            <li>Apprenticeship/on-the-job training</li>
                                            <li>Correspondence courses</li>
                                            <li>Certificate programs</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>How Do I Apply?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p>In certain circumstances, remedial, deficiency and refresher training may also be available.</p>
                                        <p>You should make sure that your selected program is approved for VA training. If you are not clear about this, VA will inform you and the school or company about the requirements.</p>
                                        <ul>
                                            <li>Obtain and complete VA Form 22-1990, Application for Education Benefits. Send it to the VA regional office with jurisdiction over the State where you will train.</li>
                                            <li>If you are not on active duty, send copy 4 (Member Copy) of your DD Form 214, Certificate of Release or Discharge From Active Duty. If you are on active duty, you must have your enrollment approved by your base Education Services Officer, and you must have your service verified by your Commanding Officer.</li>
                                            <li>If you have started training, take your application and Member Copy of DD Form 214 to your school or employer. Ask them to complete VA Form 22-1999, Enrollment Certification, and send all the forms to VA.</li>
                                            <li>If you wish to withdraw your contributions from VEAP, obtain and complete VA Form 22-5281, Application for Refund of Educational Contributions, and send it to your nearest VA regional office.</li>
                                        </ul>
                                        <br />
									</div>
                                </li>
							</ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>