@media (max-width: 640px) {
	body {
		& #container {
			& > article {
				& .slim-cta-banner {
					& > h2 {
						background-position: -150px 0px;
						
						& > strong {
							left: 110px;
						}
					}
				}

                &.has-sidebar {
                    & > section {
                        & > .content {
                            .wizard.wizard-examination {
                                & > section {
                                    & .grid {
                                        & > ol {
                                            & > li {
                                                & > a {
                                                    display: table;

                                                    &:hover {
                                                        background-size: auto 100%;
                                                    }

                                                    & > strong {
                                                        display: table-cell;
                                                        padding: 0px 10px;
                                                        font-size: 12px;
                                                        line-height: 15px;
                                                        vertical-align: middle;
                                                        text-align: center;

                                                        &:before {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
			}
		}
	}

	.feature-box {
		clear: both;
		
		& > div {
			width: 320px !important;
			margin-left: auto !important;
			margin-right: auto !important;

			& > figcaption {
				& > a {
					& > strong {
						/*font-size: 22px !important;*/
						/*line-height: 22px !important;*/
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
    body {
        #container {
            & > article.has-sidebar {
                & > section {
                    & > .content {
                        & .wizard.wizard-examination {
                            & > header {
                                & > section {
                                    height: auto;
                                    padding-bottom: 30px;

                                    &:after {
                                        display: none;
                                    }

                                    & > h1 {
                                        width: auto;
                                        float: none;
                                        margin-left: 35px;
                                        margin-right: 35px;
                                        text-align: left;
                                    }
                                    & > h2 {
                                        width: auto;
                                        float: none;
                                        margin-left: 35px;
                                        margin-right: 35px;
                                        text-align: left;
                                    }
                                }
                            }

                            & > section {
                                & .subject {
                                    & .section {
                                        & > ol {
                                            & > li {
                                                & .wrapper {
                                                    padding: 0px 25px;
                                                }
                                            }
                                        }
                                        & > footer {
                                            & > nav {
                                                margin: 0px 0px 0px 45px;
                                            }
                                            & > menu {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 540px) {
	body {
		& #container {
			& > article {
				& .slim-cta-banner {
					& > h2 {
						background-image: none;
						
						& > strong {
							width: 60%;
							left: 20px;
						}
					}
				}

                &.has-sidebar {
                    & > section {
                        & > .content {
                            & .wizard.wizard-examination {
                                & > header {
                                    & > nav {
                                        & > ul {
                                            & > li {
                                                &.home {
                                                    & > a {
                                                        font-size: 0;
                                                        line-height: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                & > section {
                                    & .subject {
                                        & .section {
                                            & > ol {
                                                & > li {
                                                    & .wrapper {
                                                        & > figure {
                                                            display: none;
                                                        }
                                                        & > .content {
                                                            width: 100%;
                                                            padding: 20px 20px 0px 20px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
			}
		}
	}

    .multimedia-dib-menu {
        & > section {
            & > div {
                & > figure {
                    display: none;
                }
                & > aside {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 480px) {
	body {
        & img.left.inline,
        & img.right.inline {
            float: none !important;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 10px !important;
        }

		& #container {
            & > article {
                & .slim-cta-banner {
                    & > h2 {
                        background-image: none;

                        & > strong {
                            width: 40%;
                            left: 20px;
                            font-size: 14px;
                        }
                    }
                }
            }

			& > article.call-to-action {
				& > section {
					& > .content {
						& > .hero {
							& > ul {
								& > li {
                                    & > figure {
                                        & > img {
                                            left: -50%;
                                        }
                                    }
									& > figcaption {
										& > div, 
										& > a {
											bottom: 20px;
											left: 20px;
											padding-right: 20px;
											
											&:before {
												display: none !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			& > article {
				& > section {
					& > .content {
						& div.spotlight {
							& > div {
								& > figcaption {
									& > header {
										&:after {
											display: none;
										}
										
										& > span.position {
											padding-left: 25px;
											text-align: right;
											font-size: 26px;
											line-height: 26px;
										}
									}
									& > section {
										& > h3 {
											font-size: 24px;
											line-height: 24px;
										}
									}
								}
							}
						}
					}
				}
			}

            & > article.has-sidebar {
                & > section {
                    & > .content {
                        & ul.breadcrumbs {
                            margin-bottom: 0px;
                        }
                        & ul.social {
                            height: auto;

                            & > li.facebook,
                            & > li.twitter,
                            & > li.gplus {
                                float: left;
                            }
                            & > li.print {
                                clear: both;
                                float: none;
                            }
                        }
                        & .wizard.wizard-examination {
                            & > header {
                                & > nav {
                                    & > ul {
                                        & > li {
                                            &.home {
                                                display: none;
                                            }

                                            & > ol {
                                                &:before {
                                                    width: 120px;
                                                    top: 5px;
                                                    left: -131px;
                                                    text-align: right;
                                                    font-size: 10px;
                                                    line-height: 12px;
                                                    white-space: normal;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
		}
	}

	.feature-box {
		clear: both;
		
		& > div {
			width: 240px !important;
			margin-left: auto !important;
			margin-right: auto !important;

			& > figcaption {
				& > a {
					& > strong {
						/*font-size: 18px !important;*/
						/*line-height: 18px !important;*/
					}
				}
			}
		}
	}
}