@media (max-width: 640px) {
	body {
		& #container {
            & > article.call-to-action {
                & > section {
                    & > .content {
                        & > .hero {
                            & > ul {
                                & > li {
                                    & > figure {
                                        & > img {
                                            left: -25%;
                                        }
                                    }
                                    & > figcaption {
                                        -webkit-border-radius: 0px;
                                        -moz-border-radius: 0px;
                                        border-radius: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

			& > article {
				& .slim-cta-banner {
					& > h2 {
						& > strong {
                            font-size: 14px !important;
						}
					}
				}

                &.has-sidebar {
                    & > section {
                        & > .content {
                            & .wizard.wizard-examination,
                            & .wizard.wizard-education-benefits {
                                & > section {
                                    & .grid {
                                        & > ol {
                                            & > li {
                                                width: 100%;

                                                & > a {
                                                    & > figure {
                                                        & > div {
                                                            & > ins,
                                                            & > del {
                                                                & img {
                                                                    max-height: none;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
			}
		}
	}
}

@media (max-width: 600px) {
    body {
        #container {
            & > article.has-sidebar {
                & > section {
                    & > .content {
                        & .wizard.wizard-examination,
                        & .wizard.wizard-education-benefits,
                        & .wizard.wizard-distance-learning {
                            & > header {
                                & > section {
                                    height: auto;
                                    padding-bottom: 30px;

                                    &:after {
                                        display: none;
                                    }

                                    & > h1 {
                                        width: auto;
                                        float: none;
                                        margin-left: 35px;
                                        margin-right: 35px;
                                        text-align: left;
                                    }
                                    & > h2 {
                                        width: auto;
                                        float: none;
                                        margin-left: 35px;
                                        margin-right: 35px;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                        & .wizard.wizard-examination,
                        & .wizard.wizard-education-benefits {
                            & > header {
                                & > nav {
                                    & > ul {
                                        & > li.sections {
                                            & > ol {
                                                &:before {
                                                    display: none;
                                                }

                                                & > li {
                                                    & > a {
                                                        font-size: 10px;
                                                    }
                                                }

                                                &.option-financial-assistance,
                                                &.option-va-benefits {
                                                    & > li {
                                                        & > a {
                                                            min-width: 47px;
                                                            padding: 0px 5px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            & > section {
                                & .subject {
                                    height: auto !important;
                                    min-height: 0px !important;

                                    & .section,
                                    & .intro {
                                        display: none;
                                        opacity: 1;
                                        position: relative;
                                        visibility: visible;
                                        -webkit-transition: none;
                                        -moz-transition: none;
                                        transition: none;
                                        -webkit-transform: none;
                                        -moz-transform: none;
                                        -ms-transform: none;
                                        transform: none;

                                        &.enabled {
                                            display: block;
                                        }

                                        & .wrapper {
                                            & > .content {
                                                & > menu {
                                                    position: relative;
                                                    bottom: auto;
                                                }
                                            }
                                        }
                                    }

                                    & .section {
                                        & > ol {
                                            & > li {
                                                display: none;
                                                position: relative;
                                                opacity: 1;
                                                visibility: visible;
                                                overflow: visible;
                                                -webkit-transition: none;
                                                -moz-transition: none;
                                                transition: none;

                                                &.enabled {
                                                    display: block;
                                                }

                                                & .wrapper {
                                                    padding: 0px;
                                                }
                                            }
                                        }
                                        & > footer {
                                            position: static;
                                            clear: both;
                                            height: auto;
                                            margin-top: 25px;
                                            padding-top: 25px;
                                            padding-bottom: 25px;
                                            border-top: 1px #272793 solid;

                                            & > nav {
                                                width: 161px;
                                                float: none;
                                                margin: 0px auto;
                                            }
                                            & > menu {
                                                clear: both;
                                                top: auto;
                                                width: 90%;
                                                height: 32px;
                                                float: none;
                                                margin: 25px auto 0px auto;

                                                & > ol {
                                                    &:before {
                                                        font-size: 12px;
                                                    }

                                                    & > li {
                                                        & > a {
                                                            & > strong {
                                                                font-size: 12px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 540px) {
	body {
		& #container {
			& > article {
				& .slim-cta-banner {
					& > h2 {
						& > strong {
                            width: 55% !important;
                            margin-left: 10px !important;
                            font-size: 13px !important;
                            line-height: 26px !important;

                            & img {
                                display: none !important;
                            }
						}
					}

                    &.slim-cta-banner-preset-armed_forces {
                        & > h2 {
                            background-position: -200px top;

                            & > strong {
                                float: left;
                                left: 51px;
                                top: 14px;
                                font-size: 18px !important;
                            }
                            & > .button {
                                top: 19px;
                                right: 15px;
                            }
                        }
                    }
				}

                &.has-sidebar {
                    & > section {
                        & > .content {
                            & .wizard.wizard-examination,
                            & .wizard.wizard-education-benefits {
                                & > header {
                                    & > nav {
                                        & > ul {
                                            & > li {
                                                &.home {
                                                    & > a {
                                                        font-size: 0;
                                                        line-height: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                & > section {
                                    & .subject {
                                        & .section {
                                            & > ol {
                                                & > li {
                                                    & .wrapper {
                                                        & > figure {
                                                            display: none;
                                                        }
                                                        & > .content {
                                                            width: 100%;
                                                            padding: 20px 20px 0px 20px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                & > section {
                    & > .content {
                        & div.spotlight {
                            & > div {
                                & > figcaption {
                                    & > header {
                                        & > span.title {
                                            font-size: 12px;
                                        }
                                        & > span.position {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
			}
		}
	}

    .multimedia-dib-menu {
        & > section {
            & > div {
                & > figure {
                    display: none;
                }
                & > aside {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 480px) {
	body {
        & img.left.inline,
        & img.right.inline {
            float: none !important;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 10px !important;
        }

		& #container {
			& > article.call-to-action {
				& > section {
					& > .content {
						& > .hero {
							& > ul {
								& > li {
                                    & > figure {
                                        & > img {
                                            left: -35%;
                                        }
                                    }
									& > figcaption {
										& > div, 
										& > a {
											bottom: 20px;
											left: 20px;
											padding-right: 20px;
											
											&:before {
												display: none !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			& > article {
				& > section {
					& > .content {
						& div.spotlight {
							& > div {
								& > figcaption {
									& > header {
										&:after {
											display: none;
										}
										
										& > span.position {
											padding-left: 25%;
											text-align: right;
											font-size: 26px;
											line-height: 26px;
										}
									}
									& > section {
										& > h3 {
											font-size: 24px;
											line-height: 24px;
										}
									}
								}
							}
						}
					}
				}
			}

            & > article.has-sidebar {
                & > section {
                    & > .content {
                        & ul.breadcrumbs {
                            margin-bottom: 0px;
                        }
                        & ul.social {
                            height: auto;

                            & > li.facebook,
                            & > li.twitter,
                            & > li.gplus {
                                float: left;
                            }
                            & > li.print {
                                clear: both;
                                float: none;
                            }
                        }
                        & .wizard.wizard-distance-learning {
                            & > header {
                                 & > nav {
                                     & > ul {
                                         & > li.home {
                                             & > a {
                                                 font-size: 0;
                                                 line-height: 0;
                                                 text-indent: -9999px;
                                             }
                                         }
                                     }
                                 }
                            }
                        }
                        & .wizard.wizard-examination,
                        & .wizard.wizard-education-benefits {
                            & > header {
                                & > nav {
                                    & > ul {
                                        & > li {
                                            &.home {
                                                margin-left: 12px;
                                            }

                                            & > ol {
                                                &:before {
                                                    width: 120px;
                                                    top: 5px;
                                                    left: -131px;
                                                    text-align: right;
                                                    font-size: 10px;
                                                    line-height: 12px;
                                                    white-space: normal;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & > article {
                & .slim-cta-banner {
                    &.slim-cta-banner-preset-armed_forces {
                        & > h2 {
                            & > strong {
                                width: 40% !important;
                            }
                        }
                    }
                }
            }
		}
	}
}