---
layout: default
title: Distance Learning Readiness &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "DANTES Distance Learning Readiness Self-Assessment (DLRSA)",
    description: "The DANTES Distance Learning Readiness Self-Assessment (DLRSA) helps prospective students identify whether or not they are ready for higher education in a Distance Learning setting. Take the course, identify your strengths and weaknesses, and prepare for the challenges of higher education."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-test_site.jpg' slide_title='Distance Learning Readiness' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep for College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/self-assessment/index.html">Distance Learning Readiness</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="wizard wizard-distance-learning">
                                <header>
                                    <section>
                                        <h1>DANTES Distance Learning Readiness Self-Assessment Wizard</h1>
                                    </section>

                                    <nav>
                                        <ul>
                                            <li class="home"><a href="javascript:;" data-section="intro">Return Home</a></li>
                                            <li class="counselor"><a href="{{ page.path }}/service-members/contact-a-counselor/index.html" target="_blank">Contact a Counselor</a></li>
                                        </ul>
                                    </nav>
                                </header>
                                <section>
                                    <div class="intro">
                                        <section>
                                            <h3>DANTES Distance Learning Readiness Self-Assessment Test</h3>
                                            <p>Taking a distance learning course is another way to achieve your goals. While DL offers a lot of flexibility, there are other considerations for students to think about when making choices regarding their educational program. The following self-assessment was developed to give you the opportunity to assess your skills and identify possible weaknesses that may affect your success when taking distance learning classes. This instrument is not meant to substitute for educational counseling or to deny you the opportunity to pursue a distance learning class. Your honest assessment of your skills and behaviors is in your best interest. We hope this assessment will help you to have a successful educational experience, whether you choose distance learning or face-to-face classes.</p>
                                        </section>
                                        <footer>
                                            <a href="javascript:;" data-section="questions" class="button button-blue button-pointed right"><strong>Start the Test &gt;</strong></a>
                                        </footer>
                                    </div>
                                    <div class="questions">
                                        <header class="statusbar">
                                            <h6>Assessment Questions</h6>
                                            <h5>Question <span class="current">1</span> of <span class="total"></span></h5>
                                        </header>
                                        <section>
                                            <ol></ol>
                                        </section>
                                        <footer>
                                            <nav class="pagination">
                                                <a href="javascript:;" class="back">&lt; Back</a>
                                                <a href="javascript:;" class="next" data-section="demographics">Next &gt;</a>
                                            </nav>
                                        </footer>
                                    </div>
                                    <div class="demographics">
                                        <section>
                                            <h3>DANTES Distance Learning Readiness Self-Assessment Test</h3>
                                            <p>The following demographic items are requested but not required. The information will only be reported as a group and to describe the characteristics of the group using this self-assessment.</p>
                                        </section>
                                        <footer>
                                            <a href="javascript:;" data-section="questions-demographics" class="button button-blue button-pointed right"><strong>Demographic Data &gt;</strong></a>
                                            <a href="javascript:;" data-section="thanks" class="button button-blue button-pointed right"><strong>Skip &gt;</strong></a>
                                        </footer>
                                    </div>
                                    <div class="questions-demographics">
                                        <header class="statusbar">
                                            <h6>Demographic Questions</h6>
                                            <h5>Question <span class="current">1</span> of <span class="total"></span></h5>
                                        </header>
                                        <section>
                                            <ol></ol>
                                        </section>
                                        <footer>
                                            <nav class="pagination">
                                                <a href="javascript:;" class="back">&lt; Back</a>
                                                <a href="javascript:;" class="next" data-section="thanks">Next &gt;</a>
                                            </nav>
                                        </footer>
                                    </div>
                                    <div class="thanks">
                                        <section>
                                            <div class="row">
                                                <div class="two left"><img src="{{ page.path }}/_images/wizard/distance-learning/results-traffic-all.png"></div>
                                                <div class="ten left">
                                                    <h3>DANTES Distance Learning Readiness Self-Assessment (DLRSA) has been completed!</h3>
                                                    <p>Thank you for completing the DANTES Distance Learning Readiness Self-Assessment (DLRSA). You've taken the first step to reach your education goals. Keep going to see your results.</p>
                                                    <p>Don't forget to take a copy of your results to your Education Center for additional counseling regarding your options. You can also print, email, or share your results using the icons below.</p>
                                                </div>
                                            </div>
                                        </section>
                                        <footer>
                                            <a href="javascript:;" data-section="results" class="button button-blue button-pointed right"><strong>See Results &gt;</strong></a>
                                            <a href="{{ page.path }}/service-members/contact-a-counselor/index.html" target="_blank" class="button button-blue button-pointed right"><strong>Contact a Counselor &gt;</strong></a>
                                        </footer>
                                    </div>
                                    <div class="results">
                                        <header class="statusbar">
                                            <h6>Results</h6>
                                            <h5>Results Page <span class="current">1</span> of <span class="total"></span></h5>
                                        </header>
                                        <section>
                                            <ol></ol>
                                        </section>
                                        <footer>
                                            <nav class="pagination">
                                                <a href="javascript:;" class="back" data-section="thanks">&lt; Back</a>
                                                <a href="javascript:;" class="next" data-section="finale">Next &gt;</a>
                                            </nav>
                                        </footer>
                                    </div>
                                    <div class="results-detail">
                                        <section></section>
                                        <footer>
                                            <nav class="pagination">
                                                <a href="javascript:;" data-section="results" class="back">&lt; Back</a>
                                                <a href="javascript:;" class="next disabled">Next &gt;</a>
                                            </nav>
                                            <a href="{{ page.path }}/service-members/contact-a-counselor/index.html" target="_blank" class="button button-blue button-pointed right"><strong>Contact a Counselor &gt;</strong></a>
                                        </footer>
                                    </div>
                                    <div class="finale">
                                        <section>
                                            <h3>You've reached the end of the DANTES Distance Learning Readiness Self-Assessment Test.</h3>
                                            <p>DANTES is here to help service members and veterans pursue their educational goals. For more information about the opportunities available to you, or to learn about the benefits of pursuing an education, visit the links below:</p>

                                            <menu class="row">
                                                <div class="four columns">
                                                    <div class="row feature-box feature-box-preset service_members-find_an_education_center">
                                                        <div class="eleven">
                                                            <figure></figure>
                                                            <figcaption>
                                                                <a href="{{ page.path }}/service-members/contact-a-counselor/index.html" target="_blank" data-scout-event="Top_page_CTA, contact_counselor, cont-counselor">
                                                                    <strong>Contact a Counselor</strong>
                                                                </a>
                                                            </figcaption>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="four columns">
                                                    <div class="row feature-box feature-box-preset service_members-your_benefits">
                                                        <div class="eleven">
                                                            <figure></figure>
                                                            <figcaption>
                                                                <a href="{{ page.path }}/service-members/education-benefits/index.html" target="_blank" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-education-benefits">
                                                                    <strong>Education Benefits</strong>
                                                                </a>
                                                            </figcaption>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="four columns">
                                                    <div class="row feature-box feature-box-preset service_members-prep_for_college">
                                                        <div class="eleven">
                                                            <figure></figure>
                                                            <figcaption>
                                                                <a href="{{ page.path }}/service-members/index.html" target="_blank" data-scout-event="mid_page_visual_nav, select_nav_area, visual-nav-prep-for-college">
                                                                    <strong>Service Members</strong>
                                                                </a>
                                                            </figcaption>
                                                        </div>
                                                    </div>
                                                </div>
                                            </menu>
                                        </section>
                                    </div>
                                </section>
                                <footer>
                                    <p>&copy; DANTES 2014. All Rights Reserved.</p>
                                    <menu>
                                        <ul>
                                            <li class="print"><a href="javascript:;"><strong>Print</strong></a></li>
                                            <li class="email"><a href="javascript:;" class="addthis_button_email" addthis:url="http://www.dantes.doded.mil/service-members/prep-for-college/self-assessment/index.html" addthis:title="DANTES Distance Learning Readiness Self-Assessment"><strong>E-mail</strong></a></li>
                                            <li class="share"><a href="javascript:;" class="addthis_button_compact"><strong>Share</strong></a></li>
                                        </ul>
                                    </menu>
                                </footer>
                            </div>

                            <form name="frmPrint" id="frmPrint" method="get" action="http://www.dantespulse.com/wp-admin/admin-ajax.php" target="fraDownload">
                                <input type="hidden" name="action" value="dantes-dlrsa-reporting-generate-pdf" />
                                <input type="hidden" name="responses" value="" />
                                <input type="hidden" name="demographics" value="" />
                            </form>
                            <iframe name="fraDownload" id="fraDownload" src="{{ page.path }}/_content/blank.html" width="1" height="1" scrolling="no" frameborder="0" border="0" style="opacity: 0;"></iframe>

                            <hr />

                            <h2>Resources</h2>

                            <div class="row">
                                <br>

                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-cbe.png);"></figure>
                                            <figcaption>
                                                <a href="#" data-link-type="local">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>Credit-by-Exam</strong><br>
                                        Credit by examination opportunities available: College-Level Examination Program (CLEP®) and DSST®.
                                    </p>

                                    <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/FY13_DSST_Pass_Rates.pdf#zoom=100" data-document-warning="true" target="_blank" data-link-type="local"><strong>Download PDF FY13 Military DSST Pass Rates</strong></a>
                                    <br />
                                    <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/FY13_CLEP_Pass_Rates.pdf#zoom=100" data-document-warning="true" target="_blank" data-link-type="local"><strong>Download PDF FY13 Military CLEP Pass Rates</strong></a>
                                    <br />
                                    <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/FY13_DSST_Civilian_Pass_Rates.pdf#zoom=100" data-document-warning="true" target="_blank" data-link-type="local"><strong>Download PDF FY13 Civilian DSST Pass Rates</strong></a>
                                    <br />
                                    <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/_content/FY13_CLEP_Civilian_Pass_Rates.pdf#zoom=100" data-document-warning="true" target="_blank" data-link-type="local"><strong>Download PDF FY13 Civilian CLEP Pass Rates</strong></a>
                                </div>
                            </div>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>

            <script id="template-question-page" type="x-tmpl-mustache">
            {% raw %}
                <li>
                    <h3>{{{ question_title }}}</h3>

                    <ol class="selection-list">
                        {{{ question_choices }}}
                    </ol>
                </li>
            {% endraw %}
            </script>
            <script id="template-question-choice" type="x-tmpl-mustache">
            {% raw %}
                <li class="{{ choice_class }}">
                    <label>
                        <input type="radio" name="{{ choice_name }}" value="{{ choice_value }}">
                        {{{ choice_text }}}
                    </label>
                </li>
            {% endraw %}
            </script>
            <script id="template-demographic-page" type="x-tmpl-mustache">
            {% raw %}
                <li>
                    <div class="row">
                        {{{ section_data }}}
                    </div>
                </li>
            {% endraw %}
            </script>
            <script id="template-demographic-page-inner" type="x-tmpl-mustache">
            {% raw %}
                <div class="{{ question_grid_width }} left">
                    <h3 class="fixed-height">{{{ question_title }}}</h3>

                    <ol class="selection-list {{ question_list_class }}">
                        {{{ question_choices }}}
                    </ol>
                </div>
            {% endraw %}
            </script>
            <script id="template-result-page" type="x-tmpl-mustache">
            {% raw %}
                <li>
                    <ol>
                        {{{ result_data }}}
                    </ol>
                </li>
            {% endraw %}
            </script>
            <script id="template-result-row" type="x-tmpl-mustache">
            {% raw %}
                <li>
                    <div class="row {{ result_status }}">
                        <div class="one columns">{{ result_counter }}.</div>
                        <div class="eight columns content">
                            {{{ result_text }}}
                        </div>
                        <div class="three columns controls">
                            <div class="illustration">{{ result_status_text }}</div>
                            <a href="javascript:;" data-section="results-detail" data-result-id="{{ result_index }}" class="button button-blue button-pointed right"><strong>Read More &gt;</strong></a>
                        </div>
                    </div>
                </li>
            {% endraw %}
            </script>
            <script id="template-result-detail" type="x-tmpl-mustache">
            {% raw %}
                <div class="row {{ result_status }}">
                    <div class="two left"><img src="{{ page.path }}/_images/wizard/distance-learning/results-traffic-{{ result_status }}.png"></div>
                    <div class="ten left details">
                        {{{ result_detail }}}
                    </div>
                </div>
            {% endraw %}
            </script>
            <script id="template-result-detail-inner" type="x-tmpl-mustache">
            {% raw %}
                <h3>You chose: {{ detail_choice }}</h3>
                <h5>Your answer shows that you are <span>{{ detail_status }}</span> to begin distance learning.</h5>
                {{{ detail_text }}}
            {% endraw %}
            </script>
