---
layout: default
title: Senior Enlisted Advisor - HMCM (FMF/SW) David M. Acuff, U.S. Navy | Biographies
path: ../../..
body_class:
social: {
    title: "Senior Enlisted Advisor, HMCM (FMF/SW) David M. Acuff, U.S. Navy",
    description: "Master Chief Acuff entered the Navy in January 1985, attending Boot Camp at Recruit Training Center, San Diego, California. Upon graduation, he began training at Naval School of Dental Assisting and Technology. After graduation, he attended Field Medical Service School in Camp Pendleton California."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='contact.jpg' slide_title='Biographies' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine flush-top"> 
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/contact/index.html">Contact DANTES</a></li>
                                <li><a href="{{ page.path }}/contact/bios/senior-enlisted-advisor/index.html">Acuff Bio</a></li>
                            </ul>
                            {% include social.html %}

                            <br />
                            <br />
                            
                            <h1><strong>DANTES Leadership</strong></h1>
                            <h2>Senior Enlisted Advisor</h2>
                            
                            <br />
                            <br />
                            
                            <p>
                            	<img src="{{ page.path }}/_images/elements/bio-david-m-acuff.jpg" class="left inline" />
                                <strong>HMCM (FMF/SW) David M. Acuff, U.S. Navy</strong>
							</p>
                            <p>Master Chief Acuff entered the Navy in January 1985, attending Boot Camp at Recruit Training Center, San Diego, California. Upon graduation, he began training at Naval School of Dental Assisting and Technology. After graduation, he attended Field Medical Service School in Camp Pendleton California.</p>  
                            <p>His first assignment was with the Marine Corps, at 3rd Dental Battalion, Okinawa Japan. There he earned his Fleet Marine Force designation and after completing his tour, received orders to Branch Dental Clinic, Key West, Florida. After a successful tour, he attended the Medical Administration &mdash; School in San Diego California.</p>
                            <p>Following his training, he reported for duty onboard the USS DUBUQUE (LPD 8) in Sasebo Japan and was assigned as Leading Petty Officer. While there, he earned his Surface Warfare designation. His next tour of duty took him to the shadow of beautiful Mount Fuji, at Branch Dental Clinic Atsugi Japan. While stationed there he was selected as Naval Dental Center Far East's Senior Sailor of the Year and then as Commander Naval Forces Japan Sailor of the Year 2000. Prior to his transfer, he attained the rank of Chief Petty Officer.</p>
                            <p>From October 2001 to July 2004 Chief Acuff served as an Instructor Supervisor for the Dental Assistant Apprenticeship Course, Sheppard AFB Texas where he was promoted to Senior Chief. While serving as Instructor Supervisor he earned the designation of Master Training Specialist. Senior Chief Acuff assumed the duty as the School Navy Program Director and Department Head. August 2003, he returned to the Fleet Marine Force and reported for duty as the Senior Enlisted Leader, Osborne Dental Clinic Camp Lejeune, NC. In July 2005 he was selected to serve as the Command Senior Chief of 2d Dental Battalion/Naval Dental Center, Camp Lejeune, NC and then promoted to Master Chief, April 2006. Master Chief Acuff then transferred to Naval Branch Health Clinic, Naval Air Station, Whiting Field located in Milton, Florida.</p>
                            <p>In August 2010, Master Chief Acuff was selected to serve as the ninth Senior Enlisted Advisor to the Director of Defense Activity for Non-Traditional Education Support (DANTES).</p>
                            <p>
                                <strong>Educational Background:</strong><br />
                                2001 Associates of Arts Degree, University of Maryland, Asian Division<br />
                                2008 Bachelor of Arts Degree, Touro University International<br />
                                2011 Master of Health Care Management Degree, Trident University International
                            </p>
                            <p>
                                <strong>Personal Decorations:</strong><br />
                                Meritorious Service Medal (1)<br />
                                Navy &amp; Marine Corps Commendation Medal (x4)<br />
                                Navy &amp; Marine Corps Achievement Medal (x4)
                            </p>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>