---
layout: default
title: Frequently Asked Questions &mdash; Distance Learning | Service Members
path: ../..
body_class:
social: {
    title: "Frequently Asked Questions",
    description: "Frequently Asked Questions about DANTES"
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-distance_learning-faq.jpg' slide_title='Frequently Asked Questions' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/faq/index.html">FAQs</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Frequently Asked Questions</h1>

                            <ul class="accordion accordion-smaller-title-font">
                                <li>
                                    <a name="accordion-purpose"></a>
                                    <div class="title" data-ref="purpose">
                                        <h5>What is the purpose of this information?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Students and counselors frequently call the Defense Activity for Non-Traditional Education Support 
                                            (DANTES) Distance Learning Office with questions about the distance learning program. This information 
                                            addresses many of their questions and is meant primarily as an aid for counselors.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-distance-learning"></a>
                                    <div class="title" data-ref="distance-learning">
                                        <h5>What is distance learning and how can it help students?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Students use distance learning to take high school, college, technical, or vocational courses. 
                                            Students learn at a distance using combinations of textbooks, lessons, workbooks, video and 
                                            audio tapes, computer conferencing, and course information delivered by CD-ROM, the Internet, 
                                            satellite TV, cable TV and E-mail. They may take a single course or many courses to complete a 
                                            degree program. Most programs require no physical attendance at the school's campus.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>


                                <li>
                                    <a name="accordion-requirements"></a>
                                    <div class="title" data-ref="requirements">
                                        <h5>Are there special requirements for enrolling in the courses or programs?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Some courses have prerequisites. There may be other requirements that must be completed prior to enrolling in a course or degree program. The school catalog or school advisor can provide this information. Students must receive education center counseling and approval prior to enrollment if tuition assistance is requested. If a student enrolls without going through an education center, tuition assistance may be denied.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-courses-at-once"></a>
                                    <div class="title" data-ref="courses-at-once">
                                        <h5>How many courses can be taken at one time?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Counselors recommending courses should consider the ability and experience of the student. Unless the student has demonstrated successful completion of distance learning courses, enrollment in one course at a time is generally recommended.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-evaluation"></a>
                                    <div class="title" data-ref="evaluation">
                                        <h5>How do counselors know if students "need" a distance learning course?</h5>
                                    </div>
                                    <div class="content">
                                        <br />
                                        
                                        <p>
                                            Locally conducted and attended college or university courses usually are best for most students. However, if a desired course or degree is not available or cannot be taken because of the student's duty schedule, a distance learning course may be able to provide a satisfactory alternative.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-enrollment"></a>
                                    <div class="title" data-ref="enrollment">
                                        <h5>How are students enrolled?</h5>
                                    </div>
                                    <div class="content">
                                        <br />
                                        
                                        <p>Students planning to enroll in courses found in the DANTES catalogs must contact the school to register and enroll.</p>
                                        <p class="smallish"><em>* Before enrolling in a course or degree program, students should consider the possibility of receiving credit through the Military Evaluations Program (using the ACE Guide at <a href="http://militaryguides.acenet.edu">http://militaryguides.acenet.edu</a>), and through the DANTES Credit-By-Examination program. Many of the SOC (Service members Opportunity Colleges at <a href="http://www.soc.aascu.org">http://www.soc.aascu.org</a>) schools also offer contracts-for-degree in which specific use of nontraditional credit is itemized (and usually maximized) for military students.</em></p>
                                        <p class="smallish"><em>** Before applying to any school, students need to determine if they can meet the school's requirements for course cost, term lengths, delivery modes, student-to-instructor contacts, and testing policies. Students also need to be aware of the school's drop/add date for each course, policies for awarding "W, F, and I" grades, and all refund policies and dates. Some degree programs require on-campus residency. Students need to be aware of all these details to determine if they can meet all of the school's policies and should enroll in courses with a particular school.<br /><br /></em></p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-tuition-assistance"></a>
                                    <div class="title" data-ref="tuition-assistance">
                                        <h5>How much tuition assistance will a student receive?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>In general, subject to specific Service policies, specified dollar limits, yearly caps, and availability of funding, students will be provided either up-front or reimbursable tuition assistance which may cover 100% of their tuition and fees.</p>
                                        <p class="smallish"><em>* Students should contact their Service education counselors for current tuition assistance policies and requirements, as these frequently change. It is the student's responsibility to know and understand their Service's tuition assistance policy.</em></p>
                                        <p class="smallish"><em>** Students may be required to make a separate payment to the school bookstore for books and materials.</em></p>
										<p class="smallish"><em>*** Although schools agree to notify DANTES before changing tuition and generally attempt to avoid changing fees during a school year, prices can change before they are entered into the online Catalogs or the current CD ROM edition of the DANTES Catalogs is issued. Students should always check with the school to determine the correct price before enrolling.<br /><br /></em></p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-payment"></a>
                                    <div class="title" data-ref="payment">
                                        <h5>Must students pay tuition in advance or can they make installment payments?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>Some schools permit installment payments. This agreement is between the student and the school. The student must pay all costs before the school will issue a grade report.</p>
                                        <p class="smallish"><em>* Encourage students to discuss refund policies with schools before enrolling or before signing contracts. This will help students avoid later misunderstandings about refunds.<br /><br /></em></p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-textbooks"></a>
                                    <div class="title" data-ref="textbooks">
                                        <h5>Who pays for the textbooks?</h5>
                                    </div>
                                    <div class="content">
                                        <br />
                                        
                                        <p>
                                            Books are the student's responsibility, and no reimbursement is made for these expenses.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-postage"></a>
                                    <div class="title" data-ref="postage">
                                        <h5>Who pays for the postage on distance learning materials?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            Students pay the postage for materials sent to the distance learning school. The school pays postage on materials sent to the student.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-why-distance-learning"></a>
                                    <div class="title" data-ref="why-distance-learning">
                                        <h5>Why should a student consider a distance learning course?</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <p>
                                            A student may consider a distance learning course to meet prerequisites, accelerate degree completion, complete courses not conducted locally, complete courses when TDY or duty prevent class attendance, gain personal enrichment and satisfaction, or prepare for a second career. Some students find that independent study is their preferred method of learning.
                                            <br /><br />
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a name="accordion-success"></a>
                                    <div class="title" data-ref="success">
                                        <h5>What are some personal characteristics that may influence a student's success?</h5>
                                    </div>
                                    <div class="content">
                                        <br />
                                        <p>
                                            The successful distance learning student must have at least some of the following characteristics:
                                        </p>
                                        
                                        <ul>
                                            <li>Academic and emotional maturity</li>
                                            <li>Specific goals</li>
                                            <li>The ability to work alone</li>
                                            <li>The capacity for self-starting, self-understanding and self-motivation</li>
                                            <li>Persistence</li>
                                            <li>Patience</li>
                                            <li>Self-confidence</li>
                                            <li>Reading and writing ability (contacts who can help with content problems; and an academic support system (at home and at work)</li>
                                        </ul>
                                        
                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>