---
layout: default
title: U.S. Army &mdash; Financial Assistance &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "Tuition Assistance - Army",
    description: "The Tuition Assistance (TA) program provides financial assistance for voluntary off-duty education programs in support of a Soldier's professional and personal self-development goals."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-tuition_assistance-army.jpg' slide_title='U.S. Army Tuition Assistance' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/index.html">Financial Assistance</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/army/index.html">U.S. Army</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_army-large.png" alt="U.S. Army" style="margin-left: 3px;">
                                <br /><br />
                                <a href="https://www.goarmyed.com/public/public_tuition_assistance_policies.aspx" target="_blank" class="button button-grey button-icon-arrow-right"><strong>Go to Website</strong></a>
                            </div>
                            <h1>The Tuition Assistance (TA) program provides financial assistance</h1>
                            <p>for voluntary off-duty education programs in support of a Soldier's professional and personal self-development goals. TA is available for courses that are offered in the classroom or by distance learning. The courses must be offered by schools that are registered in GoArmyEd and are accredited by accrediting agencies that are recognized by the U.S. Department of Education.</p>

                            <br />

                            <ul class="accordion accordion-flush-to-hr">
                                <li>
                                    <div class="title">
                                        <h5>Tuition Assistance Overview/Eligibility</h5>
                                    </div>
                                    <div class="content">
                                        <menu class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-tuition_assistance-army-ed_gov.png);"></figure>
                                                        <figcaption>
                                                            <a href="http://www.ed.gov/" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>

                                                    <dl class="feature-box-jump-button" style="padding-top: 0px;">
                                                        <dt>&nbsp;</dt>
                                                        <dd><a href="http://www.ed.gov/" class="button button-grey button-text-uppercase button-icon-arrow-right" target="_blank"><strong>Go</strong></a></dd>
                                                    </dl>
                                                </div>

                                                <br class="clear" /><br />
                                            </div>
                                            <div class="eight columns">
                                                <p>The Tuition Assistance (TA) program provides financial assistance for voluntary off-duty education programs in support of a Soldier's professional and personal self-development goals. TA is available for courses that are offered in the classroom or by distance learning. The courses must be offered by schools that are registered in GoArmyEd and are accredited by accrediting agencies that are recognized by the U.S. Department of Education.</p>
                                                <p>In addition to degree programs, TA is available to Soldiers to complete a high school diploma and to complete certificate programs. However, TA will not be approved to complete credentials at the same or a lower educational level. TA is not authorized for programs beyond a master's degree.</p>
                                                <p>All eligible Soldiers will request TA through GoArmyEd.</p>
                                                <p>By law, officers who use TA incur a service obligation. Active Duty officers incur an Active Duty Service Obligation (ADSO) of two years and Reserve Component officers incur a Reserve Duty Service Obligation (RDSO) of four years. The ADSO/RDSO is calculated from the date of completion of the last course for which TA was used.</p>
                                                <p>Non-Army service members must obtain TA through their branch of Service. This policy has been mutually agreed upon by all Services.</p>
                                                <p>Further details on the provisions of TA are found in AR 621-5.</p>

                                                <a href="http://www.apd.army.mil/pdffiles/r621_5.pdf" target="_blank" class="right button button-grey button-text-uppercase button-icon-arrow-right"><strong>View PDF</strong></a>
                                            </div>

                                            <br class="clear" /><br />
                                        </menu>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>New Students Create GoArmyEd Account</h5>
                                    </div>
                                    <div class="content">
                                        <menu class="row">
                                            <br />

                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-tuition_assistance-army-goarmyed.jpg);"></figure>
                                                        <figcaption>
                                                            <a href="https://www.goarmyed.com/" target="_blank">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>

                                                    <dl class="feature-box-jump-button" style="padding-top: 0px;">
                                                        <dt>&nbsp;</dt>
                                                        <dd><a href="https://www.goarmyed.com/" class="button button-grey button-text-uppercase button-icon-arrow-right" target="_blank"><strong>Go</strong></a></dd>
                                                    </dl>
                                                </div>

                                                <br class="clear" /><br />
                                            </div>
                                            <div class="eight columns">
                                                <p>All TA for Active Duty, USAR, and ARNG Soldiers must be requested through GoArmyEd. Click GO to start.</p>
                                            </div>

                                            <br class="clear" /><br />
                                        </menu>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>Tuition Assistance Rates/Fees</h5>
                                    </div>
                                    <div class="content">
                                    	<br />

                                        <ul>
                                            <li>The Department of Defense (DoD) has directed a uniform TA fiscal policy across the military services. Per semester hour cap is $250 and the fiscal year ceiling is $4,500. The Army will pay 100 percent of the tuition and authorized fees charged by a school up to the established per semester hour cap and fiscal year ceiling.<br /><br /></li>
                                            <li>Current Army policy limits TA to 130 semester hours of undergraduate credit or baccalaureate degree, whichever comes first and 39 semester hours of graduate credit or masters degree whichever comes first. The 39 semester hour limit applies to all credits taken after completion of a baccalaureate degree.<br /><br /></li>
                                            <li>Authorized fees covered by TA are mandatory fees that are associated with an individual course enrollment. Non-refundable fees and fees that are not linked to individual course enrollments (e.g., application fees, graduation fees) are not covered by TA.<br /><br /></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h5>Tuition Assistance Procedures</h5>
                                    </div>
                                    <div class="content">
                                        <br />

                                        <ul>
                                            <li>Soldiers must request TA through <a href="http://www.goarmyed.com/" target="_blank">www.GoArmyEd.com</a> prior to the course start date or before the school's late registration period.<br /><br /></li>
                                            <li>TA is requested on a course-by-course basis.<br /><br /></li>
                                            <li>GoArmyEd will notify the Soldier whether the TA is approved or not. If the TA request is not approved, GoArmyEd will advise the Soldier of the reason and next steps.<br /><br /></li>
                                            <li>All drops/withdrawals must take place through GoArmyEd. Soldiers who do not successfully complete a class will be required to repay the TA. Soldiers who are unable to successfully complete a class due to military reasons must request a Withdrawal for Military Reasons through GoArmyEd and complete all required steps to ensure that they will not be charged.<br /><br /></li>
                                            <li>If the Soldier wishes to take a class with a school that does not participate in the electronic GoArmyEd class schedule, a TA Request Authorization form must be completed in GoArmyEd. The TA Request Authorization will be routed to an Army Education Counselor to be reviewed and approved. Soldiers should allow extra time for this. If the TA Request Authorization is approved, the Soldier will be notified by email. Soldiers must print the approved TA Request Authorization form in GoArmyEd, provide it to the school and enroll directly with the school.<br /><br /></li>
                                            <li>Soldiers must submit a signed TA Statement of Understanding (TA SOU) each year. Soldiers in the rank of E7 or above do not need their commander's signature. However, by signing this document they agree to the terms of this TA SOU. Soldiers in the rank of E6 or below must have their commander's signature. GoArmyEd will send a notice to students 90 days before the due date.<br /><br /></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>