---
layout: default
title: Self Assessment &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "DANTES Self Assessment",
    description: "The DANTES Distance Learning Readiness Self-Assessment (DANTES DLRSA) was developed to help prospective distance learners self-assess their readiness for distance learning."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-test_site.jpg' slide_title='Self Assessment' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep for College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/self-assessment/index.html">Self Assessment</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Self Assessment</h1>
                            <p>The DANTES Self Assessment was developed to give you the opportunity to assess your skills and identify possible weaknesses that may affect your success when taking distance learning classes.</p>
                            <a href="http://www.dantescatalogs.com/DlDemo/dlDemoIntro.aspx" target="_blank" class="button button-grey button-icon-arrow-right"><strong>Take Self Assessment</strong></a>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>
