---
layout: default
title: Post 9/11 GI Bill &mdash; VA Benefits &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "Post 9/11 GI Bill",
    description: "Learn the length of time that benefits are typically available following your release from active duty."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-your_benefits-post_911_gi_bill.jpg' slide_title='Post 9/11 GI Bill' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html">VA Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/post-911-gi-bill/index.html">Post-9/11 GI Bill</a></li>
                            </ul>
                            {% include social.html %}

                        	<div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-service_members-benefits-post_911_gi_bill-logo.png" />
                                <br /><br /><br />
                                <a href="http://www.gibill.va.gov/benefits/post_911_gibill/" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Go to Website</strong></a>
                            </div>
                            <h1>What you need to know about the Post-9/11 GI Bill</h1>
                            <p>The Post-9/11 GI Bill offers benefits for service members and veterans attending education and training programs taken at accredited colleges or universities, or accredited non-college institutions that grant degrees. It gives current and previously activated National Guard and Reserve members the same benefits as active duty service members.</p>
                            
							<br />
                            
                            <ul class="accordion">
	                            <li>
                            		<div class="title">
                            			<h5>Am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                    	<p class="solo">Post-9/11 benefit payments are tiered based on the amount of creditable active duty service you have since Sept. 10, 2001.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Will I Receive?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
	                                    <ul>
    		                                <li>Your benefits will be based upon meeting basic eligibility qualifications.</li>
                                            <li>Up to 100 percent tuition and fee coverage (active duty; Guard/Reserve; veteran)</li>
                                            <li>A monthly living (housing) stipend (Guard/Reserve; veteran)</li>
                                            <li>Up to $1,000 a year for books and supplies (active duty; Guard/Reserve; veteran)</li>
                                            <li>A one-time relocation allowance (Guard/Reserve; veteran)</li>
                                            <li>The option to transfer benefits to family members (active duty; Guard/Reserve)</li>
                                            <li>Other benefits – including reimbursement for license or certification tests (active duty; Guard/Reserve; veteran)</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Kind of Training Can I Take?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p>Your Post-9/11 GI Bill can be used to pay for many different programs, including:</p>
                                        <ul>
                                            <li>College, university, technical or vocational courses</li>
                                            <li>Apprenticeship/on-the-job training</li>
                                            <li>Fight training</li>
                                            <li>Tutorial assistance</li>
                                            <li>Licensing and certification exams</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>How Many Months of Assistance Will I Receive? How Long am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p class="solo">You may receive up to 36 months of benefits. You will be eligible for benefits for 15 years from your last period of active duty of at least 90 consecutive days.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>About The Yellow Ribbon Program</h5>
                            		</div>
                            		<div class="content">
                                        <br />
										<p>The Yellow Ribbon program can help you avoid up to 100 percent of out-of-pocket tuition and fees associated with education programs that may exceed the Post 9/11 GI Bill tuition benefit. Benefits are payable for training pursued on or after August 1, 2009. You must meet the following criteria to qualify:</p>
                                        <ul>
                                        	<li>Served an aggregate period of active duty after September 10, 2001, of at least 36 months</li>
                                            <li>Were honorably discharged from active duty for a service-connected disability and served 30 continuous days after September 10, 2001</li>
                                            <li>Are a dependent eligible for Transfer of Entitlement under the Post-9/11 GI Bill based on a veteran's service under the eligibility criteria listed above</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>