---
layout: default
title: Montgomery GI Bill &mdash; VA Benefits &mdash; Education Benefits
path: ../../../..
body_class:
social: {
    title: "Montgomery GI Bill",
    description: "Did you know you might be able to receive increased monthly benefits?"
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-your_benefits-montgomery_gi_bill.jpg' slide_title='Montgomery GI Bill' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html">VA Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/montgomery-gi-bill/index.html">Montgomery GI Bill</a></li>
                            </ul>
                            {% include social.html %}

                        	<div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-service_members-benefits-montgomery_gi_bill-logo.png" />
                                <br /><br />
                                <a href="http://www.gibill.va.gov/benefits/montgomery_gibill/" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Go to Website</strong></a>
                            </div>
                            <h1>What you need to know about the Montgomery GI Bill</h1>
                            <p>Montgomery GI Bill (MGIB) benefits are available for service members and veterans to help with education and training costs by providing more than $51,000 in cash and numerous support programs.</p>
                            
							<br />
                            
                            <ul class="accordion">
	                            <li>
                            		<div class="title">
                            			<h5>Am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                    	<p>The MGIB is available for those who enlist in the U.S. Armed Forces. It includes both the Montgomery GI Bill-Active Duty (Chapter 30) and The Montgomery GI Bill-Selected Reserve (Chapter 1606).</p>
                                        <p class="solo">Under Chapter 30, Active Duty members enroll and pay $100 per month for 12 months. They are then entitled to receive a monthly education benefit once they have completed a minimum service obligation. Under Chapter 1606, a reservist must be actively drilling and have a 6-year obligation in the Selected Reserve to be eligible.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Will I Receive?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p class="solo">The value of the MGIB is based on the current maximum monthly payment rate of $1,473 multiplied by the 36-month limit. This "payment rate" automatically adjusts for inflation on the first of October each year. You get current payment rate no matter when you became eligible or begin using it.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Kind of Training Can I Take?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
										<p>Your MGIB can be used to pay for many different programs, including:</p>
                                        <ul>
                                            <li>College, business, technical or vocational courses</li>
                                            <li>Distance learning – including correspondence courses</li>
                                            <li>Apprenticeship/job training (Veterans and Reserve only)</li>
                                            <li>Flight training</li>
                                            <li>Licensing and certification exams</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>How Many Months of Assistance Will I Receive?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p class="solo">You will receive 36 months of benefits. This time period refers to academic months, which means you will have up to eight semesters (four years) of traditional academic education.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>How Long am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p class="solo">Benefits under the MGIB generally end 10 years from the date of your last discharge or release from active duty, but some extenuating circumstances qualify for extensions. For example, if you rejoin active service for more than 90 days during that 10-year period, you will have 10 years from the date of your last discharge.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>