.multimedia-features {
    position: relative;
    overflow: hidden;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px -15px !important;

    &.first {
        padding: 45px 0px 0px 0px !important;
        margin: 45px 0px 0px -15px !important;
    }

    & .multimedia-feature-box {
        margin-bottom: 30px;
        position: relative;

        &.selected {
            &:after {
                display: block;
                position: absolute;
                bottom: -31px;
                left: 50%;
                width: 43px;
                height: 19px;
                margin-left: -24px;
                background-image: url(../_images/bg-multimedia-grid-beak.png);
                background-repeat: no-repeat;
                background-position: 0px 0px;
                content: "";
            }
        }

        & > a {
            & > figure {
                display: block;
                position: relative;
                overflow: hidden;
                margin: 0px 15px;
                padding: 0px;
                border: 2px #ccc solid;

                & > img {
                    float: left;
                }

                & > figcaption {
                    display: block;
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: 0px;
                    padding: 18px 10px;
                    background-color: #336699;
                    background-color: rgba(51, 102, 153, 0.65);

                    & > p {
                        display: block;
                        margin: 0px;
                        padding: 0px;
                        color: #fff;
                        font-size: 18px;
                        line-height: 18px;
                        font-family: "Open Sans", sans-serif;
                        text-shadow: 0px 1px 1px #000;
                        text-transform: uppercase;
                    }
                }
            }
        }

        & > .content {
            display: none;
        }
    }
}

.multimedia-feature-box-content {
    display: none;
    clear: both;
    margin: 0px 15px 30px 15px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    & > section {
        overflow: hidden;
        padding: 12px;
        background: #f0efed;
        background: -moz-linear-gradient(top,  #f0efed 0%, #cdcccb 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0efed), color-stop(100%,#cdcccb));
        background: -webkit-linear-gradient(top,  #f0efed 0%,#cdcccb 100%);
        background: -o-linear-gradient(top,  #f0efed 0%,#cdcccb 100%);
        background: -ms-linear-gradient(top,  #f0efed 0%,#cdcccb 100%);
        background: linear-gradient(to bottom,  #f0efed 0%,#cdcccb 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0efed', endColorstr='#cdcccb',GradientType=0 );
        border: 1px #b7b7b7 solid;

        & > figure {
            position: relative;
            margin: 0px 12px 0px 0px;
            padding: 0px;

            & > figcaption {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;

                & > a {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;

                    & > strong {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 78px;
                        height: 81px;
                        margin-top: -40px;
                        margin-left: -36px;
                        background-image: url(../_images/sprites.png);
                        background-repeat: no-repeat;
                        background-position: 0px -190px;
                        @include no-text;
                        cursor: pointer;
                    }

                    &:hover {
                        & > strong {
                            background-position: -80px -190px;
                        }
                    }
                }
            }
        }
        & > aside {
            text-align: center;

            & > h3 {
                margin: 0px 0px 20px 0px !important;
                padding: 0px;
                color: #333 !important;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 18px;
                text-shadow: none !important;
            }
            & > p {
                margin: 0px 0px 20px 0px !important;
                padding: 0px;
                font-size: 16px;
                line-height: 22px;
                color: #333;
                text-align: center;
                font-style: normal;
                font-weight: normal;
            }
        }
    }
    & > footer {
        height: 46px;
        padding-left: 15px;
        padding-right: 15px;
        background: #6e6e6e;
        background: -moz-linear-gradient(top,  #6e6e6e 0%, #000000 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e6e6e), color-stop(100%,#000000));
        background: -webkit-linear-gradient(top,  #6e6e6e 0%,#000000 100%);
        background: -o-linear-gradient(top,  #6e6e6e 0%,#000000 100%);
        background: -ms-linear-gradient(top,  #6e6e6e 0%,#000000 100%);
        background: linear-gradient(to bottom,  #6e6e6e 0%,#000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#000000',GradientType=0 );
        text-align: right;

        & > a:link,
        & > a:active,
        & > a:visited {
            float: right;
            color: #fff !important;
            line-height: 46px;
            font-size: 17px;
            text-decoration: underline;
        }
        & > a:hover {
            text-decoration: none;
        }

        & > .addthis_toolbox {
            display: block;
            float: right;
            margin: 0px 22px 0px 0px;
            padding: 0px;
            list-style: none;

            &:before {
                display: block;
                float: left;
                margin-right: 8px;
                color: #fff;
                font-size: 17px;
                line-height: 46px;
                content: "Share:";
            }

            & > a {
                display: block;
                float: left;
                margin: 11px 8px 0px 0px;
                padding: 0px;
                list-style: none;

                & > span {
                    display: block;
                    margin: 0px;
                    padding: 0px;
                    width: 25px;
                    height: 24px;
                    background-image: url(../_images/sprites.png) !important;
                    background-repeat: no-repeat !important;
                    @include no-text;
                }

                &.addthis_button_facebook {
                    & > span {
                        background-position: 0px -306px !important;
                    }
                }
                &.addthis_button_twitter {
                    & > span {
                        background-position: -26px -306px !important;
                    }
                }
                &.addthis_button_google_plusone_share {
                    & > span {
                        background-position: -52px -306px !important;
                    }
                }
                &.addthis_button_pinterest_share {
                    & > span {
                        background-position: - 78px -306px !important;
                    }
                }
            }
        }
    }
}

.multimedia-dib-menu {
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px #e89a54 solid;
    @include border-radius(8px);

    & > header {
        background-color: #ececec;

        & > h3 {
            display: block;
            height: 62px;
            background: #ec952f;
            background: -moz-linear-gradient(top,  #ec952f 0%, #d57e18 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec952f), color-stop(100%,#d57e18));
            background: -webkit-linear-gradient(top,  #ec952f 0%,#d57e18 100%);
            background: -o-linear-gradient(top,  #ec952f 0%,#d57e18 100%);
            background: -ms-linear-gradient(top,  #ec952f 0%,#d57e18 100%);
            background: linear-gradient(to bottom,  #ec952f 0%,#d57e18 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec952f', endColorstr='#d57e18',GradientType=0 );
            text-align: center;
            font-size: 20px;
            line-height: 62px;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75) !important;
            color: #fff !important;
            font-weight: bold;
            text-transform: uppercase;
        }
        & > section {
            background: #e7e7e7;
            background: -moz-linear-gradient(top,  #e7e7e7 0%, #f0f0f0 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#f0f0f0));
            background: -webkit-linear-gradient(top,  #e7e7e7 0%,#f0f0f0 100%);
            background: -o-linear-gradient(top,  #e7e7e7 0%,#f0f0f0 100%);
            background: -ms-linear-gradient(top,  #e7e7e7 0%,#f0f0f0 100%);
            background: linear-gradient(to bottom,  #e7e7e7 0%,#f0f0f0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f0f0f0',GradientType=0 );

            & > nav {
                display: block;
                float: left;
                position: relative;
                width: 18%;
                height: 34px;
                background-image: url(../_images/bg-multimedia-dib-nav-divider.png);
                background-repeat: no-repeat;
                background-position: top right;
                z-index: 100;

                & > a {
                    display: block;
                    position: relative;
                    width: auto;
                    height: 34px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #333;
                    font-size: 16px;
                    line-height: 34px;
                    font-weight: bold;
                    text-decoration: none !important;
                    text-align: left;

                    &:after {
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 13px;
                        width: 15px;
                        height: 8px;
                        background-image: url(../_images/sprites.png);
                        background-repeat: no-repeat;
                        background-position: -184px -56px;
                        content: "";
                    }
                }
                & > ul {
                    display: none;
                    position: absolute;
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    background-color: #f4f4f4;
                    list-style: none;
                    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);

                    & > li {
                        display: block;
                        margin: 0px;
                        padding: 0px;
                        list-style: none;

                        & > a {
                            display: block;
                            padding-left: 15px;
                            padding-right: 15px;
                            color: #333;
                            font-size: 14px;
                            line-height: 30px;
                            font-weight: normal;
                            text-decoration: none !important;
                        }

                        &:hover {
                            background-color: #272793;

                            & > a {
                                color: #fff !important;
                            }
                        }
                    }

                    &.open {
                        display: block;
                    }
                }
            }

            & > ol {
                display: block;
                float: right;
                margin: 0px;
                padding: 0px;
                list-style: none;

                & > li {
                    display: block;
                    float: left;
                    position: relative;
                    margin: 0px;
                    padding: 0px;
                    background-image: url(../_images/bg-multimedia-dib-nav-divider.png);
                    background-repeat: no-repeat;
                    background-position: top right;
                    list-style: none;

                    &.handle {
                        display: none;
                    }

                    &:last-child {
                        background-image: none;
                    }

                    &:after {
                        display: none;
                        position: absolute;
                        width: 100%;
                        height: 26px;
                        background-image: url(../_images/bg-multimedia-dib-nav-arrow.png);
                        background-repeat: no-repeat;
                        background-position: center top;
                        background-size: 100% 100%;
                        text-align: center;
                        font-size: 0;
                        line-height: 0;
                        content: "";
                    }

                    & > a {
                        display: block;
                        position: relative;
                        padding: 0px 8px 0px 7px;
                        font-size: 10px;
                        font-weight: bold;
                        line-height: 34px;
                        text-decoration: none !important;
                        text-transform: uppercase;
                        color: #333 !important;
                    }

                    &.selected {
                        background-color: #272793;
                        background-image: url(../_images/bg-multimedia-dib-nav-bg.png);
                        background-repeat: no-repeat;
                        background-position: center top;
                        background-size: 100% 100%;

                        &:after {
                            display: block;
                        }

                        & > a {
                            color: #fff !important;
                        }
                    }

                    &:hover {
                        & > a {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
        }
    }
    & > section {
        clear: both;
        background-color: #fff;
        background-image: url(../_images/bg-multimedia-dib.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25) inset;
        -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25) inset;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25) inset;

        & > div {
            display: none;
            overflow: hidden;
            padding: 30px;

            & figure {
                float: left;
                width: 30%;
                margin: 0px;
                padding: 0px;

                & img {
                    -webkit-box-shadow: 3px 3px 3px #000;
                    -moz-box-shadow: 3px 3px 3px #000;
                    box-shadow: 3px 3px 3px #000;
                }
            }
            & > aside {
                display: block;
                float: right;
                width: 65%;
                min-height: 337px;
                background-image: url(../_images/elements/feature-multimedia-dib-logo.png);
                background-repeat: no-repeat;
                background-position: right 30px;

                & > h3 {
                    display: block;
                    padding: 100px 0px 10px 0px !important;
                    margin: 0px !important;
                    color: #272793;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 18px;
                    text-shadow: none !important;
                }
                & > ul {
                    list-style: none !important;

                    & > li {
                        padding-left: 15px;
                        background-image: url(../_images/elements/bullet-item.png);
                        background-repeat: no-repeat;
                        background-position: 0px 8px;
                        list-style: none !important;
                    }
                }
                & .button {
                    float: right;
                }
            }
        }
    }
}