body {
	#container {
		& > article {
			&.has-sidebar {
				& > section {
					& > .content {
						& > aside {
							padding-bottom: 25px;
							float: right;
							background-image: url(../_images/bg-tile-darker.jpg);
							background-repeat: repeat;
							background-position: 0px 0px;

                            &:after {
                                display: block;
                                position: relative;
                                width: 118px;
                                height: 196px;
                                margin: 50px auto 0px auto;
                                background-image: url(../_images/elements/sidebar-footer-logos.png);
                                background-repeat: no-repeat;
                                background-position: 0px 0px;
                                @include no-text;
                                content: "";
                            }
							& > h3 {
								display: block;
								margin: 0px 0px 15px 0px;
								padding: 0px;
								font-size: 15px;
								line-height: 15px;
								font-weight: bold;
								font-family: "Open Sans", sans-serif;
								text-transform: uppercase;
								color: #333;
								text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.65);
                                text-align: center;
							}
							& menu, 
							& nav {
								margin: 0px;
								padding: 0px;
							}
							& > menu {
								&.social-links {
									margin: 12px 20px 14px 20px;
									overflow: hidden;
                                    text-align: center;
									
									& > a:link, 
									& > a:active, 
									& > a:visited {
										display: inline-block;
										margin: 0px 10px 0px 10px;
										width: 45px;
										height: 44px;
										background-image: url(../_images/sprites.png);
										background-repeat: no-repeat;
										@include no-text;
										cursor: pointer;
										
										&.twitter {
											background-position: 0px -79px;
										}
										&.facebook {
											background-position: -45px -79px;
										}
										&.gplus {
											background-position: -90px -79px;
										}
									}
								}
								&.quick-links {
									margin: 25px 20px 28px 20px;
									
									& > ul {
										display: block;
										margin: 0px;
										padding: 0px;
										list-style: none;
										
										& > li {
											display: block;
											clear: both;
											overflow: hidden;
											margin: 0px;
											padding: 30px 0px;
											border-top: 1px #f4f2f2 solid;
											border-bottom: 1px #999 solid;
											list-style: none;
											
											&:first-child {
												padding-top: 0px;
												border-top: none;
											}
											
											& > a:link, 
											& > a:active, 
											& > a:visited {
												display: block;
												text-decoration: none;
												
												&:before {
													display: block;
													float: left;
													width: 89px;
													margin-right: 10px;
													background-repeat: no-repeat;
													background-position: center top;
													@include no-text;
													content: "";
												}
												
												& > h3 {
													display: block;
													margin: 0px;
													padding: 3px 10px 3px 0px;
													font-size: 15px;
													line-height: 18px;
													color: #333399;
													font-weight: bold;
													font-style: normal;
													text-transform: uppercase;
													font-family: "Open Sans", sans-serif;
												}
												& > p {
													display: block;
													margin: 0px;
													padding: 0px 10px 0px 0px;
													font-size: 14px;
													line-height: 18px;
													color: #333;
													font-weight: normal;
													font-style: normal;
												}
											}
											
											&.transcript-request {
												& > a {
													&:before {
														height: 100px;
														background-image: url(../_images/elements/sidebar-transcript_request.png);
													}
												}
											}
											&.distance-learning {
												& > a {
													&:before {
														height: 80px;
														background-image: url(../_images/elements/sidebar-distance_learning.png);
													}
												}
											}
											&.support {
												& > a {
													&:before {
														height: 80px;
														background-image: url(../_images/elements/sidebar-support.png);
													}
												}
											}
                                            &.resources {
                                                & > a {
                                                    &:before {
                                                        height: 123px;
                                                        background-image: url(../_images/elements/sidebar-resources.png);
                                                    }
                                                }
                                            }
                                            &.multimedia {
                                                & > a {
                                                    &:before {
                                                        height: 130px;
                                                        background-image: url(../_images/elements/sidebar-multimedia.png);
                                                    }
                                                }
                                            }
                                            &.dod-leadership {
                                                & > a {
                                                    &:before {
                                                        height: 54px;
                                                        background-image: url(../_images/elements/sidebar-dod_leadership.png);
                                                    }
                                                }
                                            }
											&.examination-calendar {
												& > a {
													&:before {
														height: 109px;
														background-image: url(../_images/elements/sidebar-examination_calendar.png);
													}
												}
											}
											&.test-site-lookup {
												& > a {
													&:before {
														height: 90px;
														background-image: url(../_images/elements/sidebar-test_site_lookup.png);
													}
												}
											}
                                            &.faq {
                                                & > a {
                                                    &:before {
                                                        height: 110px;
                                                        background-image: url(../_images/elements/sidebar-faqs.png);
                                                    }
                                                }
                                            }
										}
									}
								}
							}
							& > address {
								display: block;
								clear: both;
								margin: 0px;
								font-size: 14px;
								line-height: 18px;
								color: #333;
								font-style: normal;
								font-weight: normal;
                                text-align: center;
							}
						}
					}
				}
			}
		}
	}
}