---
layout: default
title: VA Benefits - Education Benefits | Service Members
path: ../../..
body_class:
social: {
    title: "VA Benefits",
    description: "The Department of Veterans Affairs offers a variety of benefits and services that provide financial and other forms of assistance to service members, veterans, as well as their dependents and survivors."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-education_benefits-va_benefits.jpg' slide_title='VA Benefits' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html">VA Benefits</a></li>
                            </ul>
                            {% include social.html %}

                            <img src="{{ page.path }}/_images/elements/feature-service_members-benefits-veap-logo.png" alt="Seal of the Department of Veterans Affairs" class="right inline">

                            <h1>Now is the time for you to take the next step and engage the opportunity to actively advance your career.</h1>
                            <p>The Department of Veterans Affairs offers a variety of benefits and services that provide financial and other forms of assistance to service members, veterans, as well as their dependents and survivors.</p>
                            
							<br />
                            
                            <ul class="accordion">
	                            <li>
                            		<div class="title">
                            			<h5>Active Duty</h5>
                            		</div>
                            		<div class="content">
                                    	<menu class="row">
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-post_911_gi_bill">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/post-911-gi-bill/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                                
                                                <p class="flush">
                                                    <strong>Post 9/11 GI Bill</strong><br />
                                                    Learn the length of time that benefits are typically available following your release from active duty.
                                                </p>
                                            </div>
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-montgomery_gi_bill">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/montgomery-gi-bill/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>

                                                <p class="flush">
                                                    <strong>Montgomery GI Bill</strong><br />
                                                    Did you know you may be able to receive increased monthly benefits?
                                                </p>
                                            </div>
                                        </menu>

                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>Reserves</h5>
                            		</div>
                            		<div class="content">
                                    	<menu class="row">
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-post_911_gi_bill">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/post-911-gi-bill/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>

                                                <p class="flush">
                                                    <strong>Post 9/11 GI Bill</strong><br />
                                                    Learn the length of time that benefits are typically available following your release from active duty.
                                                </p>
                                            </div>
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-montgomery_gi_bill">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/montgomery-gi-bill/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>

                                                <p class="flush">
                                                    <strong>Montgomery GI Bill</strong><br />
                                                    Did you know you may be able to receive increased monthly benefits?
                                                </p>
                                            </div>
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-chapter_1607">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/reap-chapter-1607/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>

                                                <p class="flush">
                                                    <strong>REAP Chapter 1607</strong><br />
                                                    Discover the training programs you may be eligible for under REAP.
                                                </p>
                                            </div>
										</menu>

                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>National Guard</h5>
                            		</div>
                            		<div class="content">
                                    	<menu class="row">
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-air_national_guard">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/air-national-guard/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>

                                                <p class="flush">
                                                    <strong>Air National Guard</strong><br />
                                                    In-state tuition is available to active service members and family – get all the information here.
                                                </p>
                                            </div>
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-post_911_gi_bill">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/post-911-gi-bill/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                                
                                                <p class="flush">
                                                    <strong>Post 9/11 GI Bill</strong><br />
                                                    Learn the length of time that benefits are typically available following your release from active duty.
                                                </p>
                                            </div>
										</menu>

                                        <br />
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>Veterans' Educational Assistance Program (VEAP)</h5>
                            		</div>
                            		<div class="content">
                                    	<menu class="row">
                                        	<div class="four columns">
                                                <div class="row feature-box feature-box-logo feature-box-preset education_benefits-veap">
                                                    <div class="eleven">
                                                        <figure></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/service-members/education-benefits/va-benefits/veterans-educational-assistance-program/index.html">
                                                            	<strong>&nbsp;</strong>
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>

                                                <p class="flush">
                                                    <strong>Veterans' Educational Assistance Program (VEAP)</strong><br />
                                                    Learn about the benefits available under this matching contributions program.
                                                </p>
                                            </div>
										</menu>

                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>