.feature-box {
	&.feature-box-preset {
		/* home */
		&.home-service_members {
			& figure {
				background-image: url(../_images/elements/feature-service_members.jpg);
			}
		}
		&.home-educational_institutions {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions.jpg);
			}
		}
		&.home-dantes_counselors {
			& figure {
				background-image: url(../_images/elements/feature-dantes_counselors.jpg);
			}
		}
		&.home-dod_leadership {
			& figure {
				background-image: url(../_images/elements/feature-dod_leadership.jpg);
			}
		}
		&.home-service_members, 
		&.home-educational_institutions, 
		&.home-dantes_counselors, 
		&.home-dod_leadership {
			& figcaption {
				& > a {
					& > strong {
						padding: 0px;
						width: 250px;
						text-indent: 18px;
					}
				}
			}
		}

		/* service members (overview) */
		&.service_members-college_credit, 
		&.service_members-prep_for_college,
        &.service_members-transferable_credits,
        &.service_members-your_benefits,
		&.service_members-tuition_assistance, 
		&.service_members-find_an_education_center,
		&.service_members-training {
			& figure {
				background-position: center right;
			}
			& figcaption {
				& > a {
					& > strong {
						bottom: 22px;
						font-size: 22px;
						padding: 0px 14px;
					}
				}
			}
			& + p {
				font-size: 15px;
				padding-bottom: 30px;
			}
		}
		&.service_members-find_an_education_center {
			& figcaption {
				& > a {
					& > strong {
						bottom: 10px;
					}
				}
			}
		}

		&.service_members-college_credit {
			& figure {
				background-image: url(../_images/elements/feature-service_members-college_credit.jpg);
			}
		}
		&.service_members-prep_for_college {
			& figure {
				background-image: url(../_images/elements/feature-service_members-prep_for_college.jpg);
			}
		}
        &.service_members-transferable_credits {
            & figure {
                background-image: url(../_images/elements/feature-educational_institutions-transferable_credits.jpg);
            }
        }
		&.service_members-your_benefits {
			& figure {
				background-image: url(../_images/elements/feature-service_members-your_benefits.jpg);
			}
		}
		&.service_members-tuition_assistance {
			& figure {
				background-image: url(../_images/elements/feature-service_members-tuition_assistance.jpg);
			}
		}
		&.service_members-find_an_education_center {
			& figure {
				background-image: url(../_images/elements/feature-service_members-find-education-center.jpg);
                /*background-image: url(../_images/elements/feature-service_members-distance_learning-student_enrollment_procedures-inline.jpg);*/
			}
		}
		&.service_members-training {
			& figure {
				background-image: url(../_images/elements/feature-service_members-training.jpg);
			}
		}

        /* service members - prep for college */
        &.service_members-prep_for_college-earn_college_credit,
        &.service_members-prep_for_college-examinations,
        &.service_members-prep_for_college-self_assessment,
        &.service_members-prep_for_college-student_enrollment,
        &.service_members-prep_for_college-high_school_diploma,
        &.service_members-prep_for_college-tips {
            & figure {
                background-position: center right;
            }
            & figcaption {
                & > a {
                    & > strong {
                        bottom: 22px;
                        font-size: 22px;
                        padding: 0px 14px;
                    }
                }
            }
            & + p {
                font-size: 15px;
                padding-bottom: 30px;
            }
        }

        &.service_members-prep_for_college-earn_college_credit {
            & figure {
                background-image: url(../_images/elements/feature-service_members-college_credit.jpg);
            }
        }
        &.service_members-prep_for_college-examinations {
            & figure {
                background-image: url(../_images/elements/feature-service_members-prep_for_college-examinations.jpg);
            }
        }
        &.service_members-prep_for_college-self_assessment {
            & figure {
                background-image: url(../_images/elements/feature-service_members-prep_for_college-self_assessment.jpg);
            }
        }
        &.service_members-prep_for_college-student_enrollment {
            & figure {
                background-image: url(../_images/elements/feature-service_members-distance_learning-student_enrollment.jpg);
            }
        }
        &.service_members-prep_for_college-high_school_diploma {
            & figure {
                background-image: url(../_images/elements/feature-service_members-distance_learning-hs_diploma.jpg);
            }
        }
        &.service_members-prep_for_college-tips {
            & figure {
                background-image: url(../_images/elements/feature-service_members-distance_learning-tips.jpg);
            }
        }

        /* service members - benefits */
        &.service_members-benefits-financial_assistance,
        &.service_members-benefits-va,
        &.service_members-benefits-transferable_credits {
            & figure {
                background-position: center right;
            }
            & figcaption {
                & > a {
                    & > strong {
                        bottom: 22px;
                        font-size: 22px;
                        padding: 0px 14px;
                    }
                }
            }
            & + p {
                font-size: 15px;
                padding-bottom: 30px;
            }
        }

        &.service_members-benefits-financial_assistance {
            & figure {
                background-image: url(../_images/elements/feature-service_members-tuition_assistance.jpg);
            }
        }
        &.service_members-benefits-va {
            & figure {
                background-image: url(../_images/elements/feature-service_members-benefits-va.jpg);
            }
        }
        &.service_members-benefits-transferable_credits {
            & figure {
                background-image: url(../_images/elements/feature-educational_institutions-transferable_credits.jpg);
            }
        }

        /* service members - financial assistance */
        &.service_members-benefits-financial_assistance-va,
        &.service_members-benefits-financial_assistance-other,
        &.service_members-benefits-financial_assistance-policies {
            & figure {
                background-position: center right;
            }
            & figcaption {
                & > a {
                    & > strong {
                        bottom: 14px;
                        font-size: 18px;
                        padding: 0px 14px;
                    }
                }
            }
            & + p {
                font-size: 15px;
                padding-bottom: 30px;
            }
        }

        &.service_members-benefits-financial_assistance-va {
            & figure {
                background-image: url(../_images/elements/feature-service_members-benefits-financial_assistance-va.jpg);
            }
        }
        &.service_members-benefits-financial_assistance-other {
            & figure {
                background-image: url(../_images/elements/feature-service_members-benefits-financial_assistance-other.jpg);
            }
        }
        &.service_members-benefits-financial_assistance-policies {
            & figure {
                background-image: url(../_images/elements/feature-service_members-tuition_assistance-tuition_policies.jpg);
            }
        }

        /* service members - tuition assistance */
        &.service_members-tuition_assistance-tuition_policies,
        &.service_members-tuition_assistance-financial_aid {
            & figcaption {
                & > a {
                    & > strong {
                        bottom: 23px;
                        padding: 0px 14px;
                        font-size: 18px;
                    }
                }
            }
        }
        &.service_members-tuition_assistance-tuition_policies {
            & figure {
                background-image: url(../_images/elements/feature-service_members-tuition_assistance-tuition_policies.jpg);
            }
        }
        &.service_members-tuition_assistance-financial_aid {
            & figcaption {
                & > a {
                    & > strong {
                        bottom: 13px;
                    }
                }
            }
            & figure {
                background-image: url(../_images/elements/feature-service_members-tuition_assistance-financial_aid.jpg);
            }
        }

		/* service members - distance learning */
		&.distance_learning-self_assessment, 
		&.distance_learning-student_enrollment, 
		&.distance_learning-hs_diploma_programs, 
		&.distance_learning-dantes_catalogs, 
		&.distance_learning-tips, 
		&.distance_learning-faq {
			& figcaption {
				& > a {
					& > strong {
						bottom: 18px;
						padding: 0px 14px;
						font-size: 22px;
					}
				}
			}
		}
		&.distance_learning-self_assessment {
			& figure {
				background-image: url(../_images/elements/feature-service_members-distance_learning-self_assessment.jpg);
			}
		}
		&.distance_learning-student_enrollment {
			& figure {
				background-image: url(../_images/elements/feature-service_members-distance_learning-student_enrollment.jpg);
			}
		}
		&.distance_learning-hs_diploma_programs {
			& figure {
				background-image: url(../_images/elements/feature-service_members-distance_learning-hs_diploma.jpg);
			}
		}
		&.distance_learning-dantes_catalogs {
			& figure {
				background-image: url(../_images/elements/feature-service_members-distance_learning-dantes_catalogs.jpg);
			}
		}
		&.distance_learning-tips {
			& figure {
				background-image: url(../_images/elements/feature-service_members-distance_learning-tips.jpg);
			}
		}
		&.distance_learning-faq {
			& figure {
				background-image: url(../_images/elements/feature-service_members-distance_learning-faq.jpg);
			}
		}

		/* education benefits */
		&.education_benefits-montgomery_gi_bill {
			& figure {
				background-image: url(../_images/elements/feature-service_members-benefits-montgomery_gi_bill.jpg);
			}
		}
		&.education_benefits-post_911_gi_bill {
			& figure {
				background-image: url(../_images/elements/feature-service_members-benefits-post_911_gi_bill.jpg);
			}
		}
		&.education_benefits-state_tuition {
			& figure {
				background-image: url(../_images/elements/feature-service_members-benefits-state_tuition.jpg);
			}
		}
		&.education_benefits-tuition_assistance {
			& figure {
				background-image: url(../_images/elements/feature-service_members-benefits-tuition_assistance.jpg);
			}
		}
		&.education_benefits-air_national_guard {
			& figure {
				background-image: url(../_images/elements/feature-service_members-benefits-air_national_guard.jpg);
			}
		}
		&.education_benefits-chapter_1607 {
			& figure {
				background-image: url(../_images/elements/feature-service_members-benefits-chapter_1607.jpg);
			}
		}
		&.education_benefits-veap {
			& figure {
				background-image: url(../_images/elements/feature-service_members-benefits-veap.jpg);
			}
		}

		/* educational institutions */
		&.educational_institutions-military_friendly_institution, 
		&.educational_institutions-transferable_credits,
		&.educational_institutions-recommended_affiliations, 
		&.educational_institutions-resources,
        &.educational_institutions-dod_mou,
        &.educational_institutions-3rd_party {
			& figure {
				background-position: center right;
			}
		}
		&.educational_institutions-military_friendly_institution {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions-military_friendly_institution.jpg);
			}
			& figcaption {
				& > a {
					& > strong {
						bottom: 13px;
						font-size: 22px;
					}
				}
			}
		}
		&.educational_institutions-transferable_credits {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions-transferable_credits.jpg);
			}
		}
		&.educational_institutions-recommended_affiliations {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions-recommended_affiliations.jpg);
			}
		}
		&.educational_institutions-resources {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions-resources.jpg);
			}
		}
        &.educational_institutions-dod_mou {
            & figure {
                background-image: url(../_images/elements/feature-educational_institutions-dod_mou.jpg);
            }
        }
        &.educational_institutions-3rd_party {
            & figure {
                background-image: url(../_images/elements/feature-service_members-transcripts.jpg);
            }
        }

		/* educational counselors */
		&.educational_counselors-education_counselors_toolbox, 
		&.educational_counselors-counselor_support_program, 
		&.educational_counselors-find_an_education_center, 
		&.educational_counselors-dod_mou {
			& figure {
				background-position: center right;
			}
            & figcaption {
                & > a {
                    & > strong {
                        bottom: 18px;
                        padding: 0px 10px;
                        font-size: 22px;
                    }
                }
            }
		}
		&.educational_counselors-education_counselors_toolbox {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions-transferable_credits.jpg);
			}
		}
		&.educational_counselors-counselor_support_program {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions-recommended_affiliations.jpg);
			}
		}
		&.educational_counselors-find_an_education_center {
			& figure {
				background-image: url(../_images/elements/feature-educational_counselors-find_an_education_center.jpg);
			}
		}
		&.educational_counselors-dod_mou {
			& figure {
				background-image: url(../_images/elements/feature-educational_institutions-dod_mou.jpg);
			}
			& figcaption {
				& > a {
					& > strong {
						bottom: 13px;
						font-size: 22px;
					}
				}
			}
		}
	}
}