---
layout: default
title: Training | Education Counselors
path: ../..
body_class:
social: {
    title: "Training",
    description: "Information about TCO testing, voluntary education conferences and other events can be found here."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-training.jpg' slide_title='Training' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/education-counselors/index.html">Education Counselors</a></li>
                                <li><a href="{{ page.path }}/education-counselors/training/index.html">Training</a></li>
                            </ul>
                            {% include social.html %}

                            <div class="four right inline" style="margin-top: -10px;">
                                <div class="feature-box feature-box-short feature-box-logo">
                                    <div>
                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-training-inline.jpg);"></figure>
                                        <figcaption>
                                            <a href="javascript:;">
                                                &nbsp;
                                            </a>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                            
                            <h1>What training is available for an Education Counselor?</h1>
                            <p>DANTES offers ongoing programs and events to keep your professional development up-to-date. We also administer the online Test Control Officer (TCO) Academic Testing Course, which qualifies you to become an authorized administrator of DANTES-sponsored examination programs.</p>

                            <br />
                            <hr class="clearfix" />

                            <ul class="accordion" style="margin-top:26px;">
                                <li>
                                    <div class="title" data-scout-event="Accordion, TCO_academic_testing, accordion-TCO-academic-testing">
                                        <h5>Online Test Control Officer (TCO) Academic Testing Course</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />
                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-training_laptop.jpg);"></figure>
                                                        <figcaption>
                                                            <a href="{{ page.path }}/education-counselors/training/tco-training/index.html" data-scout-event="mid_page_link, more_info_TCO, TCO-info">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>The online TCO Academic Testing Course provides comprehensive examination information in a 24/7 delivery mode so that potential TCO candidates nominated by their headquarters/major commands can receive standardized TCO training in a self-paced program. This has also reduced travel and per diem costs for the Military Services.</p>
                                                <a class="button button-grey button-icon-arrow-right" href="{{ page.path }}/education-counselors/training/tco-training/index.html" data-scout-event="mid_page_link, more_info_TCO, TCO-info"><strong>More Information about TCO</strong></a>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </li>

                                <li>
                                    <div class="title" data-scout-event="Accordion, DANTES_pro_dev, accordion-DANTES-pro-dev">
                                        <h5>DANTES Professional Development</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />
                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-training_dod.jpg);"></figure>
                                                        <figcaption>
                                                            <a href="javascript:;">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>
                                                    <strong>DoD Worldwide Education Symposium</strong><br />
                                                    <br />
                                                    Every three years since 1994, the Department of Defense (DoD) has hosted the DoD Worldwide Education Symposium to provide professional development opportunities for those who support the Military Voluntary Education Program. The most recent symposium, held July 23 - 26, 2012, was very successful with over 1,800 attendees.
												</p>
                                                <p>The next Worldwide was scheduled to occur during the summer of 2015. However, due to current fiscal constraints and the uncertainty about future budgets, DANTES has been advised to cease planning efforts for the 2015 event. Until we are able to reinstate Worldwide, we will work on other training technologies and developmental opportunities to ensure our education professionals stay at the top of their game.</p>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="title" data-scout-event="Accordion, vol_ed_conferences_events, accordion-voluntary-edconference-events">
                                        <h5>Voluntary Education Conferences and Other Events</h5>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <br />
                                            <div class="four columns">
                                                <div class="feature-box feature-box-short feature-box-logo">
                                                    <div>
                                                        <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-training_hands.jpg);"></figure>
                                                        <figcaption>
                                                            <a href="javascript:;">
                                                                &nbsp;
                                                            </a>
                                                        </figcaption>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <p>Want to add a conference or event? Let us know if there are any voluntary education conferences that you would like to see listed. Send an e-mail to <a href="mailto:dantestraining@navy.mil" data-scout-event="mid_page_link, email_dantes, Add-event">dantestraining@navy.mil</a> with all the information.</p>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>