---
layout: default
title: Earn College Credit &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "Earn College Credit",
    description: "Want additional college credit based on information you already know? Here are some exams that you can take to get ahead."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-earn_college_credit.jpg' slide_title='Earn College Credit' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep for College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/earn-college-credit/index.html">Earn College Credit</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Want additional college credit based on information you already know?</h1>
                            <p>Here are some exams that you can take to get ahead:</p>

                            <hr />

                            <menu class="row">
                                <br /><br />

                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-clep.png);"></figure>
                                            <figcaption>
                                                <a href="http://clep.collegeboard.org/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>College Level Examination Program (CLEP)</strong><br />
                                        CLEP gives you the opportunity to receive college credit for what you already know. Earn credit for knowledge you've acquired through course work, independent study, cultural pursuits, travel, special interests, military service schools, and professional development.
                                    </p>

                                    <a class="button button-grey button-icon-arrow-right" href="http://clep.collegeboard.org/" target="_blank"><strong>More Information About CLEP</strong></a>
                                </div>
                            </menu>

                            <menu class="row">
                                <br />

                                <div class="four columns">
                                    <div class="feature-box feature-box-short feature-box-no-margin feature-box-logo">
                                        <div>
                                            <figure style="background-image: url({{ page.path }}/_images/elements/feature-service_members-college_credit-logo-dsst.png);"></figure>
                                            <figcaption>
                                                <a href="http://getcollegecredit.com/" target="_blank">
                                                    &nbsp;
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight columns">
                                    <p>
                                        <strong>DSST</strong><br />
                                        The DSST Credit By Exam Program offers you a cost-effective, time saving way to use your knowledge acquired outside of the classroom to accomplish your educational goals. DSST offers over 30 exams to choose from in upper and lower level credits.
                                    </p>

                                    <a class="button button-grey button-icon-arrow-right" href="http://getcollegecredit.com/" target="_blank"><strong>More Information About DSST</strong></a>
                                </div>
                            </menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>