---
layout: default
title: REAP Chapter 1607 &mdash; VA Benefits &mdash; Education Benefits | Service Members
path: ../../../..
body_class:
social: {
    title: "REAP Chapter 1607",
    description: "Discover the training programs you may be eligible for under REAP."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-your_benefits-chapter_1607.jpg' slide_title='REAP Chapter 1607' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html">VA Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/va-benefits/reap-chapter-1607/index.html">REAP</a></li>
                            </ul>
                            {% include social.html %}

                        	<div class="right inline text-center">
                                <img src="{{ page.path }}/_images/elements/feature-service_members-benefits-chapter_1607-logo.png" />
                                <br /><br /><br />
                                <a href="http://www.gibill.va.gov/benefits/other_programs/reap.html" class="button button-grey button-icon-arrow-right" target="_blank"><strong>Go to Website</strong></a>
                            </div>
                            <h1>What you need to know about the Reserve Education Assistance Program (REAP) (Chapter 1607)</h1>
                            <p>REAP (Chapter 1607) is an education program that provides up to 36 months of education benefits to members of the Selected Reserves, Individual Ready Reserve and National Guard called to active duty in response to a war or national emergency (contingency operation) as declared by the President or Congress.</p>
                            
							<br />
                            
                            <ul class="accordion">
	                            <li>
                            		<div class="title">
                            			<h5>Am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                    	<p>A member of a Reserve component who serves on active duty on or after September 11, 2001 under title 10, U.S. Code, for at least 90 consecutive days under a contingency operation, is eligible for REAP.</p>
                                        <p>National Guard members are eligible if their active service extends for 90 consecutive days or more and their service is:</p>
                                        <ul>
                                        	<li>Authorized under section 502(f), title 32, U.S. Code</li>
                                            <li>Authorized by the President or Secretary of Defense for a national emergency</li>
                                            <li>Supported by federal funds</li>
                                        </ul>
                                        <br />
                                        <p class="solo">Individuals are eligible as soon as they reach the 90-day point whether or not they are currently on active duty. The Department of Defense (DoD) will identify contingency operations that qualify for benefits under chapter 1607.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>How Long Am I Eligible?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                        <p>The educational assistance allowance payable under REAP is a percentage of the Montgomery GI Bill-Active Duty (MGIB) rate based on the number of continuous days served on active duty. Service members released before 90 days due to an injury, illness, or disease incurred or aggravated in the line of duty receive the 40 percent rate.</p>
                                        <ul>
	                                        <li>Members who serve 90 days but less than 1 year will receive 40 percent of the MGIB 3-year rate.</li>
                                            <li>Members who serve 1 year but less than 2 years will receive 60 percent of the MGIB 3-year rate.</li>
                                            <li>Members who serve 2 or more continuous years will receive 80 percent of the MGIB 3-year rate.</li>
										</ul>
                                        <br />
                                        <p class="solo">The amount that VA pays is based on the type of training program and training time (i.e. full time, half time, etc). If attendance is less than a month or less than full-time, payments are reduced proportionately.</p>
                                    </div>
                                </li>
	                            <li>
                            		<div class="title">
                            			<h5>What Kind of Programs are Available?</h5>
                            		</div>
                            		<div class="content">
                                        <br />
                                    	<p>Your REAP benefits can be used to pay for many different programs, including:</p>
                                        <ul>
                                        	<li>College or university degree programs</li>
                                            <li>Vocational programs</li>
                                            <li>Flight training</li>
                                            <li>Apprenticeship/Job training</li>
                                            <li>Distance learning – including correspondence courses and independent study</li>
                                            <li>Entrepreneurship courses</li>
                                        </ul>
                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>