body {
	#container {
		& > article {
			&.has-sidebar {
				& > section {
					& > .content {
						& ul.breadcrumbs {
							position: relative;
							height: 38px;
							margin: -43px -35px 0px -35px;
							padding: 0px;
							overflow: visible;
							background-color: transparent;
							border: none;
							
							&:after {
								display: block;
								position: absolute;
								right: 0px;
								bottom: 0px;
								width: 1000%;
								height: 1px;
								margin: 0px;
								background-color: #cacaca;
								border: none;
								content: "";
							}
							
							& > li {
								background-image: url(../_images/elements/breadcrumb_end.png);
								background-position: top right;
								background-repeat: no-repeat;
                                margin-bottom: 3px;
								margin-right: -6px;
								font-weight: bold;
								
								&:first-child {
									&:before {
										display: none;
									}
									
									& a {
										padding-left: 17px;
									}
								}
								&:before {
                                    width: 14px;
                                    height: 38px;
                                    display: inline;
									float: left;
									background-image: url(../_images/elements/breadcrumb_start.png);
									background-position: top left;
									background-repeat: no-repeat;
									content: "";
								}
								
								& a {
									display: inline-block;
									height: 37px;
									padding: 0px 10px 0px 12px;
                                    background-image: url(../_images/elements/breadcrumb_tile.png);
                                    background-repeat: repeat;
                                    background-position: 0px 0px;
									color: #fff;
									font-size: 14px;
									line-height: 36px;
									text-decoration: none;
								}
							}
						}
						
						& .flush-top {
							& ul.breadcrumbs {
								margin-top: 0px;
								margin-bottom: 1px;
							}
						}
					}
				}
			}
		}
	}
}