body {
    & #container{
        & > article.has-sidebar {
            & > section {
                & >.content {
                    .wizard.wizard-education-benefits {
                        margin-top: 150px;

                        & > header {
                            & > section {
                                & > h1 {
                                    width: 65%;
                                    margin-top: 20px;
                                    margin-right: 25px;
                                    font-size: 26px;
                                }
                                & > h2 {
                                    width: 60%;
                                    margin-right: 25px;
                                }
                                &:after {
                                    display: block;
                                    position: absolute;
                                    left: 25px;
                                    bottom: -55px;
                                    width: 275px;
                                    height: 312px;
                                    background-image: url(../_images/wizard/education-benefits/header-dantes-rep.png);
                                    background-repeat: no-repeat;
                                    background-position: 0px 0px;
                                    content: "";
                                }
                            }

                            & > nav {
                                & > ul {
                                    & > li {
                                        &.sections {
                                            border: none;

                                            & > ol {
                                                display: none;
                                                position: absolute;
                                                top: 40px;
                                                right: 0px;
                                                margin: 0px;
                                                padding: 0px;
                                                white-space: nowrap;
                                                font-size: 0;
                                                line-height: 0;

                                                &.chosen {
                                                    display: block;
                                                }

                                                &:before {
                                                    display: block;
                                                    position: absolute;
                                                    left: -180px;
                                                    height: 35px;
                                                    color: #727272;
                                                    font-size: 10px;
                                                    line-height: 35px;
                                                    content: "Choose from the following options:";
                                                    white-space: nowrap;
                                                }

                                                & > li {
                                                    display: inline-block;
                                                    float: none;
                                                    height: 35px;
                                                    margin: 0px;
                                                    padding: 0px;
                                                    border-right: 1px #bbbbbb solid;
                                                    list-style: none;

                                                    &:first-child {
                                                        border-left: 1px #bbbbbb solid;
                                                    }

                                                    & > a {
                                                        display: block;
                                                        position: relative;
                                                        height: 35px;
                                                        width: 47px;
                                                        padding: 0px;
                                                        color: #3a3d9d;
                                                        text-decoration: none;
                                                        font-size: 12px;
                                                        line-height: 35px;
                                                        text-transform: uppercase;
                                                        font-weight: 600;
                                                        text-align: center;

                                                        &:hover {
                                                            text-decoration: underline;
                                                        }
                                                    }

                                                    &.selected {
                                                        & > a {
                                                            background-image: url(../_images/wizard/education-benefits/bg-nav-secondary-selected.png);
                                                            background-repeat: no-repeat;
                                                            background-position: 0px 0px;
                                                            background-size: 100%;
                                                            color: #fff;
                                                            text-decoration: none;

                                                            &:after {
                                                                display: block;
                                                                position: absolute;
                                                                bottom: -8px;
                                                                left: 0px;
                                                                width: 100%;
                                                                height: 8px;
                                                                background-image: url(../_images/wizard/education-benefits/bg-nav-secondary-selected.png);
                                                                background-repeat: no-repeat;
                                                                background-position: bottom center;
                                                                background-size: 100% 43px;
                                                                content: "";
                                                            }
                                                        }
                                                    }
                                                }

                                                &.option-student-loans,
                                                &.option-college-credit-alternatives {
                                                    &:before {
                                                        display: none;
                                                        content: "";
                                                    }
                                                }

                                                &.option-financial-assistance,
                                                &.option-va-benefits {
                                                    & > li {
                                                        & > a {
                                                            width: auto;
                                                            padding: 0px 9px;
                                                            text-transform: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &:before {
                                    display: block;
                                    clear: both;
                                    position: absolute;
                                    top: 41px;
                                    width: 100%;
                                    height: 35px;
                                    background-image: url(../_images/wizard/bg-nav-secondary.png);
                                    background-repeat: repeat-x;
                                    background-position: 0px 0px;
                                    content: "";
                                }
                            }
                        }

                        & > section {
                            padding-top: 35px;
                            background: #e8e7e7;
                            background: -moz-linear-gradient(top,  #e8e7e7 0%, #ffffff 100%);
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e7), color-stop(100%,#ffffff));
                            background: -webkit-linear-gradient(top,  #e8e7e7 0%,#ffffff 100%);
                            background: -o-linear-gradient(top,  #e8e7e7 0%,#ffffff 100%);
                            background: -ms-linear-gradient(top,  #e8e7e7 0%,#ffffff 100%);
                            background: linear-gradient(to bottom,  #e8e7e7 0%,#ffffff 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#ffffff',GradientType=0 );

                            & .grid {
                                overflow: hidden;

                                & > ol {
                                    display: block;
                                    margin: 0px;
                                    padding: 0px;
                                    list-style: none;

                                    & > li {
                                        display: block;
                                        float: left;
                                        width: 50%;
                                        height: 230px;
                                        margin: 0px;
                                        padding: 0px;
                                        background-color: #fff;
                                        list-style: none;

                                        & > a {
                                            display: table;
                                            width: 100%;
                                            height: 100%;
                                            background-repeat: no-repeat;
                                            background-position: center center;
                                            background-size: cover;
                                            border-right: 1px #c7c7c7 solid;
                                            border-bottom: 1px #c7c7c7 solid;
                                            -webkit-box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.05) inset;
                                            -moz-box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.05) inset;
                                            box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.05) inset;
                                            text-decoration: none;

                                            & > strong {
                                                display: table-cell;
                                                width: 100%;
                                                height: 100%;
                                                padding: 0px 50px;
                                                font-size: 24px;
                                                font-family: "Open Sans", sans-serif;
                                                font-weight: 800;
                                                color: #000;
                                                text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.9);
                                                text-align: center;
                                                vertical-align: middle;
                                            }
                                            &:hover {
                                                & > strong {
                                                    color: #e08c29;
                                                }
                                            }
                                        }

                                        &.option-va-benefits,
                                        &.option-college-credit-alternatives {
                                            & > a {
                                                border-right: none;
                                            }
                                        }
                                        &.option-student-loans,
                                        &.option-college-credit-alternatives {
                                            & > a {
                                                border-bottom: none;
                                            }
                                        }

                                        &.option-financial-assistance {
                                            & > a {
                                                background-image: url(../_images/wizard/education-benefits/bg-grid-financial-assistance-color.jpg);

                                                &:hover {
                                                    background-image: url(../_images/wizard/education-benefits/bg-grid-financial-assistance.jpg);
                                                }
                                            }
                                        }
                                        &.option-va-benefits {
                                            & > a {
                                                background-image: url(../_images/wizard/education-benefits/bg-grid-va-benefits-color.jpg);

                                                &:hover {
                                                    background-image: url(../_images/wizard/education-benefits/bg-grid-va-benefits.jpg);
                                                }
                                            }
                                        }
                                        &.option-student-loans {
                                            & > a {
                                                background-image: url(../_images/wizard/education-benefits/bg-grid-student-loans-color.jpg);

                                                &:hover {
                                                    background-image: url(../_images/wizard/education-benefits/bg-grid-student-loans.jpg);
                                                }
                                            }
                                        }
                                        &.option-college-credit-alternatives {
                                            & > a {
                                                background-image: url(../_images/wizard/education-benefits/bg-grid-college-credit-alternatives-color.jpg);

                                                &:hover {
                                                    background-image: url(../_images/wizard/education-benefits/bg-grid-college-credit-alternatives.jpg);
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            & .subject {
                                display: none;
                                padding: 0px;
                                position: relative;
                                height: 460px;
                                min-height: 460px;
                            }

                            & .subject {
                                & .intro,
                                & .section {
                                    display: block;
                                    position: absolute;
                                    overflow: hidden;
                                    visibility: hidden;
                                    height: 0px;
                                    opacity: 0;

                                    -webkit-transition: opacity 0.65s ease-out,
                                                        -webkit-transform 0.65s ease-out;
                                    -moz-transition:    opacity 0.65s ease-out,
                                                        -moz-transform 0.65s ease-out;
                                    -ms-transition:     opacity 0.65s ease-out,
                                                        -ms-transform 0.65s ease-out;
                                    transition:         opacity 0.65s ease-out,
                                                        transform 0.65s ease-out;

                                    -webkit-transform: scale(1.25);
                                    -moz-transform: scale(1.25);
                                    -ms-transform: scale(1.25);
                                    transform: scale(1.25);

                                    &.enabled {
                                        visibility: visible;
                                        height: 100%;
                                        opacity: 1;
                                        -webkit-transform: scale(1);
                                        -moz-transform: scale(1);
                                        -ms-transform: scale(1);
                                        transform: scale(1);
                                    }
                                }

                                & .intro,
                                & .section {
                                    & .wrapper {
                                        height: auto;
                                        margin: 0px 50px;

                                        & > .content {
                                            position: relative;
                                            height: 100%;

                                            &.full {
                                                width: 100%;
                                                vertical-align: middle;
                                                text-align: center;
                                            }

                                            & h2 {
                                                display: block;
                                                margin: 0px;
                                                padding: 0px 0px 17px 0px;
                                                font-family: "Open Sans", sans-serif;
                                                color: #727272;
                                                font-weight: 800;
                                                font-size: 18px;
                                                line-height: 18px;
                                                text-shadow: none;
                                            }
                                            & h3 {
                                                display: block;
                                                margin: 0px;
                                                padding: 46px 0px 44px 0px;
                                                font-family: "Open Sans", sans-serif;
                                                color: #272793;
                                                font-weight: 800;
                                                font-size: 18px;
                                                line-height: 18px;
                                                text-shadow: none;
                                                text-align: center;

                                                &.inline {
                                                    padding-top: 0px;
                                                    padding-bottom: 35px;
                                                }
                                            }
                                            & h6 {
                                                display: block;
                                                margin: 0px;
                                                padding: 33px 0px 0px 0px;
                                                text-align: center;
                                                font-family: "Open Sans", sans-serif;
                                                color: #727272;
                                                font-weight: bold;
                                                font-size: 16px;
                                                line-height: 16px;
                                                text-shadow: none;
                                            }
                                            & p {
                                                font-size: 14px;
                                                line-height: 18px;
                                                font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida", sans-serif;
                                                color: #727272;
                                                text-align: justify;

                                                &.centered {
                                                    text-align: center;
                                                }
                                            }

                                            & > menu {
                                                position: absolute;
                                                width: 100%;
                                                bottom: 0px;

                                                &.inline {
                                                    position: static;
                                                    bottom: auto;
                                                }

                                                & ul.programs,
                                                & ul.branches,
                                                & ul.statuses,
                                                & ul.benefits {
                                                    display: block;
                                                    margin: 20px 0px 0px 0px;
                                                    padding: 0px 0px 35px 0px;
                                                    list-style: none;
                                                    text-align: center;

                                                    & > li {
                                                        display: inline-block;
                                                        margin: 0px 35px;
                                                        padding: 0px;
                                                        width: 202px;
                                                        height: 120px;
                                                        border: 1px #a7a7a7 solid;
                                                        background-color: #f9f9f9;
                                                        @include border-radius(10px);
                                                        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10) inset;
                                                        -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10) inset;
                                                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10) inset;

                                                        & > div {
                                                            display: table;
                                                            width: 100%;
                                                            height: 100%;

                                                            & > a {
                                                                display: table-cell;
                                                                width: 100%;
                                                                height: 100%;
                                                                padding: 0px 10px;
                                                                text-align: center;
                                                                vertical-align: middle;
                                                                text-decoration: none;
                                                            }
                                                        }
                                                    }
                                                }

                                                & ul.branches {
                                                    & > li {
                                                        width: 98px;
                                                        height: 89px;
                                                        margin: 0px 15px;
                                                    }
                                                }

                                                & ul.statuses {
                                                    & > li {
                                                        width: 151px;
                                                        height: 89px;
                                                        margin: 0px 8px;
                                                        background: #010b47;
                                                        background: -moz-linear-gradient(top,  #010b47 0%, #1a1a62 100%);
                                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#010b47), color-stop(100%,#1a1a62));
                                                        background: -webkit-linear-gradient(top,  #010b47 0%,#1a1a62 100%);
                                                        background: -o-linear-gradient(top,  #010b47 0%,#1a1a62 100%);
                                                        background: -ms-linear-gradient(top,  #010b47 0%,#1a1a62 100%);
                                                        background: linear-gradient(to bottom,  #010b47 0%,#1a1a62 100%);
                                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010b47', endColorstr='#1a1a62',GradientType=0 );
                                                        -webkit-box-shadow: none;
                                                        -moz-box-shadow: none;
                                                        box-shadow: none;

                                                        & > div {
                                                            & > a {
                                                                font-size: 16px;
                                                                line-height: 89px;
                                                                color: #fff;
                                                                font-weight: 800;
                                                                font-family: "Open Sans", sans-serif;
                                                            }
                                                        }
                                                    }
                                                }

                                                & ul.benefits {
                                                    margin-top: 40px;

                                                    & > li {
                                                        width: 182px;
                                                        height: 164px;
                                                        margin: 0px 15px;

                                                        & > div {
                                                            & > a {
                                                                padding: 0px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                & .intro {
                                    height: 100%;

                                    & .wrapper {
                                        height: 100%;

                                        & > figure {
                                            & > img {
                                                width: auto;
                                                max-width: none;
                                            }
                                        }
                                        & > .content {
                                            vertical-align: top;
                                        }
                                    }
                                }

                                & .section {
                                    width: 100%;

                                    & > ol {
                                        display: block;
                                        position: relative;
                                        width: 100%;
                                        height: 100%;
                                        margin: 0px;
                                        padding: 0px;
                                        list-style: none;

                                        & > li {
                                            visibility: hidden;
                                            opacity: 0;
                                            position: absolute;
                                            width: 100%;
                                            height: 0px;
                                            margin: 0px;
                                            padding: 0px;
                                            list-style: none;
                                            -webkit-transition: opacity 0.65s ease-out, visibility 0.65s ease-out;
                                            -moz-transition: opacity 0.65s ease-out, visibility 0.65s ease-out;
                                            -ms-transition: opacity 0.65s ease-out, visibility 0.65s ease-out;
                                            transition: opacity 0.65s ease-out, visibility 0.65s ease-out;

                                            &.enabled {
                                                visibility: visible;
                                                opacity: 1;
                                                height: 100%;
                                            }
                                            & .wrapper {
                                                display: table;
                                                width: 100%;
                                                margin: 0px;
                                                padding: 0px 50px;

                                                & > figure {
                                                    display: table-cell;
                                                    width: 20%;
                                                    padding-top: 35px;
                                                    padding-right: 4%;
                                                    text-align: center;
                                                    vertical-align: top;
                                                }
                                                & .content {
                                                    display: table-cell;
                                                    width: 80%;
                                                    padding-top: 35px;
                                                    vertical-align: top;

                                                    & a {
                                                        color: #272793;
                                                        text-decoration: none;

                                                        &:hover {
                                                            color: #272793;
                                                            text-decoration: underline;
                                                        }
                                                    }

                                                    & ol,
                                                    & ul {
                                                        margin-bottom: 17px;

                                                        & > li {
                                                            margin-bottom: 10px;
                                                            font-size: 14px;
                                                            line-height: 18px;
                                                            font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida", sans-serif;
                                                            color: #727272;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    & > footer {
                                        display: block;
                                        position: absolute;
                                        bottom: 0px;
                                        width: 100%;
                                        height: 70px;
                                        clear: both;

                                        & > nav {
                                            display: block;
                                            float: left;
                                            clear: none;
                                            width: 30%;
                                            margin: 0px;
                                            padding: 0px;
                                            text-align: center;

                                            & > a {
                                                display: inline-block;
                                                position: relative;
                                                width: 78px;
                                                height: 32px;
                                                background-image: url(../_images/sprites-wizard.png);
                                                background-repeat: no-repeat;
                                                text-decoration: none;
                                                cursor: pointer;
                                                font-size: 12px;
                                                line-height: 30px;
                                                color: #ddd;
                                                font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida", sans-serif;
                                                text-transform: uppercase;
                                                font-weight: normal;

                                                &.back {
                                                    margin-right: -10px;
                                                    background-position: 0px -415px;
                                                    text-align: left;
                                                    text-indent: 11px;
                                                }
                                                &.next {
                                                    margin-left: -10px;
                                                    background-position: 0px -373px;
                                                    text-align: left;
                                                    text-indent: 21px;
                                                }

                                                &:hover {
                                                    color: #fff;
                                                }
                                                &.disabled {
                                                    opacity: 0.7;
                                                    color: #62668a;
                                                    cursor: default;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        & > footer {
                            & > menu {
                                & > ul {
                                    & > li.email,
                                    & > li.print {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}