---
layout: default
title: Financial Assistance &mdash; Education Benefits | Service Members
path: ../../..
body_class:
social: {
    title: "Financial Assistance",
    description: "The U.S. Armed Forces offers several programs to support the education goals of service members including up to 100 percent tuition assistance for college courses taken during off-duty hours."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-tuition_assistance.jpg' slide_title='Financial Assistance' %}
            <article class="has-sidebar">
                <section>
                    <div class="content row">
                        <div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/index.html">Education Benefits</a></li>
                                <li><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/index.html">Financial Assistance</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>What you need to know about financial assistance.</h1>
                            <p>The U.S. Armed Forces offers several programs to support the education goals of service members (Army, Navy, Air Force, Marine Corps and Coast Guard) – including up to 100 percent financial assistance for college courses taken during off-duty hours.</p>

                            <hr />

                            <p>&nbsp;</p>
                            <p>Each service has its own criteria for eligibility, obligated service, application process and restrictions. This money is usually paid directly to the institution by the individual services.  You are eligible as long as you remain active duty.</p>

                            <menu class="row">
                                <div class="clear">
                                    <div class="two left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/army/index.html"><img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_army.png" alt="Army"></a></div>
                                    <div class="seven left">
                                        <strong>Army – 100 percent of tuition and fees, not to exceed:</strong><br />
                                        <ul class="indented-inline">
                                            <li>$250 at semester credit hour</li>
                                            <li>$166 at quarter credit hour</li>
                                            <li>$4,500 at fiscal year</li>
                                        </ul>
                                    </div>
                                    <div class="three left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/army/index.html" class="button button-grey button-icon-arrow-right"><strong>More Information</strong></a></div>
                                </div>

                                <div class="clear">
                                    <br />

                                    <div class="two left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/marines/index.html"><img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_marines.png" alt="Marines"></a></div>
                                    <div class="seven left">
                                        <strong>Marines – 100 percent of tuition and fees, not to exceed:</strong><br />
                                        <ul class="indented-inline">
                                            <li>$250 at semester credit hour</li>
                                            <li>$166 at quarter credit hour</li>
                                            <li>$4,500 at fiscal year</li>
                                        </ul>
                                    </div>
                                    <div class="three left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/marines/index.html" class="button button-grey button-icon-arrow-right"><strong>More Information</strong></a></div>
                                </div>

                                <br />

                                <div class="clear">
                                    <br />

                                    <div class="two left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/coast-guard/index.html"><img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_coast_guard.png" alt="Coast Guard"></a></div>
                                    <div class="seven left">
                                        <strong>Coast Guard – 100 percent of tuition and fees, not to exceed:</strong><br />
                                        <ul class="indented-inline">
                                            <li>$250 at semester credit hour</li>
                                            <li>$166 at quarter credit hour</li>
                                            <li>$4,500 at fiscal year</li>
                                        </ul>
                                    </div>
                                    <div class="three left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/coast-guard/index.html" class="button button-grey button-icon-arrow-right"><strong>More Information</strong></a></div>
                                </div>

                                <br />

                                <div class="clear">
                                    <br />

                                    <div class="two left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/navy/index.html"><img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_navy.png" alt="Navy"></a></div>
                                    <div class="seven left">
                                        <strong>Navy – 100 percent of tuition and fees, not to exceed:</strong><br />
                                        <ul class="indented-inline">
                                            <li>$250 at semester credit hour</li>
                                            <li>$166 at quarter credit hour</li>
                                            <li>16 semester hours at fiscal year</li>
                                        </ul>
                                    </div>
                                    <div class="three left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/navy/index.html" class="button button-grey button-icon-arrow-right"><strong>More Information</strong></a></div>
                                </div>

                                <br />

                                <div class="clear">
                                    <br />

                                    <div class="two left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/air-force/index.html"><img src="{{ page.path }}/_images/elements/feature-tuition_assistance-info_air_force.png" alt="Air Force"></a></div>
                                    <div class="seven left">
                                        <strong>Air Force – 100 percent of tuition and fees, not to exceed:</strong><br />
                                        <ul class="indented-inline">
                                            <li>$250 at semester credit hour</li>
                                            <li>$166 at quarter credit hour</li>
                                            <li>$4,500 at fiscal year</li>
                                            <li>
                                                75 percent of tuition and fees not to exceed:
                                                <ul>
                                                    <li>$187.50 at semester hour</li>
                                                    <li>$3,500 at fiscal year</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="three left"><a href="{{ page.path }}/service-members/education-benefits/financial-assistance/air-force/index.html" class="button button-grey button-icon-arrow-right"><strong>More Information</strong></a></div>
                                </div>

                                <div class="clear"><br /></div>
                            </menu>

                            <hr />

                            <menu class="row">
                                <br />

                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-benefits-financial_assistance-va">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/education-benefits/va-benefits/index.html">
                                                    <strong>VA Benefits</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    <p class="flush">
                                        The Department of Veterans Affairs offers a variety of benefits and services that provide financial and other forms of assistance to service members, veterans, as well as their dependents and survivors.
                                    </p>
                                </div>
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-benefits-financial_assistance-other">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/education-benefits/financial-assistance/financial-aid-and-scholarships/index.html">
                                                    <strong>Other Financial Aid and Scholarship Information</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    <p class="flush">
                                        Explore other financial assistance opportunities through a list of available programs. We have compiled a list of other financial aid and scholarship options that may apply to you.
                                    </p>
                                </div>
                                <div class="four columns">
                                    <div class="row feature-box feature-box-preset service_members-benefits-financial_assistance-policies">
                                        <div class="eleven">
                                            <figure></figure>
                                            <figcaption>
                                                <a href="{{ page.path }}/service-members/education-benefits/financial-assistance/tuition-policies/index.html">
                                                    <strong>State Tuition Policies</strong>
                                                </a>
                                            </figcaption>
                                        </div>
                                    </div>
                                    <p class="flush">
                                        Learn about in-state tuition for members of the armed forces (Army, Navy, Air Force, Marine Corps, and Coast Guard) who have been on active duty for a period of more than 30 days.
                                    </p>
                                </div>
                            </menu>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>