---
layout: default
title: Tips for Successful Completion &mdash; Prep for College | Service Members
path: ../../..
body_class:
social: {
    title: "Tips for Successful Completion",
    description: "Distance learning comes with special challenges - especially for military personnel. We offer practical advice to help you achieve your educational goals."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='service_members-distance_learning-tips.jpg' slide_title='Tips for Successful Completion' %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/service-members/index.html">Service Members</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/index.html">Prep for College</a></li>
                                <li><a href="{{ page.path }}/service-members/prep-for-college/tips/index.html">Tips for Successful Completion</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Meet the challenges of distance learning to achieve your educational goals.</h1>
                            <p>Being prepared for challenges and working hard is already part of your life. Completing a distance learning program requires the same approach. The following tips will help you select a course of study best suited to meet your career goals, as well as how to plan and navigate your way each stage of the process.</p>
                            
							<br />
                            
                            <ul class="accordion">
	                            <li>
                            		<div class="title">
                            			<h5>How a student should select and complete distance learning courses</h5>
                            		</div>
                            		<div class="content">
                                        <br />

                                    	<ul class="expanded">
                                            <li>Enroll for a definite reason that you can verbalize and outline on paper. Define solid goals: degree or knowledge needs, not frivolous purposes. Will the course or courses help advance your military career or academic goals?</li>
                                            <li>Obtain a clear, complete description of the course. Review the school catalog. Know exactly how your course fits into your degree plan. Ensure your home school will accept the course you are taking, and that the course will satisfy a definite degree requirement. Give your home school a copy of the description. Will the course fit where you need it?</li>
                                            <li>Consider enrolling with a friend. Study with a partner. Distance Learning students need a support group.</li>
                                            <li>If available, fully participate in discussions on your class site. Your virtual classmates and professor are very important to your academic success.</li>
                                            <li>Study in the same place for each study session. Choose an appropriate site. Apply yourself, and take a break when needed.</li>
                                            <li>Devise a reasonable study plan. Set aside time in your schedule to work on your course requirements.</li>
                                            <li>Check your plan against the course outline and study guide provided by the school. Ensure they both look realistic when balanced with your work schedule, family, and other obligations.</li>
                                            <li>Include milestones to be reached according to the course outline. Be reasonable. Set aside some time to reward yourself when those milestones are passed, not before!</li>
                                            <li>Include check points in your plan. Check your progress periodically. Be honest and serious.</li>
                                            <li>Students who execute their study plan are most likely to complete the course successfully.</li>
                                            <li>Tell someone you respect about your course. Discuss your course with that person occasionally. There is a difference between involvement and commitment.</li>
                                            <li>If necessary, determine who will administer your exams. If your Education Office can do this, make arrangements many weeks prior to your exam and coordinate with your school. Make sure you take your exam at the pre-arranged appointment time, as your Education Office may not be able to reschedule another exam time that meets your schedule.</li>
                                            <li>There are many sources of help while you study at a distance. The school is the most logical place to ask for help (consider your professor, school advisor, education counselor, on-base instructors, subject matter experts, or friends).</li>
                                            <li>Review feedback from instructors. Consider all graded or returned lessons. Review text materials to understand key concepts.</li>
                                            <li>Completing a distance learning course takes motivation and hard work. The good news is, once you have successfully completed a distance learning course, completing future courses will be much easier.</li>
                                        </ul>

                                        <br />
                                    </div>
                                </li>

	                            <li>
                            		<div class="title">
                            			<h5>How a student should select an external degree program</h5>
                            		</div>
                            		<div class="content">
                                        <br />

                                        <ul class="expanded">
                                            <li>Consider your life goal. Is this your final degree or are you after a later "big-name" school. What's in a school's name? Consider your strengths and skills.</li>
                                            <li>What is the total cost? Consider tuition and maintenance fees? Consider all yearly fees. Some "collection type" schools charge additional fees. Enroll when you are close to your target degree.</li>
                                            <li>What is your motivation for a degree? Is the degree for your military career, or to meet later civilian job requirements?</li>
                                            <li>Will "any school" suffice or is "name" important? If a BS or MS is your goal, what percentage of the graduates go on to higher degrees, and to which schools?</li>
                                            <li>Does the school accept ACE credit, prior learning, CLEP, and DSSTs? Must tests have been taken within a specified time, such as the last 10 years? Is there a limit on the kind or amount of testing credit?</li>
                                            <li>How is previous credit transferred? Are there fees for transfer? Is there a time limit on how recently the credit must have been earned? Are there unique rules for lower or upper-level credit transfer?</li>
                                            <li>Is the school a SOC or SOC network member? Does the school offer other ways that classes can be taken. Does it offer a contract for degree?</li>
                                            <li>What is the mode of delivery: pen and paper, video, audio, computer conferencing? Do you have the needed equipment?</li>
                                            <li>Is the degree completely external or is there an on-campus requirement? How many credits must you earn with the school? If there is an on-campus requirement, do your family and job commitments leave enough time to complete the degree? Are your family members and job supervisors supportive?</li>
                                            <li>Does the school's accreditation meet your needs? Will credit transfer where you need it later?</li>
                                            <li>When do you need your degree? How long will it take to finish? Getting an external degree is not easier than going to class with your friends; it's harder!</li>
                                            <li>What student services are provided? Examples include a toll free number, FAX, E-mail, quick turn around on assignments and provision of transcripts, a single source for books, etc.</li>
                                        </ul>

                                        <br />
                                    </div>
                                </li>

	                            <li>
                            		<div class="title">
                            			<h5>How a student should select and complete distance learning courses</h5>
                            		</div>
                            		<div class="content">
                                        <br />

                                        <ul class="expanded">
                                            <li>Determine your degree goal. Don't start with random courses unless you know they'll count.</li>
                                            <li>View the school's catalog on the web or order the catalog from the school you have selected. Study the degree requirements.</li>
                                            <li>Ensure you meet all entrance requirements.</li>
                                            <li>Request an evaluation to receive credit from the ACE Guide and any testing for credit you have completed.</li>
                                            <li>Apply for an evaluation of all credits earned from past military and civilian jobs, class attendance, other distance learning courses, and the Community College of the Air Force (CCAF).</li>
                                            <li>Identify your remaining requirements after the evaluation is complete. The school's list of required courses will allow you to plan alternatives and commit yourself for the long term.</li>
                                            <li>Before you embark on a multi-year journey, make the school commit itself. Have the institution do a degree plan.</li>
                                            <li>If pursuing an undergraduate degree, identify exams that may transfer into the degree program such as CLEP, DSSTs, Excelsior College Exams, or others from the DANTES Independent Study Catalog.</li>
                                            <li>Assess your potential for passing exams. Do you have prior experience with tests or strength in certain subject areas?</li>
                                            <li>Identify independent study courses to replace "difficult-to-get" courses.</li>
                                            <li>Draw up a formal written plan. Send a copy of your plan to the institution for approval and commitment. Keep records of all work, discussions, and agreements.</li>
                                        </ul>

                                        <br />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>