---
layout: default
title: Freedom of Information Act
path: ..
body_class:
social: {
    title: "Freedom of Information Act",
    description: "The Defense Activity for Non-Traditional Education Support (DANTES) Web site is committed to meeting the Freedom of Information Act (FOIA) Program set forth by Federal Law."
}
footer_extra:
header_extra:
---
            {% include cta.simple.html slide_name='homepage.jpg' slide_title=page.title %}
            <article class="has-sidebar">
            	<section>
                	<div class="content row">
                    	<div class="nine">
                            <ul class="breadcrumbs">
                                <li><a href="{{ page.path }}/index.html">Home</a></li>
                                <li><a href="{{ page.path }}/freedom-of-information-act/index.html">Freedom of Information Act</a></li>
                            </ul>
                            {% include social.html %}

                            <h1>Freedom of Information Act (FOIA)</h1>
                            <p>The Defense Activity for Non-Traditional Education Support (DANTES) Web site is committed to meeting the <a href="{{ page.path }}/_content/FOIA_Handbook.pdf#zoom=100" target="_blank">Freedom of Information Act (FOIA) Program</a> (.PDF 148 KB) set forth by Federal Law. It is therefore our objective to ensure that information contained within our website is compliant with <a href="{{ page.path }}/_content/DoDMemo_names_removal.pdf#zoom=100" target="_blank">DoD FOIA guidance</a> (.PDF 238 KB).</p>

                            <hr />
                            
                            <p>&nbsp;</p>
                            <p><strong>Important Notice:</strong></p>
                            <p>The files available from this page are Adobe Acrobat files. In order to view them you must have the Acrobat Reader. If you do not have this software, it is available free from Adobe at www.adobe.com/. If you are unfamiliar with downloading software from the Internet, please seek assistance from your computer support personnel. The DANTES staff is unable to assist with this software download.</p>
                        </div>
                        {% include aside.quicklinks.generic.html %}
                    </div>
                </section>
            </article>